.testimonials-container {
  display: flex;
  justify-content: center;
  flex-flow: "1 1 auto";
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 60px;
}
.testimonials-container .testimonial-card {
  background: var(--component-background);
  border: 1px solid var(--border-dark);
  flex: 1;
  min-width: 320px;
}
