.session-settings-radio-item.ant-radio-wrapper {
  width: 100%;
  display: block;
  margin-right: 0;
  padding: 1rem 1.25rem;
  display: inline-flex;
  flex-wrap: nowrap;
}

.session-settings-radio-item.ant-radio-wrapper .ant-radio {
  margin-bottom: -1px;
}

.session-settings-radio-item.ant-radio-wrapper .info {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
}

.session-settings-radio-item.ant-radio-wrapper .info .title {
  font-size: var(--requestly-font-size-sm, 13px);
  font-weight: 500;
  color: var(--requestly-color-text-default);
  line-height: unset;
}

.session-settings-radio-item.ant-radio-wrapper .info .caption {
  font-size: var(--requestly-font-size-sm, 12px);
  color: var(--text-gray);
  line-height: unset;
}
