.collections-list-container {
  .collections-list-content {
    .collections-list-item {
      &.api {
        .request-method {
          flex-shrink: 0;
          font-size: var(--requestly-font-size-2xs);
        }

        .request-url {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: var(--requestly-font-size-sm, 13px);
          color: var(--requestly-color-text-default);
        }

        &:hover,
        &.active {
          background-color: var(--gray-dark);
        }
      }
    }
  }
}
