.desktop-app-auth-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .desktop-app-auth-screen-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-9, 32px);
  }
}
