.incentive-section-header-container {
  &_title-container {
    display: flex;
    gap: 8px;
    align-items: center;

    .incentive-section-title {
      font-size: var(--requestly-font-size-lg);
      font-weight: 500;
      color: var(--requestly-color-text-default);
    }
  }

  .incentive-section-duration-badge {
    background: var(--requestly-color-warning);
    padding: 4px 6px;
    border-radius: 4px;
    color: var(--requestly-color-black);
    font-weight: 500;
    font-size: var(--requestly-font-size-xs);
    display: flex;
    align-items: center;
    gap: 6px;

    & svg {
      width: 1rem;
      height: 1rem;
      position: relative;
      top: -1px;
    }
  }

  .incentive-section-description {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-size: var(--requestly-font-size-sm);
      color: var(--requestly-color-text-default);
    }

    a {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
