.post-session-save-widget-container {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #1a1a1a;
  box-shadow: 0px 16px 24px -4px rgba(0, 0, 0, 0.32);
  padding: 1rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2147483647;
  color: #fff;
  width: 320px;
  font-family: system-ui;
  opacity: 0;
  top: -32px;
  animation: slide-in 0.2s ease-out forwards;
}

@keyframes slide-in {
  0% {
    top: -32px;
    opacity: 0;
  }
  100% {
    top: 32px;
    opacity: 1;
  }
}

.hidden {
  display: none !important;
}

.session-saving-loader,
.session-saving-loader div {
  box-sizing: border-box;
}
.session-saving-loader {
  display: inline-block;
}
.session-saving-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: session-saving-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.session-saving-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.session-saving-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.session-saving-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes session-saving-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.session-saving-title-container,
.session-saved-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-saving-title-container {
  gap: 2.8rem;
  margin-top: -16px;
}

.session-saved-title-container {
  gap: 8px;
  justify-content: flex-start;
}

.session-saved-title-icon svg {
  width: 24px;
  height: 24px;
  position: relative;
  align-self: center;
  top: 3px;
}

.session-saving-title {
  position: relative;
  top: 20px;
  font-weight: 500;
  font-size: 16px;
}

.session-saved-title {
  font-weight: 500;
  font-size: 16px;
}

.session-saving-description,
.session-saved-description {
  text-align: center;
  font-size: 13px;
  color: #bbb;
}

.session-saving-view .session-saving-description {
  margin-top: 2.5rem;
}

.session-saved-view {
  position: relative;
}

.session-saved-close-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.session-saved-close-icon svg {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: #fff;
}

.session-saved-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.session-saved-view .session-saved-description {
  margin-top: 12px;
  font-size: 14px;
  max-width: 260px;
}

.session-saved-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.session-copy-link-btn,
.view-session-btn {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 8px 12px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}

.session-copy-link-btn {
  background: rgba(255, 255, 255, 0.06);
}

.view-session-btn {
  background: #004eeb;
}
