.sidebar-footer-actions {
  border-top: 1px solid var(--requestly-color-white-t-10);
  padding: 6px 8px;
  display: flex;
  flex-direction: column;

  &__button {
    width: 100%;
    justify-content: flex-start;
  }
}
