.auth-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .auth-screen-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-9, 32px);
  }
  .auth-mode-toggle {
    font-size: var(--requestly-font-size-sm);
    .ant-btn {
      padding: 0;
      font-size: var(--requestly-font-size-sm);
    }
  }

  .auth-screen-error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-2, 8px);
    align-self: stretch;
    color: var(--requestly-color-warning-300);
    font-size: var(--requestly-font-size-sm);
    margin-bottom: 12px;

    span {
      align-self: flex-start;
    }

    svg {
      flex-shrink: 0;
      align-self: flex-start;
      width: 16px;
      height: 16px;
      position: relative;
      top: 2px;
    }
  }

  .auth-screen-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .enter-email-card-footer {
    margin-top: 16px;
    font-size: var(--requestly-font-size-xs);
    color: var(--requestly-color-text-placeholder);
  }
}
