.merge-view-editor {
  .cm-deletedChunk {
    background: #df25251f;
  }

  .cm-deletedLineGutter {
    background: #dd6b55;
  }

  .cm-changedLineGutter {
    background: #3fb9504d;
  }

  .cm-changedLine {
    background-color: #163f2961;
  }

  .cm-insertedLine {
    .cm-changedText {
      background: #18912e40;
    }
    span {
      color: unset;
    }
  }

  .merge-view-chunk-button {
    color: var(--requestly-color-text-default);
    font-weight: var(--requestly-font-weight-medium);
    font-size: var(--requestly-font-size-xs);
    border-radius: 4px !important;
    font-family: var(--requestly-font-family-default), Inter;
    padding: auto 10px;

    &__accept {
      background: var(--requestly-color-success-darker);
    }
    &__reject {
      background: var(--requestly-color-error-darker);
    }
  }
}
