.auth-modal {
  max-width: 1136px;
}
.modal-close-icon {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 20px;
  z-index: 9999;
}

.auth-modal-wrapper .ant-modal-content {
  background: transparent;
  box-shadow: none;
}

.auth-modal-wrapper .onboarding-auth-screen-wrapper {
  margin-top: 0;
}
