.pricing-table {
  margin-top: 24px;
  gap: 24px;
  overflow: scroll;
  scroll-behavior: smooth;

  &.api-client {
    justify-content: center;
    .plan-card {
      max-width: 310px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .recommended-plan-card {
    border: 1px solid var(--requestly-color-success);
  }
  .recommended-tag {
    position: relative;
    bottom: 2px;
    align-self: flex-start;
    padding: 4px;
    border-radius: var(--border-radius-sm);
    background: var(--requestly-color-success);
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: var(--requestly-font-size-2xs);
    color: var(--requestly-color-black);
  }

  & .ant-input-number-handler-wrap {
    opacity: 1;
  }

  .ant-input-number:hover,
  .ant-input-number:focus,
  .ant-input-number:active {
    border-color: var(--surface-3);
  }

  .ant-input-number-sm {
    background: transparent;

    .anticon {
      color: var(--requestly-color-text-default);
    }

    .ant-input-number-handler:hover .anticon {
      color: var(--requestly-color-text-default);
    }
  }
}

.plan-price-row {
  margin-top: 4px;
  font-size: var(--requestly-font-size-sm, 12px);
  min-height: 60px;

  .caption {
    &.text-white {
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-sm, 12px);
      font-weight: 400;
      line-height: 18px;
      font-style: normal;
      font-family: var(--requestly-font-family-default);
    }
  }
}

.plan-price-row .ant-space-item:first-child {
  min-width: 40px;
  font-size: 32px;
}

.plan-price.enterprise-pricing-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .enterprise-pricing-details {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
.plan-price.caption {
  margin-top: 10px;
}

.plan-card {
  min-width: 310px;
  height: auto;
  border-radius: var(--border-radius-md);
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: var(--requestly-color-background);
  position: relative;
  padding: 32px 24px;

  .plan-card-middle-section {
    display: flex;
    flex-direction: column;
    min-height: 175px;
  }

  .plan-card-details {
    padding-bottom: 24px;
  }

  .student-plan-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-6, 16px);
    gap: 8px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    color: var(--requestly-color-success-200, #6fdaa6);
    font-size: var(--requestly-font-size-sm, 12px);
    background: var(--requestly-color-success-800, #104b2f);

    svg.gift-plan-icon {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      color: var(--requestly-color-success-200, #6fdaa6);
    }

    a {
      color: inherit;
      line-height: 18px; /* 150% */
    }

    .info-icon {
      width: 12px;
      height: 14px;
      flex-shrink: 0;
    }
  }

  .plan-card-current-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--requestly-color-surface-2);
    color: var(--requestly-color-text-default);
    font-weight: var(--requestly-font-weight-bold);
    font-size: var(--requestly-font-size-xs);
    text-align: center;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  }
}

.plan-name.ant-typography {
  font-size: var(--requestly-font-size-lg, 16px);
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  color: var(--requestly-color-text-default);
}

.plan-price.ant-typography {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}

.plan-description {
  font-size: var(--requestly-font-size-sm, 13px);
  color: var(--text-light);
}

.current-pricing-plan-tag {
  border-radius: 4px;
  background: var(--surface-3);
  padding: 5px 12px;
}

.pro-basic-feature-title {
  font-size: 1rem;
  color: var(--requestly-color-text-default);
  font-weight: 500;
  margin-top: 24px;

  & span {
    display: inline-flex;
    flex-direction: column;
  }

  & span img {
    width: 75px;
    height: 8px;
  }

  &.api-client {
    line-height: 18px;
    font-size: var(--requestly-font-size-sm, 12px);
    font-weight: 500;
    color: var(--requestly-color-warning-400);
  }
}

.plan-features-list {
  margin-top: 10px;
}

.plan-feature-item {
  display: flex;
  gap: 8px;
  color: var(--neutrals-gray-300);

  span {
    font-size: var(--requestly-font-size-sm, 12px);
    line-height: 18px;
  }

  & img {
    width: 12px;
    align-self: flex-start;
    margin-top: 2px;
  }
}

.plan-feature-underline {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  color: var(--requestly-color-text-subtle);
}

.disabled-col {
  background-color: rgba(31, 31, 31, 0.7);
  & * {
    opacity: 0.7;
  }
}

.only-annual-text {
  color: var(--requestly-color-primary-300);
  opacity: 1;
}

.quantity-container {
  margin-top: 8px;
  margin-bottom: 16px;
  min-height: 32px;

  .pricing-plan-quantity-selector__select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--requestly-color-surface-3);
    background: var(--requestly-color-surface-3);

    .ant-select-selector {
      border: none !important;
    }
    .ant-select-arrow {
      color: var(--requestly-color-text-default);
    }
  }
}

.quantity-selector {
  display: flex;

  .members {
    margin-left: 8px;
    margin-top: 4px;
    color: var(--requestly-color-text-subtle);
  }
}
