.rule-builder-container {
  width: 100%;
  height: 100%;
}

.rule-builder-body-wrapper {
  width: 100%;
  padding: 0 1rem;
}

.rule-editor-help-btn.ant-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  padding: 15px 16px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--requestly-font-size-sm, 13px);
  color: var(--requestly-color-text-default);
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-0);
}

.rule-editor-help-btn.ant-btn:hover {
  opacity: 0.7;
  color: var(--requestly-color-text-default);
  border-color: var(--border-dark);
}

.rule-editor-help-btn.ant-btn span:first-child {
  margin-right: 12px;
  display: inline-block;
}

.rule-editor-help-btn.ant-btn svg {
  width: 11px;
  height: 7px;
  color: var(--text-gray);
}
