.request-body-redirect-screen-container {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  align-self: stretch;

  .request-body-redirect-screen-empty-state {
    display: flex;
    width: 440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .request-body-redirect-screen-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      .request-body-redirect-screen-title {
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .request-body-redirect-screen-description {
        color: var(--requestly-color-text-subtle);
        text-align: center;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
      }
    }
  }
}
