:host {
  position: fixed !important;
  z-index: 2147483647 !important;
}

#container {
  background-color: #212121;
  border-radius: 24px;
  padding: 4px;
  margin: auto;
  color: #fff;
  font-family: system-ui;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  cursor: move;
  display: none;
}

#container.visible {
  display: flex;
}

.action {
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition: border 0.2s;
  -moz-transition: border 0.2s;
  transition: border 0.2s;
  border: 1px solid transparent;
}

.action:hover {
  border: 1px solid #161a25;
}

.stop-recording {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 35px;
  background: #e43434;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  box-sizing: border-box;
  margin-left: 7px;
}

.stop-recording svg {
  width: 18px;
  height: 18px;
  margin-right: 7px;
  flex-shrink: 0;
}

.discard-recording {
  gap: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background: #51525c;
}

.discard-recording svg {
  width: 18px;
  height: 18px;
}

.recording-time {
  min-width: 37px;
}

.recording-info-icon {
  display: none;
  margin-right: 8px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.recording-info-icon.visible {
  display: flex;
}

.recording-info-icon.visible + .stop-recording {
  margin-left: 0;
}

.recording-info-icon svg {
  width: 24px;
  height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.recording-info-icon:hover::after {
  display: block;
}

.recording-info-icon::after {
  display: none;
  content: attr(data-tooltip);
  white-space: break-spaces;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translate(-30%, -112%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  width: 218px;
  max-width: 232px;
  padding: 8px 12px;
  border-radius: 4px;
  background: #000000;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.48);
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.recording-icon {
  flex-shrink: 0;
  display: inline-block;
  margin-left: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e43434;
  box-sizing: border-box;
  animation: blink 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
