.variable-info-popover {
  .secrets-variable-info-container {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: var(--space-2, 4px);

    .secrets-variable-header {
      display: flex;
      width: 300px;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-3, 6px) var(--space-4, 8px);
      border-bottom: 1px solid var(--requestly-color-white-t-10);
      padding-right: 0px;

      .secrets-provider-info {
        display: flex;
        align-items: center;
        gap: 8px;

        .provider-check-icon {
          color: var(--requestly-color-success-text, #6fdaa6);
          font-size: 12px;
        }

        .provider-name {
          color: var(--requestly-color-text-default);
          font-family: var(--requestly-font-family-default);
          font-size: var(--requestly-font-size-sm);
          font-weight: var(--requestly-font-weight-medium);
        }
      }

      .manage-button {
        height: 24px;
        font-size: var(--requestly-font-size-xs);
        color: var(--requestly-color-text-subtle, #bbb);
        border-radius: 4px !important;
      }
    }

    .secrets-variable-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      padding: var(--space-3, 6px) var(--space-4, 8px);

      .secrets-info-row {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .secrets-info-label {
          overflow: hidden;
          color: var(--requestly-color-text-subtle, #bbb);
          text-overflow: ellipsis;
          font-family: var(--font-family-default, Inter);
          font-size: var(--font-size-sm, 12px);
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          width: 70px;
        }

        .secrets-info-value {
          overflow: hidden;
          color: var(--requestly-color-text-default, #fff);
          text-overflow: ellipsis;
          font-family: var(--font-family-default, Inter);
          font-size: var(--font-size-sm, 12px);
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }
}
