.rq-snippet {
  background: var(--requestly-color-surface-0);
  padding: 12px 16px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  code {
    white-space: pre-line;
  }

  &__copy-button {
    right: 8px;
    top: 8px;
  }
}
