.onboarding-container {
  max-height: 262px;
  padding: 0 20px;
}

.onboarding-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.onboarding-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-secondary);
}

.view-all-link {
  padding: 8px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  background-color: var(--background-color-component);
}

.watch-demo-link {
  padding: 0;
  margin-bottom: 20px;
}

.watch-demo-link:hover.ant-btn {
  background-color: transparent;
}

.popup div .onboarding-header-title {
  margin: 2px 0 0 0;
}

.rule-selector {
  margin: 20px 0 20px 1px;
}

.rule-selector-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.rule-selector-text {
  padding: 8px 0;
}

.rule-selector .rule-selector-col .rule-icon {
  width: 115px;
  height: 60px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  background-color: var(--background-color-component);
}

.rule-selector .rule-selector-col:nth-child(2) {
  margin: 0 11px;
}

.rule-selector .rule-selector-col:last-child {
  margin-left: 20px;
}

.rule-selector .rule-selector-col .rule-icon:hover {
  opacity: 0.6;
}

.rule-icon svg {
  width: 16px;
  height: 16px;
  color: var(--color-icon);
}

.rule-icon.ant-btn.ant-btn-icon-only span.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
