.connected-apps-modal .rq-modal.ant-modal {
  width: 900px !important;
}
.connected-apps-modal .contected-apps-modal-content {
  padding: 20px;
}

.connected-apps-modal .source-tabs-container {
  width: 100%;
}
