.api-client-sidebar {
  .api-client-secondary-sidebar {
    flex-shrink: 0;
    height: 100%;
    background-color: var(--body-background);
    border-right: 1px solid var(--border-dark);

    .sidebar-item {
      line-height: 15.92px;
      text-align: center;
      font-weight: var(--requestly-font-weight-medium);
      font-size: var(--requestly-font-size-2xs);
      cursor: pointer;

      padding: 4px 8px;
      min-height: 70px;
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      row-gap: 8px;
      color: var(--text-dark-gray); // TODO: update the variable

      .item-icon svg {
        width: 20px;
        height: 20px;
      }

      &:hover,
      &.active {
        color: var(--white);
        background-color: var(--gray-dark);
        border: none !important;
      }
    }
  }
}
