.import-collections-modal {
  .ant-modal-header {
    border-bottom: none;
  }

  &-title {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    a {
      display: inline-flex;
      align-items: center;
    }
  }

  &-info-icon {
    color: var(--requestly-color-text-subtle);
    cursor: pointer;
    width: 16px;
    height: 16px;

    &:hover {
      color: var(--requestly-color-primary);
    }
  }

  .ant-modal-body {
    padding: 1rem;
    padding-top: 0;
  }

  .collections-parse-result-icon {
    font-size: 32px;

    &.success {
      color: var(--requestly-color-success);
    }

    &.error {
      color: var(--requestly-color-error);
    }
  }

  .collections-import-error-text {
    text-align: center;
    max-width: 450px;
    white-space: pre-line;
  }

  .collections-parsed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
