.network-event-filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .url-filter {
    width: 200px;
    padding: 2px 6px;
  }

  .resource-type-filter {
    margin-left: 10px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .ant-radio-button-wrapper {
      border: 0;
      margin-left: 6px;
      background: transparent;
      font-size: 12px;
      line-height: 18px;
      height: 18px;

      &::before {
        display: none;
      }

      &.ant-radio-button-wrapper-checked {
        background-color: var(--background-color-radiobutton-selected);
        color: var(--color-secondary);
        border-radius: 4px;
      }
    }

    .divider {
      height: 16px;
      margin-right: 0;
      margin-left: 8px;
    }
  }
}
