.properties-grid-container {
  border-radius: 4px;
  border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));

  .properties-grid-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 8px;
    padding: 8px;

    &:nth-child(even) {
      background-color: var(--requestly-color-surface-1);
    }

    &__key {
      overflow: hidden;
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      text-overflow: ellipsis;
    }

    &__value {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var(--requestly-font-size-xs);
      color: var(--requestly-color-text-default);
    }
  }
}
