.test-url-modal {
  .ant-modal-body {
    background: var(--component-background);
  }
  &-header {
    padding: 20px 30px;
    padding-bottom: 0;

    h4.ant-typography {
      color: var(--white);
    }
  }
  .ant-divider {
    margin: 1rem 0;
  }
  &-body {
    padding: 16px 30px;
    padding-top: 0;

    .source-condition-input-wrapper,
    .test-url-modal-section .ant-input {
      box-shadow: var(--input-box-shadow);
      border-radius: var(--border-radius-sm);
      background-color: var(--component-dark-background);
    }

    .source-condition-input-wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 4px 6px;

      .source-condition-selector .ant-select-selector {
        background: var(--input-background);

        .ant-select-selection-item {
          font-weight: bold;
        }
      }
      .source-url-input {
        flex: 1;
        background: transparent;
        border: none;
        margin: 0;
        padding: 8px;
        outline: none;
        border: none;

        &:focus {
          outline: none;
          border: none;
          box-shadow: none;
        }
      }
      .invalid-regex-badge {
        font-size: 12px;
        font-weight: 500;
        color: var(--white);
        background: rgba(255, 66, 66, 0.263);
        border-radius: var(--border-radius-sm);
        padding: 1px 7px;
      }
    }
  }
  &-section {
    margin-top: 1.5rem;

    .ant-input {
      padding: 12px;
      padding-left: 8px;
      border: none;
    }
  }
  .test-url-modal-section.match-result {
    .anticon {
      font-size: 1rem;
    }
  }
  .result-text {
    margin-left: 8px;
  }
}
