.rules-actions-container {
  column-gap: 4px;
  justify-content: flex-end;
}

.rq-content-list-table-row.record-pinned .ant-table-selection-column {
  border-left: 4px solid var(--requestly-color-warning) !important;
}

.rq-content-list-table-row > button {
  flex-shrink: 0;
  padding: 8px 12px;
}

.rq-content-list-table-row button.ant-btn.ant-btn-icon-only.pin-record-btn svg.record-pinned {
  color: var(--requestly-color-warning);
}

.rq-content-list-table-row
  button.ant-btn.ant-btn-icon-only.pin-record-btn.pin-record-btn-pinned:hover
  svg.record-pinned {
  color: var(--requestly-color-warning);
}

.rq-content-list-table-row button.ant-btn.ant-btn-icon-only.pin-record-btn svg.record-unpinned {
  color: var(--requestly-color-text-subtle);
}

.rq-content-list-table-row .ant-table-cell-with-append:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 16px 0;
}

/* TODO: fix inconsistency in class names rule-list-table and rules-list-table */
.rule-list-table .ant-table-body .ant-table-tbody .rq-content-list-table-row td.ant-table-cell:nth-child(2) {
  padding: 12px 0;
}

::-webkit-scrollbar-corner {
  background: #ffff0000;
}

.rq-content-list-table-row.ant-table-row td.ant-table-cell:nth-child(2) > button.ant-table-row-expand-icon,
.rq-content-list-table-row td.ant-table-cell:nth-child(2) > button.pin-record-btn {
  flex-shrink: 0;
}

.rq-content-list-table-row td.ant-table-cell:nth-child(2) > button.ant-table-row-expand-icon {
  margin-top: 0px;
}

.rq-content-list-table-row:not(.rq-content-list-table-row-group) td.ant-table-cell:nth-child(2) .indent-level-0 {
  padding-left: 18px !important;
}

.rule-more-actions-dropdown .ant-dropdown-menu {
  padding: 4px;
  background: var(--requestly-color-surface-0);
  border: 1px solid var(--requestly-color-surface-1);
  border-radius: 4px;
  box-shadow: 0px 8px 12px 0px var(--requestly-color-black-t-20);
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  width: 160px;
  height: 36px;
  margin: 0;
  padding: 8px 12px;
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-md, 14px);
  line-height: 20px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  border-radius: 4px;
  background: var(--requestly-color-surface-1);
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: var(--requestly-color-error);
}

.rule-name-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
}

.rule-name-container .rule-name {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--requestly-font-size-sm);
}

.rule-name-container .rule-name .rule-name-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rule-name-container .rule-name .rule-name-wrapper .ant-typography {
  /* TODO: use theme variables */
  color: #3ba0ff;
  transition: color 0.2s ease;
}

.rule-name-container .rule-name .rule-name-wrapper .ant-typography:hover {
  /* TODO: use theme variables */
  color: #1f50b1;
}

.rule-name-container .rule-name-wrapper .sample-rule-tag {
  border-radius: var(--space-2, 4px);
  background: rgba(0, 78, 235, 0.4);
  padding: var(--space-1, 2px) var(--space-2, 4px);
  color: var(--requestly-color-primary-100, #cbe2fe);
  text-align: center;
  font-size: var(--requestly-font-size-2xs);
  font-weight: 500;
  line-height: var(--line-height-2xs, 13px); /* 130% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 48px;
}

.rule-name-container .rule-description-icon {
  display: flex;
  align-items: center;
  font-size: var(--requestly-font-size-lg, 16px);
  color: var(--requestly-color-text-placeholder);
}

.rules-table-ellipsis-tooltip .ant-tooltip-inner {
  font-size: var(--requestly-font-size-sm);
  background: var(--requestly-color-black);
}

.group-name-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.group-name-container .group-name.ant-typography {
  max-width: 262px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--requestly-font-size-sm);
  color: var(--requestly-color-text-default);
}

.group-name-container .group-rules-count-details {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-xs, 11px);
  font-weight: 500;
  letter-spacing: 0.4px;
  flex-shrink: 0;
  padding: 2px 4px;
  cursor: default;
}

.group-name-container .group-rules-count-details .active-status {
  width: 10px;
  height: 10px;
  background: var(--requestly-color-success);
  flex-shrink: 0;
  border-radius: 100%;
}

.group-rules-count-details .ant-progress .ant-progress-inner {
  /* Adding important because antd adds height and width as inline style */
  height: unset !important;
  width: 1rem !important;
}

.group-name-container .add-rule-btn {
  display: none;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  height: 24px;
}

.rule-updated-on-cell {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--requestly-font-size-sm);
}

tr.rq-content-list-table-row.ant-table-row:hover .group-name-container .add-rule-btn {
  display: flex;
}

.rules-list-table.read-only .rq-content-list-table-row-group > td:first-child {
  display: flex;
  gap: 2px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
