.auth-screen-back-btn.request-new-password-back-btn {
  left: -20px;
  top: 0;
  color: var(--requestly-color-text-subtle);
}

.request-new-password-screen-text {
  font-size: var(--requestly-font-size-sm, 13px);
  color: var(--neutrals-gray-300);
  margin-top: 12px;
}

.request-new-password-btn {
  font-weight: 500;

  & span {
    font-size: var(--requestly-font-size-md, 14px);
  }
}
