.settings-primary-sidebar {
  width: 184px;
  padding: 12px;
  background: var(--requestly-color-surface-0);
  border-right: 1px solid var(--requestly-color-surface-2);
  height: 100vh;
}

.settings-primary-sidebar-back-btn {
  cursor: pointer;
  margin-bottom: 12px;

  &:hover {
    opacity: 0.8;
  }
}

.settings-primary-sidebar-title-icon {
  margin-top: 3px;
  color: var(--requestly-color-text-secondary);
  font-size: 1rem;
  height: 1rem;
}

.settings-primary-sidebar-back-label {
  color: var(--requestly-color-text-secondary);
  font-size: 0.9rem;
  font-weight: 400;
}

.settings-primary-sidebar-title {
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-lg, 16px);
  font-weight: 400;
  padding-left: 4px;
  margin-bottom: 8px;
}

.settings-primary-sidebar-section:not(:first-child) {
  margin-top: 1rem;
}
