.test-this-rule-container {
  height: inherit;
}

.test-rule-input {
  height: 32px;
  transition: none;

  &::placeholder {
    color: var(--neutrals-gray-400);
  }
}

.test-rule-btn.ant-btn {
  gap: 4px;
}

.test-rule-checkbox {
  margin-top: 8px;
  color: var(--text-default);
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 18px;
}

.test-results-header {
  color: var(--text-default);
}

.test-reports-container {
  flex: 1;
  height: inherit;
}
