.email-suggestion-dropdown {
  overflow: auto;
  max-height: 200px;
  background-color: var(--background);
  border-radius: var(--border-radius-md);
}

.email-suggestion-dropdown .ant-dropdown-menu {
  border: none;
}

.react-multi-email.empty > span[data-placeholder] {
  color: var(--text-light);
}
