.request-details-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--requestly-color-surface-0);
  border-left: 1px solid var(--requestly-color-border-primary);

  .request-details-panel-header {
    padding: 16px;
    border-bottom: 1px solid var(--requestly-color-border-primary);
    background: var(--requestly-color-surface-1);

    .status-code,
    .response-time {
      color: var(--requestly-color-text-default);
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.request-details-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .request-details-header {
    display: flex;
    padding: var(--space-3, 6px) var(--space-3, 6px) var(--space-0, 0) var(--space-6, 16px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    font-size: var(--font-size-sm, 9px);

    .request-details {
      display: flex;
      align-items: center;
      gap: 4px;
      justify-content: space-between;
      width: 100%;

      .request-method-breadcrumb-section {
        display: flex;
      }

      .icon {
        margin-right: 4px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-top: -1px;
      }

      svg.graphql-request-icon {
        width: 16px;
        min-width: 16px;
      }

      .request-method {
        background-color: transparent !important;
        font-size: var(--requestly-font-size-2xs, 9px);
        font-style: normal;
        font-weight: 600;
        line-height: 13px; /* 144.444% */
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
      .request-name-details-breadcrumb {
        margin-top: -2px;

        .anticon-down {
          display: none;
        }
      }

      .root-collection-name {
        font-size: var(--requestly-font-size-sm);
      }

      .collection-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
        color: var(--requestly-color-text-placeholder, #8f8f8f);
        text-overflow: ellipsis;
        font-size: var(--requestly-font-size-xs, 11px);
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 154.545% */
      }

      .request-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--requestly-color-text-default, #fff);
        font-size: var(--requestly-font-size-sm, 12px);
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 150% */
        margin-right: 4px;
        cursor: pointer;
        margin-top: 3px;
      }

      .response-details {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--requestly-color-text-placeholder, #8f8f8f);
        font-size: var(--requestly-font-size-xs, 11px);
        margin-bottom: -2px;
      }

      .response-time {
        margin-right: 4px;
        color: var(--requestly-color-text-placeholder, #8f8f8f);
        font-size: var(--requestly-font-size-xs, 11px);
        font-style: normal;
        font-weight: 400;
        line-height: 17px; /* 154.545% */
      }
    }

    .close-button {
      color: var(--requestly-color-text-subtle);
      text-align: center;
      font-family: "Material Symbols Outlined";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */

      &:hover {
        background: var(--requestly-color-surface-2);
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .request-details-tab,
  .response-details-tab {
    height: 100%;
    overflow-y: auto;
    .ant-collapse {
      border: none;

      .ant-collapse-item {
        border: 1px solid var(--requestly-color-border-primary);
        border-radius: 4px;
        border-bottom: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
        padding: var(--space-4, 8px) var(--space-5, 12px);
        &:last-child {
          margin-bottom: 0;
        }

        .ant-collapse-header {
          color: var(--requestly-color-text-default);
          font-weight: 500;
          display: flex;
          gap: 2px;

          .ant-collapse-expand-icon {
            color: var(--requestly-color-text-subtle, #bbb);
            text-align: center;
            font-family: "Material Symbols Outlined";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .ant-collapse-arrow svg {
              width: 10px !important;
              height: 10px;
            }
          }

          .ant-collapse-header-text {
            overflow: hidden;
            color: var(--requestly-color-text-subtle, #bbb);
            text-overflow: ellipsis;
            font-family: var(--font-family-default, Inter);
            font-size: var(--font-size-2xs, 9px);
            font-style: normal;
            font-weight: 500;
            line-height: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }

        .ant-collapse-content {
          border-top: 1px solid var(--requestly-color-border-primary);

          .ant-collcontent {
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .ant-tabs {
              flex: 1;
              display: flex;
              flex-direction: column;

              .ant-tabs-nav {
                padding: 0 16px;
                margin: 0;
                background: var(--requestly-color-surface-0);
                border-bottom: 1px solid var(--requestly-color-border-primary);

                .ant-tabs-tab {
                  padding: 12px 16px;
                  color: var(--requestly-color-text-subtle);

                  &.ant-tabs-tab-active {
                    color: var(--requestly-color-primary-text);

                    .ant-tabs-tab-btn {
                      color: var(--requestly-color-primary-text);
                    }
                  }
                }
              }
            }
          }

          .request-details-tab,
          .response-details-tab {
            height: 100%;
            padding: 16px;
          }
        }
      }

      .request-details-properties {
        max-height: 400px !important;
        overflow: auto;
      }
    }
  }
}
