.mocks-container {
  height: 100%;
  display: flex;

  .secondary-sidebar-container {
    width: 217px;
    flex-shrink: 0;
    border-right: 1px solid var(--border-dark);
  }

  .outlet-container {
    flex-grow: 1;
    height: 100%;
    overflow: auto !important;
  }
}

.mocks-content-container {
  background-color: var(--requestly-color-background);
  flex-grow: 1;
  height: 100%;
  overflow: auto !important;
}
