.import-modal-content-wrapper {
  max-height: 650px;
  min-height: 300px;
  grid-template-columns: 1.5fr 0.01fr 1fr;
  grid-gap: 2px;
  display: grid;
}

.file-picker-modal-content .ant-modal-content {
  width: 720px;
}

.import-modal-content-wrapper {
  width: 100%;
}

.file-handler-wrapper {
  margin: 15px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--background);
}

.file-picker-modal-divider {
  height: 100%;
}

.recently-accessed {
  margin: 15px;
  border-radius: var(--border-radius);
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  align-items: center;

  border-left: 1px solid var(--text-color);

  h1 {
    align-self: flex-start;
  }

  ul {
    width: 100%;
    list-style: none;
    padding: 1rem;

    text-decoration: underline;

    li {
      width: 100%;
      border-radius: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }
  }

  .recently-accessed-container {
    padding: 1rem;
  }
}
