.apiclient-view-container {
  padding: 12px 16px;
  background: image("./apiclient-container-bg.png") lightgray 50% / cover no-repeat;
  border-radius: var(--border-radius-sm);

  .view-more-options-link {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
