.pricing-modal-wrapper {
  position: relative;
}

.pricing-modal-inset-shadow {
  position: absolute;
  width: 45px;
  height: 97%;
  right: 0;
  top: 20px;
  bottom: 0;
  background: linear-gradient(90deg, rgba(14, 14, 14, 0) 0%, #090808 100%);
  z-index: 2;
}

.pricing-modal {
  background: var(--black);
  border-radius: 1rem;

  .ant-modal-content {
    background: none;
    border-radius: 1rem;
  }

  .current-pricing-plan-tag {
    border-radius: 4px;
    background: var(--surface-2, #383838);
    padding: 5px 12px;
  }

  .plan-duration-switch-container {
    gap: 8px;
  }

  .pricing-modal-title {
    font-size: 20px;
  }

  .pricing-modal-close-icon {
    color: var(--white);
  }
}
