.billing-team-members-add-btn.ant-btn {
  gap: 8px;
  color: var(--neutrals-gray-300);

  &:hover,
  &:focus,
  &:active {
    color: var(--requestly-color-text-default);
    border-color: var(--surface-3);
  }
}

.billing-team-members-added-label {
  color: var(--neutrals-gray-300);
  padding-right: 5px;

  & svg {
    position: relative;
    top: 3px;
  }
}
