.run-result-view-details {
  .result-header {
    display: flex;
    align-items: center;
    gap: var(--space-8, 24px);
    padding: var(--space-4, 8px) var(--space-6, 16px);

    .run-metric {
      flex-shrink: 0;
      font-size: var(--requestly-font-size-sm, 12px);
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */

      .label {
        margin-right: 2px;
        color: var(--requestly-color-text-subtle, #bbb);
      }

      .value {
        color: var(--requestly-color-text-default, #fff);
      }
    }
  }

  .result-tabs-container {
    .ant-tabs-content-holder {
      height: 100%;
      overflow-y: auto;
    }

    .test-result-tab-title {
      .title {
        color: var(--requestly-color-text-default, #fff);
        font-size: var(--requestly-font-size-xs, 11px);
        font-style: normal;
        font-weight: 500;
        line-height: 17px; /* 154.545% */
      }
    }

    .tests-results-view-container {
      height: 100%;
      overflow-y: auto;
      margin-top: 8px;
      padding-bottom: 25px;

      .test-details-container {
        display: flex;
        padding: var(--space-5, 12px);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--space-4, 8px);
        align-self: stretch;
        border-bottom: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));

        .no-test-found-message {
          font-weight: 400;
          color: var(--requestly-color-text-subtle);
          font-size: var(--requestly-font-size-sm);
        }

        .loader {
          display: flex;
          align-items: center;
          gap: var(--space-6, 16px);
          align-self: stretch;

          .running-message {
            color: var(--requestly-color-text-placeholder, #8f8f8f);
            font-size: var(--requestly-font-size-sm);
            font-style: italic;
            font-weight: 400;
            line-height: 17px; /* 154.545% */
          }
        }

        .request-details {
          display: flex;
          align-items: center;
          gap: 8px;

          svg.graphql-request-icon {
            width: 16px;
            min-width: 16px;
          }

          .request-method {
            background-color: transparent !important;
            font-size: var(--requestly-font-size-2xs, 9px);
            font-style: normal;
            font-weight: 600;
            line-height: 13px; /* 144.444% */
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }

          .request-name {
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--requestly-color-text-default, #fff);
            font-size: var(--requestly-font-size-sm, 12px);
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 150% */
          }

          .response-details {
            display: flex;
            align-items: center;
            gap: 4px;
            color: var(--requestly-color-text-placeholder, #8f8f8f);
            font-size: var(--requestly-font-size-xs, 11px);
          }

          .response-time,
          .response-status {
            color: var(--requestly-color-text-placeholder, #8f8f8f);
            font-size: var(--requestly-font-size-xs, 11px);
            font-style: normal;
            font-weight: 400;
            line-height: 17px; /* 154.545% */
          }
        }

        .results-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: var(--space-3, 6px);
          align-self: stretch;
        }
      }

      .test-result-item {
        display: flex;
        align-items: center;
        gap: 8px;

        &-status-badge {
          font-size: var(--requestly-font-size-2xs);
          padding: var(--space-1, 2px) var(--space-2, 4px);
          border-radius: 4px;
          letter-spacing: 1px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 4px;

          svg {
            width: 14px;
            height: 14px;
          }

          &.passed {
            color: var(--requestly-color-success-200);
            background-color: var(--requestly-color-success-800);
          }

          &.failed {
            color: var(--requestly-color-error-text);
            background-color: var(--requestly-color-error-800);
          }

          &.skipped {
            color: var(--requestly-color-text-subtle);
            background-color: var(--requestly-color-surface-2);
          }
        }

        &-message {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          line-clamp: 1;

          overflow: hidden;
          color: var(--requestly-color-text-subtle);
          text-overflow: ellipsis;
          flex: 1 0 0;
          font-size: var(--requestly-font-size-sm);
        }
      }
    }
  }
}
