.secondary-sidebar-container {
  height: 100%;
  background-color: var(--component-background);
  flex-shrink: 0;
  border-right: 1px solid var(--border-dark);
  width: 217px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondary-sidebar-container:hover .secondary-sidebar-toggle-btn {
  opacity: 1;
  visibility: visible;
}

.secondary-sidebar-container ul {
  padding: 10px 10px 1.25rem 10px;
  overflow-x: hidden;
}
