.secondary-sidebar-container {
  height: 100%;
  flex-shrink: 0;
  width: 217px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secondary-sidebar-container:hover .secondary-sidebar-toggle-btn {
  opacity: 1;
  visibility: visible;
}

.secondary-sidebar-container ul {
  padding: 0px 10px 1.25rem 0px;
  overflow-x: hidden;
}
