.rule-examples-container {
  margin-bottom: 1.87rem;
}

.rule-example-title {
  margin-bottom: 1rem;
}

.rule-usecase-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 6px;
}

.rule-examples-usecases {
  margin-left: 4.5px;
}
