.api-client-error-placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 56px 32px;
  height: 100%;
  overflow: hidden;

  .api-client-error-placeholder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8, 24px);
    max-height: 100%;
    max-width: 100%;

    &__title {
      text-align: center;
      text-overflow: ellipsis;
      font-weight: var(--requestly-font-weight-medium);
      font-size: var(--requestly-font-size-sm);
      color: var(--requestly-color-text-default);
    }

    // Used by DataFileParseError
    .runner-error-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-4, 8px);
      align-self: stretch;
      text-align: center;

      .runner-error-message {
        color: var(--requestly-color-text-subtle);
        font-size: var(--requestly-font-size-xs, 12px);
        line-height: 18px;
        letter-spacing: 0.25px;
      }
    }

    // Used by RunnerFileMissingError
    .runner-error-container {
      display: flex;
      padding: var(--space-5, 12px) var(--space-6, 16px);
      justify-content: center;
      align-items: center;
      gap: var(--space-4, 8px);
      align-self: stretch;
      border-radius: 8px;
      font-size: var(--requestly-font-size-xs, 11px);
      line-height: 18px;
      letter-spacing: 0.25px;
      max-width: 400px;
      text-align: center;

      .runner-error-message {
        color: var(--requestly-color-subtle);
        display: inline;
      }
    }

    // Used by DefaultCollectionRunnerErrorComponent
    .default-file-error-container {
      display: flex;
      padding: var(--space-5, 12px) var(--space-6, 16px);
      gap: var(--space-4, 8px);
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      font-weight: 400;
      letter-spacing: 0.25px;
      width: 100%;
      max-height: 300px;

      .stack-trace {
        overflow: auto;
        padding: 8px;
        background-color: var(--requestly-color-background-dark);
      }
    }
  }

  img {
    width: 80px;
    height: 80px;
  }

  .documentation-link {
    display: flex;
    padding-top: 16px;
    align-items: center;
    gap: 4px;
    color: var(--requestly-color-primary-text, #639ff9);
    font-size: var(--requestly-font-size-xs);
  }
}
