.incentive-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;

  .incentive-task-title-container {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      color: var(--requestly-color-text-subtle);
      width: 1rem;
      height: 1rem;
    }
    .incentive-task-title {
      font-size: var(--requestly-font-size-sm);
      color: var(--requestly-color-text-default);
      font-weight: 500;
    }
  }

  .task-credit-value {
    font-size: var(--requestly-font-size-xs);
    color: var(--requestly-color-text-subtle);
    span {
      color: var(--requestly-color-text-default);
      font-weight: 500;
    }
  }

  svg.task-checked-icon {
    color: var(--requestly-color-success);
  }
}

.incentive-task-header.completed-task {
  .incentive-task-title-container {
    .incentive-task-title {
      text-decoration: line-through;
      color: var(--requestly-color-text-subtle);
    }
  }

  .task-credit-value {
    span {
      color: var(--requestly-color-success);
    }
  }
}
