.industry-input {
  width: 100% !important;
  margin-top: 4px !important;

  & .ant-select-selector {
    background: #2b2b2b !important;
    border: 1px solid var(--neutrals-gray-600) !important;
  }

  & .ant-select-selector {
    height: 40px !important;
  }

  & .ant-select-selector .ant-select-selection-search input {
    height: 100% !important;
    font-weight: 500;
  }

  & .ant-select-selector .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--neutrals-gray-400);
  }
}

.industry-input-label {
  font-weight: 500;
  font-size: var(--requestly-font-size-sm, 13px);
}

.industry-input-menu.ant-select-dropdown {
  background-color: #383838;

  & .ant-select-item {
    font-size: var(--requestly-font-size-md, 14px);
    color: var(--requestly-color-text-default);
  }
}
