.popup-body {
  .blocked-extension-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 32px 48px;

    .blocked-extension-view-icon {
      height: 104px;
      width: 104px;
    }

    .blocked-extension-view-title {
      font-size: 15px;
      line-height: 150%;
      font-weight: 500;
      color: var(--text-default);
    }

    .blocked-extension-view-description {
      font-size: 13px;
      line-height: 150%;
      color: #bbb;
      text-align: center;
    }
  }
}
