:root {
  --font-size-small: 11px;
  --font-size-normal: 12px;
  --font-size-large: 14px;
  --color-primary: black;
  --color-secondary: #202124;
  --color-error: #ed4e4c;
  --border-color: #cdcdcd;
  --background-color-primary: #fff;
  --background-color-secondary: #f5f5f5;
  --background-color-row-hover: #ebebeb;
  --background-color-error-row-selected: #fbd1cf;
  --background-color-tab-selected: transparent;
  --background-color-radiobutton-selected: #dadce0;
  --background-color-toolbar: #f1f3f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ffffff;
    --color-secondary: #bdc6cf;
    --border-color: #3c3d3c;
    --background-color-primary: #1f1f1f;
    --background-color-secondary: #242529;
    --background-color-row-hover: #30303091;
    --background-color-error-row-selected: #48181a;
    --background-color-tab-selected: black;
    --background-color-radiobutton-selected: #454545;
    --background-color-toolbar: #252629;
  }
}

body {
  margin: 0;
  background-color: var(--background-color-primary);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.devtools-tabs.ant-tabs {
  height: 100%;

  .ant-tabs-tab {
    font-size: var(--font-size-normal);
  }

  > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding-left: 0;
  }

  .ant-tabs-content {
    height: 100%;
    line-height: initial;

    .ant-tabs-tabpane {
      height: 100%;
    }
  }
}
