.collection-overview-wrapper {
  display: flex;
  justify-content: center;
  height: inherit;
}

.collection-overview-container {
  padding: var(--space-8, 24px) var(--space-6, 16px);
  width: 100%;
  height: inherit;
  max-width: 680px;
  overflow: auto;

  .inline-input-container {
    padding-left: 8px;
    font-size: var(--requestly-font-size-xl);
    font-weight: var(--requestly-font-weight-bold);
  }

  .collection-overview-title {
    font-size: 2rem;
    font-weight: var(--requestly-font-weight-medium);
  }

  .collection-overview-description {
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-default);
    margin-top: 1rem;

    img {
      max-inline-size: 100%;
      block-size: auto;
      object-fit: cover;
      user-select: none;
    }

    ul {
      padding-left: 24px;
      list-style-type: disc;
    }

    &-markdown-preview {
      cursor: text;
      padding: 8px;
      border-radius: 4px;
      min-height: 338px;
      background: var(--requestly-color-surface-0);
    }

    &-markdown {
      padding: 8px;
      border-radius: 8px;

      &:hover {
        cursor: text;
        background: var(--requestly-color-surface-0);
      }
    }

    &-textarea.ant-input {
      max-height: 100%;
      background: var(--requestly-color-surface-0);
      border: none;
    }
  }
}
