.environments-list {
  &-item {
    color: var(--requestly-color-text-default);
    padding: var(--space-2, 4px) var(--space-4, 8px);
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--requestly-color-white-t-10);
    }

    &:not(:first-child) {
      margin-top: var(--space-4, 8px);
    }

    &.active {
      background-color: var(--requestly-color-white-t-10);
    }
  }
}
