.learn-more-link-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.learn-more-icon {
  font-size: var(--requestly-font-size-sm, 13px);
}

.learn-more-link,
.learn-more-link:hover {
  font-size: var(--requestly-font-size-sm, 12px);
  color: var(--text-gray);
}

.learn-more-link:hover {
  text-decoration: underline;
}
