*.iml
*.idea
node_modules/
*.log
*.sublime-workspace
.vscode
.sass-cache/
.DS_Store
dist
/public/
scripts/venv/
app/build
app/dist
app/~
app/src/config/pricing/plans/plans.json
app/src/config/pricing/features/features.json
app/.env.local
!app/public/*
.DS_Store
/requestly-1.0.0.tgz
package
*.code-workspace
