:root {
  --border-radius: 4px;
  --border-radius-md: 8px;
  --color-primary: #ffffff;
  --color-secondary: #b0b0b5;
  --color-success: #069d4f;
  --color-danger: #fa2828e2;
  --color-link: #1e69ff;
  --color-icon: #b0b0b5;
  --border-color: #3e4044;
  --background-color-primary: #1c1d21;
  --background-color-secondary: #242529;
  --background-color-row-hover: #2c2d31;
  --background-color-component: #323337;
}

/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color-primary);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
