.enterprise-plan-card {
  background: var(--requestly-color-background);
  border-radius: 8px;
  border: 1px solid var(--requestly-color-white-t-20);
  margin-top: 32px;
}

.enterprise-plan-name {
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-lg);
  font-weight: 500;
  line-height: 22px;
}

.enterprise-plan-description {
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-sm);
  margin-top: 8px;
  font-weight: 500;
  line-height: 18px;
}

.enterprise-plan-details-container {
  border-right: 1px solid var(--requestly-color-white-t-20);
  padding-right: 48px;
}

.enterprise-plan-card-body {
  display: flex;
  padding: 24px 32px;
}

.enterprise-plan-features-list-container {
  display: flex;
  gap: 60px;
  margin-top: 24px;

  .enterprise-plan-feature {
    color: var(--requestly-color-text-subtle);
    line-height: 18px;
    font-size: var(--requestly-font-size-sm, 12px);

    img {
      width: 12px;
      margin-right: 8px;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.enterprise-contact-us-container {
  padding: 64px 0;
  padding-left: 48px;

  button {
    font-weight: 500;
  }

  .enterprise-plan-price {
    color: var(--requestly-color-text-default);
    font-size: var(--requestly-font-size-sm);
  }
}

.enterprise-plan-img-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.enterprise-plan-card-footer {
  text-align: center;
  background: var(--requestly-color-surface-1);
  padding: 1rem;
  color: var(--requestly-color-text-subtle);
  border-top: 1px solid var(--requestly-color-white-t-20);

  span {
    color: var(--requestly-color-text-default);
  }
}

@media (max-width: 1144px) {
  .enterprise-plan-img-container {
    display: none;
  }
}

@media (max-width: 1035px) {
  .enterprise-plan-details-container {
    border-right: none;
    padding-right: 0;
  }

  .enterprise-plan-card-body {
    flex-direction: column;
  }

  .enterprise-contact-us-container {
    padding: 0;
    margin-top: 24px;
  }
}

@media (max-width: 824px) {
  .enterprise-plan-features-list-container {
    flex-direction: column;
    gap: 8px;
  }
}
