.billing-team-members-drawer {
  .ant-drawer-content-wrapper {
    box-shadow: -16px 0px 48px 0px rgba(0, 0, 0, 0.32);
  }

  .ant-drawer-header {
    display: none;
  }

  svg.billing-team-members-drawer-back-btn {
    font-size: var(--requestly-font-size-md, 14px);
  }

  .ant-drawer-body {
    background: var(--requestly-color-surface-0);
    padding: 0;
  }

  &-header {
    padding: 1rem;
    border-bottom: 1px solid var(--requestly-color-surface-2);

    &_title {
      color: var(--requestly-color-text-default);
      font-weight: 500;
      font-size: 1rem;
    }

    & svg {
      color: var(--requestly-color-text-default);
      font-size: 1.125rem;
      cursor: pointer;
      align-self: center;
    }
  }

  &-body {
    position: relative;
  }

  .billing-team-members-drawer-help {
    color: var(--neutrals-gray-300);
    font-size: var(--requestly-font-size-sm, 13px);
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 0 1rem;
  }

  .org-member-table {
    border: none;

    .org-member-table-header {
      padding: 1rem;
      border-bottom: 0;
    }
  }
}
