.rules-actions-container {
  column-gap: 4px;
  justify-content: flex-end;
}

.rq-content-table-row > button {
  flex-shrink: 0;
  padding: 8px 12px;
}

.rq-content-table-row .rules-actions-container .more-rule-actions-btn.ant-btn-icon-only svg {
  color: var(--text-default);
}

.rq-content-table-row button.ant-btn.ant-btn-icon-only.pin-record-btn svg.record-pinned {
  color: var(--warning);
}

.rq-content-table-row button.ant-btn.ant-btn-icon-only.pin-record-btn svg.record-unpinned {
  color: var(--text-default);
}

.rule-more-actions-dropdown .ant-dropdown-menu {
  padding: 4px;
  background: var(--surface-1);
  border: 1px solid var(--surface-2);
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.24);
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  width: 160px;
  height: 36px;
  margin: 0;
  padding: 8px 12px;
  color: var(--text-default);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  border-radius: 4px;
  background: var(--surface-2);
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: var(--danger);
}
