.rules-actions-container {
  column-gap: 4px;
}

.rq-content-table-row > button {
  flex-shrink: 0;
  padding: 8px 12px;
}

.rq-content-table-row .rules-actions-container .more-rule-actions-btn.ant-btn-icon-only svg {
  color: var(--text-default);
}

.rq-content-table-row button.ant-btn.ant-btn-icon-only.pin-record-btn svg.record-pinned {
  color: var(--warning);
}

.rq-content-table-row button.ant-btn.ant-btn-icon-only.pin-record-btn svg.record-unpinned {
  color: var(--text-default);
}

.rq-content-table-row .ant-table-cell-with-append:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 16px 0;
}

.rq-content-table-row .ant-table-cell:nth-child(2) {
  width: 72px;
  padding: 1rem 0;
}

.rq-content-table-row td.ant-table-cell:nth-child(2) > button.ant-table-row-expand-icon,
.rq-content-table-row td.ant-table-cell:nth-child(2) > button.pin-record-btn {
  flex-shrink: 0;
}

.rq-content-table-row td.ant-table-cell:nth-child(2) > button.ant-table-row-expand-icon {
  margin-top: 0px;
}

.rq-content-table-row td.ant-table-cell:nth-child(2) > button.pin-record-btn {
  margin-left: 4px;
  margin-right: auto;
}

.rq-content-table-row .ant-table-row .ant-table-row-level-1 td {
  background: var(--black);
  border-bottom: 1px solid var(--surface-1);
}

.rule-more-actions-dropdown .ant-dropdown-menu {
  padding: 4px;
  background: var(--surface-1);
  border: 1px solid var(--surface-2);
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 8px 12px 0px #0000003d;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  width: 160px;
  height: 36px;
  margin: 0;
  padding: 8px 12px;
  color: var(--text-default);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  border-radius: 4px;
  background: var(--surface-2);
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.rule-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: var(--danger);
}
