.authorization-view {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  height: 100%;
  overflow: scroll;

  &.collection-auth {
    border-bottom: 0;
  }

  .form-and-description {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: calc(100% - 45px);

    &.no-auth {
      .form-view {
        display: none;
      }
    }

    .form-view {
      max-width: 680px;
      flex: 1;

      .info-text {
        color: #8f8f8f;
        line-height: 15px;
        font-size: 11px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        span {
          margin-left: 4px;
        }
      }

      .form {
        .field-group {
          display: flex;
          gap: 8px;
          margin-bottom: 16px;
          align-items: center;

          label {
            width: 120px;
          }

          .field {
            width: 448px;

            .input-container.error-state {
              position: relative;
              display: flex;
              align-items: center;
              height: 32px;
              padding: 8px 8px;
              gap: 6px;
              border: 1px solid var(--requestly-color-error);
              border-radius: 4px;

              .error-icon {
                position: inherit;
                margin-bottom: 12px;
                padding: 2px;
                align-items: center;
                margin-left: auto;
                svg {
                  width: 17px;
                  height: 17px;
                }
              }
            }
            .input-container.error-state > .editor-popup-container {
              width: 100%;
              height: 100%;
              border: none;
              padding: 0;
              margin-bottom: 8px;
            }
          }

          .ant-select-selector {
            width: 448px;
            background: none;
          }

          .ant-input {
            height: 32px;
            background: none;
            font-size: 13px;
            line-height: 20px;
            padding: 4px 6px;
          }

          label,
          .ant-input,
          .ant-select-selector {
            color: #fff;
          }
        }
      }
    }

    .auth-description {
      padding: 16px;
      max-width: 320px;
      margin-left: auto;
      border-left: 1px solid rgba(255, 255, 255, 0.06);

      &.no-auth {
        border: none;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;

        img {
          margin-top: 72px;
          margin-bottom: 16px;
          width: 80px;
          height: 80px;
        }

        h1 {
          line-height: 20px;
          font-size: 13px;
          font-weight: 500;
          color: #fff;
          margin-bottom: 4px;
        }

        h2 {
          font-size: 11px;
          line-height: 17px;
          color: var(--requestly-color-text-subtle);
        }

        .link-text {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 4px;
          text-decoration: underline;
          font-size: var(--requestly-font-size-sm);
          color: var(--requestly-color-primary-text, #639ff9);
        }
      }
    }
  }

  &.read-only {
    .form-and-description {
      height: calc(100% - 45px - 48px); // 48px = read only alert height
    }
  }

  .type-of-authorization {
    padding: 6px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

    .form-selector {
      display: flex;
      align-items: center;

      .authorization-save-btn {
        margin-left: auto;
      }

      .clear-icon {
        cursor: pointer;
        margin-left: 16px;
        display: flex;
        align-items: center;

        span {
          color: #bbb;
          font-size: var(--requestly-font-size-sm, 12px);
          line-height: 15px;
          margin-left: 7px;
        }
      }

      label {
        font-size: 11px;
        line-height: 15px;
        color: #bbbbbb;
        margin-right: 12px;
        font-weight: 500;
      }

      .ant-select-selector {
        color: #fff;
      }

      .form-selector-dropdown {
        width: 200px;
      }
    }
  }
}
