.desktop-setting-port-input-label {
  color: var(--requestly-color-text-default);
  margin-bottom: 8px;
}

.desktop-setting-port-input.ant-input {
  border-color: transparent;
  box-shadow: var(--input-box-shadow);
}

.desktop-port-update-btn {
  margin-top: 8px;
}

.desktop-settings-container {
  display: flex;
  justify-content: center;
}

.desktop-settings-wrapper {
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
  max-width: 1000px;

  .preview-url-container {
    display: flex;
    flex-flow: column;
    justify-content: center;

    border-radius: 8px;
    margin-top: 16px;

    .setting-item {
      margin-bottom: 1.25rem;
      border-bottom: 1px solid var(--border-dark);
      padding-bottom: 8px;

      .setting-item-caption {
        font-size: var(--requestly-font-size-sm, 13px);
        line-height: 23px;
        max-width: 37.5rem;
        margin: 8px 0 1.25rem 0;
        color: var(--text-dark-gray);
      }
    }

    .header-row {
      padding-bottom: 8px;
      display: flex;
      flex-direction: row;
      gap: 35px;
      .rq-input {
        height: 32px;
      }
    }
  }
}
