.collection-variables-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .api-client-read-only-mode-alert {
    width: calc(100% - 32px);
  }

  .variables-list-header {
    width: 100%;
    max-width: 1920px;
    padding: 0 1rem;
  }
}
