.rule-editor-procard {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.rule-editor-procard.rules-create-mode,
.rule-editor-body-scroll {
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.rule-editor-procard .ant-pro-card-body {
  padding: 0 0 1.5rem 0;
}

.rule-editor-split-procard.ant-pro-card .ant-pro-card-body {
  padding-top: 2px;
}

.rule-editor-procard.ant-pro-card {
  background: #1a1a1a;
}
