.external-domain-warning-banner {
  border: 1px solid var(--requestly-color-warning-300);
  background: var(--requestly-color-warning-600);
  padding: 12px 1rem;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.external-domain-warning-banner-icon {
  color: var(--requestly-color-black);
  align-self: self-start;
  transform: scale(1.5);
  position: relative;
  top: 4px;
}

.external-domain-warning-banner-text {
  color: var(--requestly-color-black);
  font-size: var(--requestly-font-size-sm);
  font-weight: 500;
  align-self: center;
}

.external-domain-warning-banner-close-icon {
  align-self: center;
  top: 0;
  transform: scale(1.5);
  cursor: pointer;
}
