.api-client-empty-view-container {
  padding: var(--space-12, 56px) 0px;
  gap: var(--space-8, 24px);
  width: 100%;

  .api-client-empty-view-header {
    text-align: center;
    font-size: var(--requestly-font-size-md);
    font-weight: var(--requestly-font-weight-medium);
    color: var(--requestly-color-text-default);
  }

  .api-client-empty-view-description {
    text-align: center;
    font-size: var(--requestly-font-size-xs);
    color: var(--requestly-color-text-subtle);
    margin-top: 8px;
  }

  .api-client-empty-view-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;

    .new-api-record-dropdown {
      width: unset;

      .ant-btn {
        height: 32px;
        color: var(--requestly-color-text-default);
        font-weight: var(--requestly-font-weight-medium);
      }
    }
  }
}
