.workspace-creation-error-view__header {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-md);
  font-weight: var(--requestly-font-weight-medium);

  svg {
    width: 20px;
    height: 20px;
  }
}

.workspace-creation-error-view__description {
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-sm);
  margin-top: var(--requestly-space-6);
}

.workspace-creation-error-view__path {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-sm);
  margin-top: var(--requestly-space-5);

  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &-text {
    max-width: 260px;
    overflow: hidden;
  }
}

.workspace-creation-error-view__actions {
  display: flex;
  gap: var(--requestly-space-4);
  margin-top: var(--requestly-space-8);
  justify-content: flex-end;
}
