.common-workspace-empty-view {
  display: flex;
  padding: var(--space-6, 16px);
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-default);
    font-weight: var(--requestly-font-weight-medium);
    margin-top: 8px;
  }

  &__description {
    font-size: var(--requestly-font-size-xs);
    color: var(--requestly-color-text-subtle);
    margin-top: 8px;
    text-align: center;
  }

  &__actions {
    display: flex;
    gap: 8px;
    margin-top: 16px;
  }
}
