.manage-billing-team-alert.ant-alert {
  display: flex;
  width: 1072px;
  padding: 12px 40px 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--requestly-color-primary-600);
  background: var(--requestly-color-primary-900);
  align-self: center;
  margin: 20px;

  .alert-message {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--requestly-color-primary-200);

    .manage-btn.ant-btn {
      display: flex;
      height: 24px;
      padding: 0px var(--space-4, 8px);
      justify-content: center;
      align-items: center;
      gap: var(--space-3, 6px);
      border-radius: 4px;
      border: 1px solid var(--requestly-color-white-t-10);
      background: var(--requestly-color-white-t-20);

      span {
        color: var(--requestly-color-text-default);
        text-align: center;
        font-size: var(--requestly-font-size-sm, 13px);
        line-height: 150%;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
