.testimonial-content-wrapper {
  display: flex;
  gap: 12px;
  color: var(--requestly-color-text-subtle);
}

.testimonial-quote-icon {
  font-size: 32px;
  color: #424242;
  margin-top: -5px;
  flex-shrink: 0;
}

.testimonial-user-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.testimonial-user-container img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.testimonial-user-container .author-name {
  color: var(--requestly-color-text-default);
  font-weight: 500;
  font-size: var(--requestly-font-size-sm);
}

.testimonial-user-container .author-role {
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-sm);
}
