.file-picker-wrapper,
.file-picker-wrapper-active {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px dashed var(--requestly-color-white-t-20);
  border-radius: 8px;
  padding: 40px 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.file-picker-wrapper-active {
  border-color: var(--requestly-color-white);
  background: var(--requestly-color-surface-1);
}

.file-picker-wrapper .file-picker-icon-lg,
.file-picker-wrapper-active .file-picker-icon-lg {
  font-size: 64px;
}

.file-picker-wrapper .file-picker-icon-title,
.file-picker-wrapper-active .file-picker-icon-title {
  font-size: var(--requestly-font-size-lg);
}

.file-picker-wrapper .file-picker-icon-subtitle,
.file-picker-wrapper-active .file-picker-icon-subtitle {
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-xs);
}
