.survey-modal .recommendations-container .recommended-feature-container,
.other-recommended-feature-container {
  background: var(--component-background);
  padding: 1rem;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  width: 48%;
}
.survey-modal .recommendations-container .other-recommended-feature-container {
  background: transparent;
  padding: 0;
  width: 48%;
  margin-top: 5px;
}
.survey-modal .recommendations-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 10px;
  margin-left: 5px;
}
.survey-modal .recommended-feature-description {
  margin-top: 14px;
  font-size: 13px;
}
.survey-modal .recommended-feature-title {
  display: flex;
  align-self: center;
  gap: 8px;
}

.survey-modal .recommended-feature-title .white,
.survey-modal .recommended-feature-title svg {
  align-self: center;
}

.survey-modal .divider {
  height: 1px;
  border: 1px solid var(--border-dark);
  width: 100%;
  margin: 20px 0;
}
.survey-upload-rule-text {
  margin-top: 20px;
}
.survey-upload-btn {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}
