.survey-modal .recommendations-container .recommended-feature-container,
.other-recommended-feature-container {
  padding: 1rem;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease-in-out;
}
.survey-modal .recommendations-container .recommended-feature-container {
  border: 1px solid var(--border-dark);
}
.survey-modal .recommendations-container .recommended-feature-container:hover {
  background: var(--component-background);
}

.survey-modal .recommendations-container .other-recommended-feature-container {
  padding: 0;
  margin-top: 5px;
}
.survey-modal
  .recommendations-container
  .other-recommended-feature-container
  span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.survey-modal .recommendations-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.survey-modal .recommended-feature-description {
  margin-top: 14px;
  font-size: 13px;
}
.survey-modal .recommended-feature-title {
  display: flex;
  align-self: center;
  gap: 8px;
}

.survey-modal .recommended-feature-title .white,
.survey-modal .recommended-feature-title svg {
  align-self: center;
}

.survey-modal .divider {
  height: 1px;
  border: 1px solid var(--border-dark);
  width: 100%;
  margin: 20px 0;
}
.survey-upload-rule-text {
  margin-top: 20px;
}
.survey-upload-btn {
  display: flex;
  gap: 6px;
  margin-top: 8px;
}
