.api-client-read-only-mode-alert {
  color: var(--requestly-color-text-default, #fff);
  display: flex;
  align-items: center;
  padding: var(--space-5, 12px) var(--space-9, 32px) var(--space-5, 12px) var(--space-6, 16px);
  gap: var(--space-3, 6px);
  border-radius: 4px;
  border: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
  background: var(--requestly-color-primary-900);
  margin-bottom: 8px;

  .icon {
    flex-shrink: 0;
    font-size: 16px;
  }

  .description {
    font-size: var(--font-size-sm, 12px);
    line-height: 18px;
  }
}
