.create-workspace-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  padding: 20px 1rem;

  & .create-workspace-view-title {
    font-weight: 500;
    color: var(--requestly-color-text-default);
    margin-bottom: 0;
    font-size: var(--requestly-font-size-md, 14px);
  }

  & .create-workspace-view-description {
    font-size: var(--requestly-font-size-sm, 12px);
    color: var(--neutrals-gray-300);
    text-align: center;
    max-width: 300px;
  }
}
