.sale-banner-container {
  justify-content: center;
  margin-top: 0.8rem;
  margin-bottom: -16px;
}
.sale-text-banner {
  padding: 8px 24px;
  color: #000000;
  background-color: var(--requestly-color-warning-300);
  // border: 1px dashed rgba(var(--danger-rgb), 0.6);
  border-radius: var(--border-radius-sm);
}
