.status-light {
  display: inline-block;

  &.success {
    color: var(--requestly-color-success-600);
  }

  &.warning {
    color: var(--requestly-color-warning-300);
  }

  &.error {
    color: var(--requestly-color-error-400);
  }

  &.info {
    color: var(--requestly-color-primary-soft);
  }

  &.neutral {
    color: var(--requestly-color-neutral-600);
  }
}
