.status-light {
  display: inline-flex;
  align-items: center;
  gap: var(--requestly-space-2, 4px);
  border-radius: 4px;
  font-size: var(--requestly-font-size-2xs, 9px);
  font-weight: var(--requestly-font-weight-medium);
  line-height: 14px;
  /* 144.444% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: var(--requestly-space-1, 2px) var(--requestly-space-2, 4px);

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    background-color: currentColor;
  }

  &.success {
    color: var(--requestly-color-success-text);
    background: var(--requestly-color-success-darker);
  }

  &.warning {
    color: var(--requestly-color-warning-soft);
    background: var(--requestly-color-warning-darker);
  }

  &.error {
    color: var(--requestly-color-error-soft);
    background: var(--requestly-color-error-darker);
  }

  &.info {
    color: var(--requestly-color-primary-soft);
    background: var(--requestly-color-primary-darker);
  }

  &.neutral {
    color: var(--requestly-color-neutral-200);
    background: var(--requestly-color-neutral-800);
  }
}
