.rq-mocks-list-container {
  .rq-mocks-table-breadcrumb {
    padding: 8px 16px 4px 16px;
    font-size: var(--requestly-font-size-xs, 11px);
    font-weight: 400;

    .breadcrumb-1 {
      color: var(--requestly-color-text-default);
    }
    .breadcrumb-2 {
      color: var(--requestly-color-text-subtle);
    }
  }
}
