.sharing-modal-wrapper .ant-modal-body .rq-modal-content {
  padding: 1rem;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-footer {
  padding: 1rem;
}

.sharing-modal-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--white);
}

/* .sharing-modal-body {
  margin: 1rem 0;
} */

.sharing-modal-wrapper .ant-tabs {
  margin-top: 4px;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid var(--border);
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--white);
  font-weight: 500;
}

.share-link-radio-btn-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-radio-wrapper > span:nth-child(2) {
  width: 100%;
}

.sharing-modal-wrapper .shared-list-name-input-wrapper {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.sharing-modal-wrapper .shared-list-name-input-wrapper .ant-btn,
.sharing-modal-email-input-wrapper .ant-btn {
  font-size: 0.875rem;
  font-weight: 500;
}

.sharing-modal-email-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
}

.sharing-modal-wrapper .sharing-modal-email-input.react-multi-email {
  display: flex;
  height: auto;
}
.sharing-modal-wrapper .sharing-modal-email-input.react-multi-email > input {
  flex: 1;
}

.sharing-modal-wrapper .ant-input {
  border: 1px solid transparent;
  box-shadow: var(--input-box-shadow);
  background-color: var(--component-dark-background);
}
