.sharing-modal-wrapper .ant-modal-body .rq-modal-content {
  padding: 0;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-footer {
  padding: 1rem;
}

.sharing-modal-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1rem;
  color: var(--requestly-color-text-default);
  padding: 1rem;
  padding-bottom: 0;
}

.sharing-modal-header .premium-icon {
  padding-left: 0;
}

.sharing-modal-body {
  padding: 1.2rem;
  font-size: var(--requestly-font-size-sm, 13px);
}

.sharing-modal-wrapper .ant-tabs {
  margin-top: 4px;
}

.sharing-modal-wrapper .sharing-primary-btn.ant-btn {
  font-weight: 500;
  font-size: var(--requestly-font-size-sm, 13px);
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-tabs-top .ant-tabs-nav {
  margin-bottom: 0;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-tabs-top .ant-tabs-nav-wrap {
  margin-left: 1.5rem;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid var(--border);
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-tabs-tab .ant-tabs-tab-btn {
  color: var(--requestly-color-text-default);
  font-weight: 500;
  font-size: var(--requestly-font-size-sm, 13px);
}

.shared-list-visibility-options {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.shared-list-visibility-options .ant-radio-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.shared-list-visibility-options .ant-radio-wrapper .ant-radio {
  margin-right: 6px;
}

.share-link-radio-btn-label {
  font-size: var(--requestly-font-size-sm, 13px);
}

.share-link-radio-btn-label + .success-message {
  display: inline-flex;
  align-items: center;
  column-gap: 3px;
}

.share-link-radio-btn-label + .success-message .success {
  font-size: var(--requestly-font-size-md, 14px);
}

.share-link-radio-btn-label span:nth-child(2) {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  padding-top: 2px;
}

.share-link-radio-btn-label span:nth-child(2) svg {
  --size: 14px;

  width: var(--size);
  height: var(--size);
  color: var(--requestly-color-text-subtle);
}

.share-link-radio-btn-label-tooltip.ant-tooltip {
  padding: 4px;
}

.share-link-radio-btn-label-tooltip .ant-tooltip-inner {
  width: 100%;
  max-width: 216px;
}

.shared-list-container .copy-value-wrapper {
  height: 44px;
}

.shared-list-container .notify-on-import-checkbox {
  margin-top: 16px;
}

.shared-list-container .notify-on-import-checkbox.ant-checkbox-wrapper .ant-checkbox {
  margin-top: -6px;
}

.shared-list-container .success-message {
  display: flex;
  align-items: center;
  gap: 4px;
}

.shared-list-container .success-message svg {
  display: flex;
  align-items: center;
  color: var(--requestly-color-success);
  margin-bottom: 2px;
}

.sharing-modal-wrapper .ant-modal-body .rq-modal-content .ant-radio-wrapper > span:nth-child(2) {
  width: 100%;
  font-size: var(--requestly-font-size-sm, 12px);
}

.sharing-modal-wrapper .link-generation-loader {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  font-size: var(--requestly-font-size-sm, 12px);
  color: var(--requestly-color-text-subtle);
  height: 40px;
}

.sharing-modal-wrapper .shared-list-name-input-wrapper {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.sharing-modal-wrapper .shared-list-name-input-wrapper .ant-btn,
.sharing-modal-email-input-wrapper .ant-btn {
  font-size: 0.875rem;
  font-weight: 500;
  font-size: var(--requestly-font-size-sm, 13px);
}

.sharing-modal-email-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  font-size: var(--requestly-font-size-sm, 13px);
}

.sharing-modal-wrapper .sharing-modal-email-input.react-multi-email {
  display: flex;
  height: auto;
}
.sharing-modal-wrapper .sharing-modal-email-input.react-multi-email > input {
  flex: 1;
}

.sharing-modal-wrapper .ant-input {
  border: 1px solid transparent;
  box-shadow: var(--input-box-shadow);
  background-color: var(--requestly-color-surface-0);
  font-size: var(--requestly-font-size-sm, 13px);
}
.sharing-modal-empty-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 2rem auto;
}

.sharing-modal-empty-view svg {
  width: 60px;
  height: 60px;
}

.sharing-modal-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  color: var(--text-gray);
  background: var(--requestly-color-surface-1);
  font-size: var(--requestly-font-size-sm, 13px);
  border-top: 1px solid var(--border);
  opacity: 0.8;
  border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);
}
.sharing-modal-footer svg {
  min-width: 20px;
  min-height: 20px;
}
