.mobile-sidebar-container .ant-drawer-header-title {
  flex-direction: row-reverse;
}

.mobile-sidebar-container .ant-drawer-header {
  padding: 10px 14px;
}

.mobile-sidebar-container .ant-drawer-close {
  margin: 0;
  padding: 0;
}

.mobile-sidebar-container .ant-drawer-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}
