.persona-form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 120px;

  .persona-form {
    background: var(--requestly-color-surface-1);
    border-radius: var(--border-radius-md);
    padding: 1rem 2rem;
    width: 440px;
  }

  .login-success-icon {
    border-radius: 50%;
    background: var(--requestly-color-success);
    width: 32px;
    height: 32px;

    & svg {
      transform: scale(1.3);
    }
  }

  .login-success-message {
    font-weight: 500;
    font-size: 20px;
  }
  .ant-btn.persona-save-btn {
    font-weight: 500;
  }
}
