.api-client-container-content {
  flex: auto;
  width: 100%;
  height: 100%;
  min-width: 0;
  overflow-y: hidden;
}

.api-client-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--requestly-color-background);

  .api-client-url-container {
    display: flex;
    flex: auto;
    height: 32px;
    width: calc(100% - 205px);
    font-size: var(--requestly-font-size-sm, 12px);
  }

  .api-client-header__url {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .api-client-header-container {
    position: sticky;
    border-bottom: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));

    &__header {
      padding: var(--space-5, 12px) var(--space-6, 16px);
    }

    .api-client-breadcrumb-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: var(--space-5, 12px);

      .rq-breadcrumb {
        margin: 0;
      }

      .api-client-view_get-code-btn {
        color: var(--requestly-color-text-subtle);

        &:hover {
          color: var(--requestly-color-text-default);
        }
      }
    }
  }

  .api-request-url {
    padding: 4px 8px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: var(--requestly-font-size-sm);

    &:focus-within {
      border: 1px solid var(--requestly-color-primary);
    }

    .cm-editor {
      margin-top: -2px;
    }
  }

  .api-client-body {
    flex: auto;
    height: 100%;
    min-height: 0;
    position: sticky;
    overflow: hidden;

    &__vertical {
      height: inherit;
    }

    .gutter:hover {
      background-color: #1e69ff;
    }
  }

  .ant-tabs {
    .ant-tabs-nav-wrap {
      padding: 0 16px;

      .ant-tabs-tab {
        padding: 6px 4px;
      }
    }

    .ant-tabs-tabpane {
      padding: var(--requestly-space-3, 6px);
    }
  }

  .api-request-tabs {
    overflow: hidden;
    margin-top: 2px;

    .ant-tabs-content-holder {
      height: inherit;
      padding: 0;
      margin-bottom: 0;

      .ant-tabs-content-top {
        height: 100%;
      }
    }
  }

  .api-response-view {
    height: 100%;
    padding: 0 10px;

    .api-response-empty-placeholder {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  /* Hiding inkbar due to Ant bug where its position is not recalculated on badge updates */
  .ant-tabs-ink-bar {
    display: none;
  }

  .ant-tabs-tab {
    border-bottom: 2px solid transparent;

    + .ant-tabs-tab {
      margin-left: 12px;
    }

    &.ant-tabs-tab-active {
      border-bottom-color: #1e69ff;
    }

    .ant-tabs-tab-btn {
      display: flex;
      align-items: center;
      padding: 0 5px;

      .dot {
        margin-left: 2px;
        margin-top: 5px;
      }

      .count {
        font-size: 10px;
        padding: 3px 8px;
        line-height: 14px;
        margin-left: 5px;
        margin-right: 0;
        border: none;
        border-radius: 10px;
      }
    }
  }

  .bottom-sheet-container.ant-col {
    .ant-tabs {
      /*
      HACKY HEIGHT OVERFLOW FIX: CODEMIRROR EDITOR OVERFLOWING ON SMALL HEIGHTS
      TODO: Fix this properly
      */
      // height: calc(100% - px) !important;
      height: 100%;

      .ant-tabs-content-holder {
        // FIXED HEIGHT FIXES HEIGHT CHANGE OF SPILT PANEL HEIGHT CHANGE ON CODE MIRROR MOUNT
        // TODO: FIX THIS
        height: 35px;
      }
    }
  }

  .empty-api-response-view-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .api-response-status-row {
    font-size: var(--requestly-font-size-xs);
    display: flex;
    align-items: center;
    gap: 8px;
    border-right: 1px solid var(--requestly-color-white-t-20);
    padding-right: var(--requestly-space-4);

    .ant-space-item {
      display: flex;
      align-items: center;
    }

    .ant-space-item:last-child::after {
      display: none;
    }
  }

  .api-client-response__loading-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--requestly-color-background);
    z-index: 2;
  }

  .api-client-code-editor-container {
    border-radius: 8px;
    border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
    background: #282828;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
  }

  .bottomsheet-split-layout-container {
    height: calc(100% - 93px);
  }

  .api-client-use-as-template-button {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.import-modal {
  textarea.curl-command-input {
    height: 400px;
    resize: none;
  }
}
