.api-client-container {
  height: 100%;
  display: flex;

  .api-client-view {
    flex: auto;
    width: 100%;
    min-width: 0;
    overflow-y: hidden;
  }
}

.import-modal {
  textarea.curl-command-input {
    height: 400px;
    resize: none;
  }
}
