.ant-divider.rule-builder-body-divider {
  margin: 8px 0 16px 0;
}

.ant-row.rule-builder-body {
  padding-right: 8px;
  padding-bottom: 3rem;
  justify-content: center;
  position: relative;
}

.ant-row.preview-rule-builder-body {
  height: auto;
  padding-bottom: 0;
}

.rule-editor-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sample-rule-card-body {
  opacity: 0.7;
}

.sample-rule-overlay {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  cursor: not-allowed;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.sample-rule-overlay:hover {
  opacity: 1;
}

.sample-rule-overlay .view-only-message {
  margin-top: 100px;
  height: fit-content;
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-lg);
  background: var(--requestly-color-black);
  font-weight: 500;
  text-align: center;
  padding: 6px 10px;
  border-radius: var(--space-2, 4px);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
}
