.response-status-code-container {
  position: relative;
}

.response-status-code-select.ant-select.ant-select-auto-complete {
  width: 100%;
  background-color: var(--requestly-color-surface-0);
}

.response-status-code-select.ant-select.ant-select-auto-complete .ant-select-selector {
  font-size: var(--requestly-font-size-sm);
  background-color: var(--requestly-color-surface-0);
}

.response-status-code-select-icon {
  position: absolute;
  right: 10px;
  bottom: 9px;
  padding: 0 5px;
  color: var(--text-dark-gray);
  background-color: var(--requestly-color-surface-0);
}

label.response-status-code-label {
  font-weight: 500;
  margin-bottom: 12px;
  color: var(--requestly-color-text-default);
  display: inline-block;
  font-size: var(--requestly-font-size-sm);
}
