.rbac-empty-state-container {
  display: flex;
  width: 100%;
  max-width: 560px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-11, 48px) 0px;
  gap: var(--space-8, 24px);
  margin: auto;

  .content {
    display: flex;
    width: 560px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      overflow: hidden;
      color: var(--requestly-color-text-default, #fff);
      font-size: var(--requestly-font-size-md, 14px);
      font-weight: var(--requestly-font-weight-medium);
      line-height: 20px; /* 142.857% */
    }

    .description {
      color: var(--requestly-color-text-subtle, #bbb);
      text-align: center;
      font-size: var(--requestly-font-size-sm, 12px);
      line-height: 18px; /* 150% */
    }
  }
}
