.onboarding-auth-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;
  margin-top: 120px;

  &.variant3 {
    margin-top: 40px;
  }

  .onboarding-auth-screen {
    max-width: 912px;
    display: flex;

    &.variant3 {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .companies-logo-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .ant-typography {
          color: var(--requestly-color-text-subtle);
        }
      }
    }
  }

  .onboarding-auth-form-wrapper {
    width: 100%;
    min-width: 440px;
    max-width: 440px;
    background: var(--requestly-color-surface-1);
    border-radius: var(--border-radius-md);
    padding: 1rem 2rem;
  }

  .onboarding-auth-banner-wrapper {
    width: 100%;
    max-width: 396px;
    margin-left: 76px;
  }
}

.verify-email-wrapper {
  background: var(--requestly-color-surface-1);
  border-radius: var(--border-radius-md);
  width: 440px;
}

.auth-screen-back-btn {
  color: var(--requestly-color-text-default);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--requestly-font-size-sm, 12px);
  font-weight: 500;
  border: none;
  background: none;
  position: relative;
  top: 1rem;
  left: 8px;
}

.verify-email-wrapper .mail-link-modal-content {
  padding: 0 32px;
  padding-bottom: 24px;
}
