.stats-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stats-card {
  border-radius: 8px;
  border: 1px solid var(--requestly-color-white-t-20);
  background: var(--requestly-color-surface-0);
  margin-top: 32px;
  width: 100%;
  max-width: 640px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 1rem;

  .stat-item {
    display: flex;
    align-items: center;
    gap: 8px;

    .stats-label {
      color: var(--requestly-color-text-subtle);

      span {
        color: var(--requestly-color-text-default);
      }
    }

    svg {
      color: #ffc700;
      font-size: 1.125rem;
    }
  }
}
