.rules-card-create-btn.ant-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.homepage-rules-card-header-action {
  display: flex;
  justify-content: flex-end;
}

.homepage-rules-list {
  height: 144px;
  overflow-y: auto;
  margin-top: 8px;
}

.homepage-rules-list-item {
  padding: 8px;
  border-radius: 4px;
  transition: 0.25s background ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--white);
  text-decoration-color: #ffffff00;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  height: 46px;
  display: flex;
  align-items: center;

  &:hover {
    background: var(--surface-1);
    text-decoration: underline;
    text-decoration-color: var(--white);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }
}
