.add-members-table-wrapper {
  .org-member-table {
    border: none;

    .org-member-table-header {
      padding: 1rem;
      border-bottom: 0;
    }

    .ant-table-empty .ant-table-tbody > tr.ant-table-placeholder td {
      border-bottom: none;
    }
  }

  .invite-people-btn.ant-btn {
    gap: 6px;
  }

  .org-members-table-count {
    padding-top: 1rem;
  }

  .ant-spin-nested-loading > div > .ant-spin {
    background: var(--requestly-color-surface-0);
  }
}
