.session-network-logs-container {
  height: inherit;

  .session-panel-content {
    &.network-logs-panel {
      height: inherit;
    }
  }

  .network-container {
    height: calc(100% - 15px);
  }
}
