.session-network-logs-container {
  height: inherit;

  .session-panel-content {
    &.network-logs-panel {
      height: inherit;
    }
  }

  &.network-logs-container-bottom {
    .rq-network-table-container {
      .network-container {
        height: 360px;
      }
    }
  }

  &.network-logs-container-right {
    .rq-network-table-container {
      .network-container {
        height: calc(100% - 15px);
      }
    }
  }
}
