.signup-modal-section-wrapper {
  padding: 32px;
  width: 55%;
}
.login-modal-wrapper {
  padding: 40px;
}
.signup-form-wrapper {
  background: var(--background);
  padding: 40px 50px;
  border-radius: 0 var(--border-radius-md) var(--border-radius-md) 0;
}
.signup-modal-hero {
  background: var(--body-background);
  border-radius: var(--border-radius-md) 0 0 var(--border-radius-md);
}
.signup-modal-hero .signup-modal-hero-title {
  font-size: 2.25rem;
  line-height: 56px;
  font-weight: 500;
}
.work-email-wrapper {
  margin: 2.37rem 0;
}
.work-email-highlight-wrapper {
  display: inline-flex;
  flex-direction: column;
}
.work-email-benefit-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
}
.secondary-text {
  color: #b0b0b5 !important;
  font-size: 14px;
}
.modal-signin-btn {
  padding: 2px 6px !important;
  margin-left: 8px;
  /* border:0 !important; */
}

.auth-wrapper {
  background-color: var(--component-background);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--border-dark);
  padding: 1rem;
}
.auth-modal-input-label {
  margin-bottom: 4px;
}
.auth-modal-input {
  box-shadow: var(--input-box-shadow);
  border: 0 !important;
  min-height: 38px;
}
.form-elements-margin {
  margin-top: 1.25rem;
}
.auth-modal-divider {
  margin: 1rem 0;
  color: #b0b0b5;
  text-align: center;
}
.mb-0 {
  margin-bottom: 0;
}
.auth-icons {
  width: 1rem;
  margin-right: 0.5rem;
}
.apple-icon {
  margin-top: -3px;
}
.auth-modal-link {
  color: #fff !important;
}

.signup-modal-testimonial-wrapper {
  margin-top: 30px;
}
.signup-modal-testimonial {
  display: flex;
  gap: 8px;
}
.signup-modal-testimonial img {
  width: 28px;
  border-radius: 4px;
}
.text-underline {
  text-decoration: underline;
}
.back-to-login-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 0;
  background: transparent;
}
