.form-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4, 8px);
  width: 100%;

  .form-select-label {
    color: var(--requestly-color-text-default, #fff);
    font-family: var(--font-family-default, Inter);
    font-size: var(--font-size-xs, 11px);
    font-style: normal;
    font-weight: 400;
    margin-bottom: -5px;
  }

  label {
    font-size: var(--requestly-font-size-sm);
    font-weight: var(--requestly-font-weight-medium);
    color: var(--requestly-color-text-default);
    line-height: 18px;
  }

  .form-select {
    display: flex;
    height: 32px;
    align-items: center;
    gap: var(--space-3, 6px);
    align-self: stretch;
    width: 100%;
    background-color: var(--requestly-color-surface-1) !important;

    .ant-select-selection-item {
      color: var(--requestly-color-text-default, #fff);
      font-family: var(--font-family-default, Inter);
      font-size: var(--font-size-sm, 12px);
      font-style: normal;
      font-weight: 400;
    }
  }
}

.ant-select-dropdown {
  .ant-select-item-option {
    display: flex;
    padding: var(--space-4, 8px) var(--space-5, 12px);
    align-items: center;
    gap: var(--space-4, 8px);
    align-self: stretch;
    border-radius: 4px;

    &:hover {
      background: var(--alias-tokens-color-white-t-10, rgba(255, 255, 255, 0.06));
    }
    .ant-select-item-option-content {
      color: var(--alias-tokens-color-text-default, #fff);
      font-family: var(--font-family-default, Inter);
      font-size: var(--font-size-xs, 11px);
      font-style: normal;
      font-weight: 400;
    }
  }

  .ant-select-item-option-disabled > .ant-select-item-option-content {
    color: var(--alias-tokens-color-text-subtle, #bbb);
    font-family: var(--font-family-default, Inter);
    font-size: var(--font-size-xs, 11px);
    font-style: normal;
    font-weight: 400;
  }
}
