.app-footer .app-layout-footer.ant-layout-footer {
  padding: 0 14px;
  border: 0;
}

.app-footer-links {
  display: flex;
  align-items: center;
}

.app-footer-links .ant-typography {
  column-gap: 3px;
  align-items: center;
  display: inline-flex;
  color: var(--requestly-color-text-subtle);
  cursor: pointer;
}

.app-footer-links .ant-typography:last-child {
  padding-right: 0;
}

.app-footer-links .ant-typography {
  padding: 0 14px;
  border-right: 1px solid var(--border-dark);
}

.app-footer-links .ant-typography:last-child {
  border: none;
}

.app-footer-links .ant-typography:hover {
  color: var(--requestly-color-text-default);
}

.app-layout-footer .footer-sidebar-toggle-btn.ant-btn {
  padding: 0;
  cursor: pointer;
  height: inherit;
  color: var(--gray-light);
  margin-right: 45px;
  margin-left: -14px;
}

.app-layout-footer .footer-sidebar-toggle-btn.ant-btn:hover,
.app-layout-footer .footer-sidebar-toggle-btn.ant-btn:focus {
  color: var(--requestly-color-text-default);
  background-color: transparent;
}

.app-layout-footer .footer-sidebar-toggle-btn svg {
  font-size: var(--requestly-font-size-xs, 11px);
}

.app-layout-footer .extension-version {
  color: var(--requestly-color-text-subtle);
}
