.rule-info-dialog-container.ant-row {
  flex-direction: column;
}

.rule-info-dialog-container.ant-row .rule-info-dialog-title {
  font-size: var(--requestly-font-size-lg, 16px);
  font-weight: 500;
  line-height: 26px;
}

.rule-info-dialog-container.ant-row .rule-info-dialog-description {
  font-size: var(--requestly-font-size-sm, 13px);
  font-weight: 400;
  line-height: 21px;
  color: var(--text-gray);
}

.ant-col .rule-info-dialog-icon {
  color: var(--text-gray);
}

.rule-info-dialog-btn.ant-col {
  margin-top: 12px;
}

.rule-info-dialog-box.ant-notification-notice {
  padding: 20px;
  background-color: var(--requestly-color-surface-0);
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-md);
}

.rule-info-dialog-box.ant-notification-notice .ant-notification-notice-message {
  margin-bottom: 0;
  padding-right: 0;
}
