.api-client-empty-response-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 32px;
  height: 100%;

  .empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 80px;
    height: 80px;
  }

  &__title {
    text-align: center;
    text-overflow: ellipsis;
    font-weight: var(--requestly-font-weight-medium);
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-default);
    margin-top: 24px;
  }

  &__description {
    font-size: var(--requestly-font-size-xs);
    color: var(--requestly-color-text-subtle);
  }

  .documentation-link {
    display: flex;
    padding-top: 16px;
    align-items: center;
    gap: 4px;
    color: var(--requestly-color-primary-text, #639ff9);
    font-size: var(--requestly-font-size-xs);
  }
}
