.full-page-navbar {
  display: flex;
  align-items: center;
  background: var(--requestly-color-surface-0) !important;
  border-bottom: 1px solid var(--border-dark);
}
.full-page-navbar .logo {
  width: 100px;
  cursor: pointer;
}
