.redirect-rule-destination-label {
  display: flex;
  gap: 4px;
}
.redirect-rule-destination-label img {
  width: 17px;
  /* filter for text-gray css variable */
  filter: invert(68%) sepia(2%) saturate(16%) hue-rotate(107deg)
    brightness(103%) contrast(97%);
}
