.redirect-destination-container.ant-row {
  margin-top: 12px;
  box-shadow: var(--input-box-shadow);
  border-radius: var(--border-radius-sm);
  background: var(--component-dark-background);
}

.redirect-destination-container.ant-row .destination-options {
  padding: 22px;
}

.redirect-destination-container.ant-row .destination-action {
  padding: 20px;
  box-shadow: var(--input-box-shadow);
  border-top: 1px solid var(--border-dark);
  background: var(--component-dark-background);
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
}

.destination-file-path {
  font-size: 12px;
}

.destination-file-path.highlight-file-path {
  color: #fafa19;
  opacity: 0.7;
}

.redirect-destination-container.ant-row .picker-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.redirect-destination-container.ant-row .picker-container .external-link-icon {
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-gray);
  align-self: center;
}

.tooltip-link,
.tooltip-link:hover {
  color: var(--white);
  text-decoration: underline;
}
