.billing-team-action-modal {
  .ant-modal-header {
    border-bottom: 0;
    padding: 1rem;
    padding-bottom: 0;

    .ant-modal-title {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: var(--requestly-font-size-lg, 16px);
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.5px;

      svg {
        font-size: 20px;
      }
    }
  }

  .ant-modal-body {
    padding: 1rem;
  }

  .ant-modal-footer {
    padding: 1rem;
    padding-top: 8px;
    border-top: 0;
  }
}

.billing-team-action-content {
  padding: 12px 0;
}

.billing-team-action-loader-container,
.billing-team-action-result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.billing-team-action-loader-container {
  .billing-team-action-loader {
    color: var(--requestly-color-text-default);
    font-size: 24px;
  }
}

.billing-team-action-loader-text {
  color: var(--requestly-color-text-default);
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.billing-team-action-result-text {
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-sm, 13px);
  line-height: 18px;
  letter-spacing: 0.25px;
  padding-right: 18px;
}
