.setting-item-container {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--border-dark);
  padding-bottom: 8px;
}

.setting-item-caption {
  font-size: var(--requestly-font-size-sm, 13px);
  line-height: 23px;
  max-width: 37.5rem;
  margin: 8px 0 1.25rem 0;
  color: var(--text-dark-gray);
}

.setting-item-container a {
  font-size: inherit;
  color: var(--requestly-color-primary-text, #639ff9);
}

.setting-item-container a:hover {
  text-decoration: underline;
}
