.billing-team-invite-members-form-wrapper {
  padding: 1rem 40px;
}

.invite-emails-wrapper {
  border: 1px solid var(--requestly-color-white-t-20);
  border-radius: 4px;
  margin-top: 8px;
}

.billing-team-invite-members-title {
  font-weight: 500;
  color: var(--requestly-color-text-default);
}

.billing-team-invite-members-instruction {
  font-size: var(--requestly-font-size-xs);
  color: var(--requestly-color-text-subtle);
}

.billing-team-invite-members-form-actions {
  display: flex;
  gap: 8px;
  margin-top: 1rem;
}
