.session-settings-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.session-settings-wrapper {
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
  max-width: 1000px;
}

.session-settings-container .header {
  margin-bottom: 2rem;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.session-settings-container .header .anticon {
  font-size: var(--requestly-font-size-md, 14px);
}

.automatic-recording-container {
  margin-bottom: 2rem;
}

.automatic-recording-details .heading {
  font-size: var(--requestly-font-size-md, 14px);
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--requestly-color-text-default);
}

.automatic-recording-details .caption {
  font-size: var(--requestly-font-size-sm, 13px);
  color: var(--text-gray);
}

.automatic-recording-switch {
  margin: 1rem 0;
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  color: var(--text-gray);
}

.automatic-recording-switch > span {
  font-size: var(--requestly-font-size-sm, 13px);
}

.automatic-recording-radio-group.ant-radio-group {
  display: block;
  font-size: var(--requestly-font-size-sm, 13px);
  border-radius: var(--border-radius-md);
  background-color: var(--requestly-color-surface-1);
}

.automatic-recording-radio-group.ant-radio-group > *:not(:last-child) {
  border-bottom: 1px solid var(--requestly-color-surface-0);
}

.automatic-recording-radio-group .learn-more-link {
  padding: 1rem;
  font-size: var(--requestly-font-size-xs, 11px);
  margin-left: auto;
  color: var(--link-color);
}

.automatic-recording-radio-group .learn-more-link:hover {
  text-decoration: underline;
}

.session-settings-container .page-source-list {
  margin: 0 20px;
}

.specific-page-mode-container {
  padding-bottom: 1.5rem;
}

.specific-page-mode-container .add-new-source-btn.ant-btn {
  margin-top: 6px;
  padding: 11px;
  font-size: var(--requestly-font-size-sm, 12px);
  height: auto;
  color: var(--requestly-color-text-default);
  border: 1px dashed var(--requestly-color-primary);
  border-radius: var(--border-radius-md);
  background: rgba(30, 105, 255, 0.1);
}

.specific-page-mode-container .add-new-source-btn.ant-btn:hover {
  background: rgba(30, 105, 255, 0.2);
}
