.test-this-rule-row {
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-md);
}
.test-this-rule-row-header {
  padding: 1rem 1.25rem;
  background: var(--component-header-background);
}
.test-this-rule-row-body {
  padding: 1.25rem;
  background: var(--component-background);
}
.test-this-rule-row-body .start-test-rule-btn {
  display: flex;
  gap: 4px;
  font-size: 13px;
  font-weight: 500;
  margin-left: 4px;
}
.start-test-rule-btn-icon {
  font-size: 1rem;
}
.test-this-rule-row-body .ant-input {
  background: var(--component-dark-background);
}
