.session-trimmer-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  pointer-events: none;

  .session-trimmer-area {
    pointer-events: none;

    width: 100%;
    position: relative;
    height: 40px;
    background: var(--requestly-color-surface-0);
    border-radius: var(--space-4, 8px);
    margin-top: -3rem;

    &:hover {
      .session-trimmer-bar,
      .session-trimmer-handle {
        border-color: var(--requestly-color-primary);
      }
    }

    .session-trimmer-handle {
      position: absolute;
      border-radius: 4px;
      border: 2px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
      background: var(--requestly-color-surface-2, #383838);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
      cursor: ew-resize;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      pointer-events: auto;

      & svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        .session-trimmer-handle-icon-tooltip {
          display: block;
          opacity: 1;
        }
      }

      &:hover {
        .session-trimmer-handle-icon-tooltip {
          display: block;
          opacity: 1;
        }
      }
    }

    .session-trimmer-bar {
      position: absolute;
      left: 0;
      right: 0;
      height: 40px;
      border-radius: 4px;
      border: 2px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
      background: var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
    }
  }
  .session-trim-actions {
    min-width: 260px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  .session-trim-divider {
    margin: 0 1rem;
    height: 2rem;
    border-color: var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.06));
  }

  .session-trimmer-handle-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .session-trimmer-handle-icon-tooltip {
      display: none;
      position: absolute;
      font-size: var(--requestly-font-size-xs);
      color: var(--requestly-color-text-default);
      background: var(--requestly-color-black);
      border: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.06));
      padding: 4px;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      user-select: none;
      -ms-user-select: none;
      z-index: 2;
      top: -32px;
    }
  }
}
