.primary-sidebar-container {
  position: relative;
  width: 100%;
  padding: var(--space-2, 4px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-sidebar-container:hover .secondary-sidebar-toggle-btn {
  opacity: 1;
  visibility: visible;
}

.primary-sidebar-container > button:last-child {
  margin-bottom: 48px;
  cursor: pointer;
  border-top: 1px solid var(--border-dark);
  border-bottom: 1px solid var(--border-dark);
}

.primary-sidebar-container ul {
  padding: 0;
}

.primary-sidebar-container li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 8px 0;
}

.primary-sidebar-container li .primary-sidebar-link {
  flex-grow: 1;
}

.primary-sidebar-container .primary-sidebar-link {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: var(--space-4, 8px);
  color: var(--requestly-color-text-placeholder);
  border-radius: 4px;
  border: none;
  transition: none;
}

.primary-sidebar-container .primary-sidebar-link:hover {
  cursor: pointer;
  color: var(--requestly-color-text-default);
  background-color: var(--requestly-color-white-t-10);
}

.primary-sidebar-container .primary-sidebar-link:hover img {
  filter: brightness(0) invert(100%);
}

.primary-sidebar-container .primary-sidebar-link:active,
.primary-sidebar-container .primary-sidebar-active-link,
.primary-sidebar-container .primary-sidebar-active-link:hover {
  color: var(--requestly-color-text-default);
  background-color: var(--requestly-color-white-t-20);
}

.primary-sidebar-container .primary-sidebar-active-link:active img,
.primary-sidebar-container .primary-sidebar-active-link img,
.primary-sidebar-container .primary-sidebar-active-link:hover img {
  filter: brightness(0) invert(100%);
}

.primary-sidebar-container .primary-sidebar-active-link {
  border-left-color: var(--requestly-color-primary);
}

.primary-sidebar-link svg {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.primary-sidebar-link .link-title {
  font-size: var(--requestly-font-size-xs);
  line-height: 15.92px;
  text-align: center;
}

.primary-sidebar-link .icon-with-badge {
  position: relative;
}

.primary-sidebar-link .icon-with-badge .rq-badge {
  position: absolute;
  top: -7px;
  right: -30px;
  font-size: var(--requestly-font-size-2xs, 9px);
  padding: 1px 2px;
  z-index: 1;
  background: var(--requestly-color-neutral-700);
  border: 1px solid var(--requestly-color-surface-3);
}
.primary-sidebar-link .icon-with-badge .rq-badge span {
  color: var(--requestly-color-neutral-300);
  background: none;
  -webkit-text-fill-color: var(--requestly-color-neutral-300);
}
.primary-sidebar-bottom-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
