body.dark {
  .info-icon-tooltip {
    .ant-tooltip-inner,
    .ant-tooltip-arrow-content {
      background-color: #434343 !important;
      --antd-arrow-background-color: #434343 !important;
    }
  }
}

body.dark {
  .info-icon-tooltip-danger {
    .ant-tooltip-inner,
    .ant-tooltip-arrow-content {
      display: flex;
      padding: 8px 12px;
      align-items: flex-start;
      gap: 6px;
      border-radius: 6px;
      border: 1px solid var(--requestly-color-white-t-10);
      background: var(--requestly-color-black) !important;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
    }
  }
}
