.app-banner + .app-layout {
  height: calc(100vh - 48px);
}

.app-banner {
  padding: 2px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  color: var(--white) !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;

  .right-arrow-icon {
    transition: 0.3s transform;
  }

  &:hover .right-arrow-icon {
    transform: translateX(5px);
  }

  .close-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
  }

  .close-btn:hover,
  .close-btn:focus {
    background: transparent;
  }
}
