/* popup */
.popup {
  width: 560px;
  min-height: 460px;
  max-height: 546px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--text-default);
}

.popup-header {
  height: 56px;
  padding: 12px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--surface-1);
}

.popup-header-workspace-section {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.popup-header-workspace-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-header-workspace-details .ant-typography {
  line-height: 14.06px;
}

.popup-header-workspace-details > .ant-typography {
  max-width: 20ch;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-header-workspace-switch-btn.ant-btn {
  padding: 0;
  height: auto;
  line-height: 14.06px;
  color: var(--color-secondary);
}

.popup-header-workspace-switch-btn.ant-btn span {
  text-decoration: underline;
}

.popup-header-dropdown-text {
  display: flex;
  align-items: center;
  column-gap: 7px;
  margin-right: 16px;
  cursor: pointer;
}

.popup-header-dropdown-text svg {
  margin-top: 4px;
}

.popup-header-dropdown-text .ant-typography-danger {
  color: var(--color-danger);
}

.popup-header-dropdown-menu.ant-dropdown-menu.ant-dropdown-menu-root {
  max-width: 264px;
  padding: 12px 16px;
  color: var(--color-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  background-color: var(--background-color-row-hover);
}

.popup-header-dropdown-menu .popup-header-dropdown-menu-item.ant-dropdown-menu-item-only-child.ant-dropdown-menu-item {
  padding: 0;
}

.popup-header-dropdown-menu
  .popup-header-dropdown-menu-item.ant-dropdown-menu-item-only-child.ant-dropdown-menu-item:hover {
  background-color: var(--background-color-row-hover);
}

.popup-header-dropdown-menu-item div {
  display: flex;
  flex-direction: column;
}

.popup-header-dropdown-menu-item .ant-btn {
  text-align: left;
  padding: 3.5px 6px;
  margin-top: 8px;
}

.popup-header-dropdown-menu-item .ant-btn,
.popup-header-dropdown-menu-item .ant-btn:hover {
  color: var(--color-primary);
  background-color: #ffffff1f;
}

.popup-header-dropdown-menu-item .ant-btn.ant-btn-dangerous,
.popup-header-dropdown-menu-item .ant-btn.ant-btn-dangerous:hover {
  color: var(--color-primary);
  background-color: rgba(250, 40, 40, 0.2);
  border: 1px solid rgba(250, 40, 40, 0.6);
}

.popup-header-dropdown-menu-item .ant-btn:hover,
.popup-header-dropdown-menu-item .ant-btn.ant-btn-dangerous:hover {
  opacity: 0.6;
}

.popup-body {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup-content {
  padding: 16px;
}

.header-content-separator {
  margin: 10px 0;
}

.product-logo {
  height: 30px;
}

.popup-section {
  margin-bottom: 10px;
  background: var(--background-color-secondary);
  border: 1px solid var(--border-color);
}

.popup-section:last-child {
  margin-bottom: 0;
}

.popup-section .ant-card-body {
  padding: 10px;
}

.open-app-btn.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 8px 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.pause-switch {
  margin-right: 8px;
  align-self: center;
}

.pause-switch.ant-switch.ant-switch-checked,
.pause-switch.ant-switch.ant-switch-checked:hover {
  background: var(--success);
}

.extension-paused-overlay {
  position: absolute;
  inset: 0;
  background: var(--surface-1);
  z-index: 2;
  opacity: 0.6;
}

.record-name {
  max-width: 42ch;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  color: var(--color-primary);
  margin-left: 6px;
}

.record-name.rule-name {
  margin-left: 42px;
}

.record-name-container.link,
.rule-name-container .rule-type-icons.icon-wrapper svg {
  color: var(--blue-400);
}

.record-name-container.link:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--blue-400);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.record-name-container .icon-wrapper svg {
  width: 16px;
  height: 16px;
  color: var(--color-secondary);
}

.record-list {
  overflow: auto;
  max-height: 300px;
}

.record-name-container {
  padding: 7px 11px 7px 0;
}

.record-status-text {
  margin-right: 8px;
}

.empty-rules-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

/* footer */
.popup-footer {
  padding: 16px;
}

.popup-footer .need-help {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--text-light);
  cursor: pointer;
}

.popup-footer .need-help svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  color: var(--text-light);
}

/* utils */
.icon-wrapper {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-gray {
  color: var(--color-secondary);
}

/* popover */
.ant-popover.ant-popconfirm .ant-popover-inner {
  background-color: var(--border-color);
}

.ant-popover.ant-popconfirm .ant-popover-content {
  margin-right: 10px;
}

/* tooltip */
.ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.48);
}

.action-btn-tooltip.ant-tooltip {
  margin-top: 3px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.48);
}

.action-btn-tooltip.action-btn-tooltip .ant-tooltip-inner {
  max-width: 232px;
  padding: 8px 12px;
  border-radius: var(--border-radius-sm);
}

.ant-tooltip.ant-tooltip-placement-topLeft .ant-tooltip-content .ant-tooltip-arrow {
  left: 0px;
}

.ant-tooltip.ant-tooltip-placement-topLeft .ant-tooltip-content {
  margin-left: -2px;
  margin-bottom: -5px;
}

/* tabs */
.ant-tabs.ant-tabs-top.popup-tabs .ant-tabs-nav {
  margin-bottom: 12px;
}
