.header-plan-expired-badge-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 8px;

  & .ant-btn {
    font-weight: 500;
  }
}

.header-plan-expired-badge {
  padding: 4px 6px;
  border-radius: 2rem;
  font-size: var(--requestly-font-size-xs, 11px);
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--requestly-color-error);
  font-weight: 500;
  border: 1px solid var(--requestly-color-error);
  height: 22px;
  line-height: 22px;
  cursor: pointer;

  & .ant-badge-status-dot {
    width: 8px;
    height: 8px;
  }
}
