.home-v2-container {
  background: var(--background);
  //   background: #020409;
  padding: 100px 80px;
  padding-right: 20px;

  .welcome-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .welcome-subtitle {
    font-size: 1rem;
    color: var(--text-gray);
  }

  .home-v2-feature-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust minmax() values as needed */
    max-width: 1100px;
    margin-top: 1rem;

    .home-v2-feature-grid-item {
      border: 1px solid #ffffff11;
      padding: 1.5rem 1rem;
    }
    .home-v2-feature-grid-item:not(:last-child) {
      border-width: 1px 0.5px 1px 1px;
    }

    .home-v2-grid-header {
      display: flex;
      gap: 8px;

      &-icon {
        align-self: flex-start;
        width: 32px;
        height: 32px;
      }
      &-title {
        font-size: 1rem;
        margin-bottom: 4px;
      }
      &-subtitle {
        line-height: 18px;
        color: var(--text-gray);
      }
    }

    .home-v2-grid-card {
      //   background: #0e1116;
      background: var(--component-background);
      padding: 16px;
      border-radius: var(--border-radius-sm);
      margin-top: 1rem;
      cursor: pointer;
      transition: 0.25s background ease-in-out;

      &-title {
        font-size: 1rem;
      }
      &-description {
        font-size: 13px;
        line-height: 10px;
        font-weight: 500;
        color: var(--text-gray);
      }
      .get-started-text {
        font-size: 13px;
        gap: 4px;
        opacity: 0;
        transition: 0.25s opacity ease-in-out;
      }
      &:hover {
        background-color: var(--border-dark);
        .get-started-text {
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 860px) {
  .home-v2-container {
    padding: 50px 30px;
  }
}
