.my-billing-team-members-table {
  .icon__wrapper.danger {
    color: var(--requestly-color-error-text);
  }
}

.billing-team-members-section-header {
  padding: 8px 1rem;
  border-bottom: 1px solid var(--requestly-color-surface-2);

  &-title {
    color: var(--requestly-color-text-default);
    font-weight: 500;
  }

  &-btn.ant-btn {
    font-weight: 500 !important;
    gap: 8px;
  }
}

.remove-member-btn.ant-btn {
  gap: 6px;
  color: var(--neutrals-gray-300);

  &:hover,
  &:focus,
  &:active {
    background: var(--requestly-color-surface-2);
    color: var(--requestly-color-text-default);
  }
}

.billing-table tbody tr:hover .remove-member-btn.ant-btn,
.billing-table tbody tr:hover .members-table-dropdown-btn.ant-btn {
  color: var(--requestly-color-text-default);
}

.billing-team-members-table-dropdown .ant-dropdown-menu-item-disabled,
.ant-dropdown-menu-submenu-title-disabled {
  display: none;
}

.loading-cell {
  cursor: not-allowed;
  transition: 0.2s all ease-in-out;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--surface-0);
    z-index: 1;
    cursor: not-allowed;
    opacity: 0.7;
    transition: 0.15s all ease-in-out;
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.7;
  }
}
