.install-extension-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3.25rem;
}

.install-extension-container .heading {
  font-size: 2.5rem;
  color: var(--white);
  text-align: center;
  font-weight: 600;
  line-height: 3.75rem;
  margin-bottom: 17px;
  max-width: 36ch;
}

.install-extension-container .sub-heading {
  text-align: center;
  font-size: 1.125rem;
  max-width: 71ch;
  line-height: 31px;
  color: var(--gray-light);
  margin-bottom: 2.875rem;
}

.install-extension-container .install-extension-link {
  font-size: 1rem;
  font-weight: 500;
  display: inline-flex;
  padding: 8px 1.5rem;
  color: var(--white);
  background-color: var(--primary);
  border-radius: var(--border-radius-sm);
  margin-bottom: 21px;
}

.install-extension-container .install-extension-link:hover {
  opacity: 0.8;
  transition: 0.2s opacity;
}

.install-extension-container .view-all-platforms-link {
  margin-bottom: 2.5rem;
  color: var(--link-color);
}

.install-extension-container .troubleshooting-guide-link {
  color: var(--link-color);
}

.install-extension-container .view-all-platforms-link:hover,
.install-extension-container .troubleshooting-guide-link:hover {
  text-decoration: underline;
}

.browser-not-supported-msg {
  font-size: 1.5rem;
}
