.copy-as-modal {
  &.rq-modal.ant-modal {
    min-width: 320px !important;

    .ant-modal-body {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: var(--requestly-color-surface-0);
      border: 1px solid var(--requestly-color-white-t-10);
    }
  }

  .snippet-container {
    background-color: var(--requestly-color-surface-2);

    .snippet-content {
      padding: 0px 8px 8px 8px;
      font-family: var(--requestly-font-family-code);

      white-space: pre-wrap;
      word-break: break-word;
    }

    .snippet-actions {
      padding: 4px 4px 0px 4px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }
}
