.empty-workspace-list-view {
  &__title {
    color: var(--alias-tokens-color-text-subtle);
    font-size: var(--requestly-font-size-sm, 12px);
    padding: 0 var(--space-4, 8px);
  }

  &__content {
    display: flex;
    gap: 12px;
    padding: var(--space-4, 8px) var(--space-5, 12px);

    img {
      align-self: self-start;
      width: 32px;
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .empty-workspace-list-body-description {
        color: var(--alias-tokens-color-text-subtle);
        font-size: var(--requestly-font-size-sm, 12px);
        line-height: 18px;
      }
    }
  }
}
