.editor-group-list-container {
  flex-shrink: 0;
}

.editor-group-dropdown-trigger {
  font-size: var(--requestly-font-size-sm, 13px);
  cursor: pointer;
  user-select: none;
  padding: 7px 8px 6px 8px;
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-0);
  border: 1px solid transparent;
  transition: border 0.3s;
}

.editor-group-dropdown-trigger[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.editor-group-dropdown-trigger.editor-group-dropdown-active {
  border-color: var(--dropdown-active-border-color);
}

.editor-group-dropdown-trigger img {
  margin-left: 5px;
}

.editor-group-dropdown-menu.ant-dropdown-menu {
  width: 13rem;
  max-height: 19.5rem;
  position: relative;
  color: var(--requestly-color-text-default);
}

.show-group-input.editor-group-dropdown-menu.ant-dropdown-menu {
  width: 13.625rem;
}

.editor-group-menu-divider.ant-divider {
  margin: 6px 0;
}

.editor-group-menu-item.ant-dropdown-menu-item {
  padding: 8px;
  border-radius: var(--border-radius-sm);
}

.editor-group-menu-item-active.ant-dropdown-menu-item span {
  color: var(--requestly-color-text-default);
}

.editor-group-menu-name-container {
  overflow: auto;
  max-height: 11rem;
}

.editor-group-selected-icon {
  margin-left: 2px;
}

.editor-group-menu-item.ant-dropdown-menu-item:not(.editor-group-menu-item-active) {
  background-color: transparent;
}

.editor-group-menu-item.ant-dropdown-menu-item:not(.editor-group-menu-item-active):hover,
.editor-group-menu-item-active.ant-dropdown-menu-item {
  background-color: var(--requestly-color-surface-2);
}

.editor-group-menu-item.ant-dropdown-menu-item-danger span {
  user-select: none;
  color: var(--requestly-color-error);
}

.editor-group-menu-item.ant-dropdown-menu-item-danger.ant-dropdown-menu-item-disabled {
  opacity: 0.7;
}

.editor-group-menu-item .ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  max-width: 24ch;
  text-overflow: ellipsis;
  color: var(--requestly-color-text-default);
}

.editor-group-menu-item .ant-dropdown-menu-title-content span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editor-group-empty-message {
  font-size: var(--requestly-font-size-sm, 13px);
  padding-left: 12px;
  color: var(--text-dark-gray);
}

.editor-group-list-title {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 16px 0 8px 14px;
}

.editor-dropdown-add-new-group.ant-btn {
  margin: 0 6px;
  padding: 3px 6px;
  width: calc(13rem - 14px);
  justify-content: flex-start;
}

.editor-dropdown-add-new-group.ant-btn:hover {
  background-color: var(--requestly-color-surface-2);
}

.editor-dropdown-add-new-group.ant-btn .anticon-plus {
  margin-top: 5px;
  margin-right: -4px;
}

.editor-group-dropdown-input-container {
  padding: 6px;
  font-size: var(--requestly-font-size-sm, 13px);
}

.editor-group-input-title {
  font-size: 10px;
  font-weight: 500;
  margin: 0 0 8px 6px;
  letter-spacing: 1px;
}

.editor-group-dropdown-input.ant-input {
  margin: 0 6px;
  height: 30px;
  width: calc(13.625rem - 25px);
  display: inline-block;
}

.editor-group-dropdown-actions {
  font-size: var(--requestly-font-size-sm, 13px);
  margin: 12px 6px 0px auto;
}

.editor-group-dropdown-actions .ant-btn {
  font-size: var(--requestly-font-size-sm, 13px);
}

.editor-group-dropdown-cancel-btn {
  margin-right: 8px;
}
