.desktop-app-container {
  padding: 12px 14px;
  background: var(--surface-1);
  border-radius: var(--border-radius-sm);

  .connect-to-desktop-icon {
    width: 40px;
  }

  .proxy-applied-subtitle {
    font-size: 12px;
    color: var(--text-light);
    letter-spacing: 0.4px;
  }

  .disconnect-button {
    border-color: var(--danger);
  }

  .connected-icon {
    color: var(--success);
  }
}
