.delete-pair-icon {
  font-size: 1rem;
  margin-top: 6px;
}

.panel-header {
  font-weight: 500;
  font-size: var(--requestly-font-size-sm);
}

.rule-pairs-collapse.ant-collapse {
  border: none;
  background-color: transparent;
}

.rule-pairs-panel.ant-collapse-item {
  margin-bottom: 1.25rem;
  border-radius: var(--border-radius-md);
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item {
  border: 1px solid var(--border-dark);
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border: none;
  padding: 1rem 1.25rem;
  background-color: var(--component-header-background);
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child,
.rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-expand-icon .anticon {
  margin-right: 32px;
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item:not(.ant-collapse-item-active) .ant-collapse-header {
  border-radius: var(--border-radius-md);
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-content {
  border: none;
  background-color: var(--requestly-color-surface-1);
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-content .ant-collapse-content-box {
  padding: 1rem 1.25rem;
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child {
  border-radius: var(--border-radius-md);
}

.rule-pairs-collapse .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid var(--border);
}

.headers-rule-pair-card .ant-card-body {
  width: 100%;
  padding: 1rem 0 0 0;
  background-color: var(--requestly-color-surface-1);
}

.rule-pairs-collapse .ant-input-wrapper.ant-input-group .ant-input,
.rule-pairs-collapse .ant-input-wrapper.ant-input-group .ant-input-group-addon {
  font-size: var(--requestly-font-size-sm);
}

.ant-select.ant-select-lg {
  font-size: var(--requestly-font-size-md, 14px);
}

.rule-pairs-panel .modification-type-dropdown {
  text-align: right;
  font-size: var(--requestly-font-size-sm);
}

.rule-pairs-panel .ant-dropdown-trigger.ant-dropdown-link {
  font-size: var(--requestly-font-size-sm);
}

@media (max-width: 1208px) {
  .rule-pairs-panel .modification-type-dropdown {
    text-align: initial;
  }
}
