.apiclient-view-container {
  padding: 8px 12px;
  background: url("./apiclient-container-bg.png") 50% / cover no-repeat;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    line-height: 20px;
  }

  .action-btns {
    column-gap: 12px;

    .api-client-action-btn {
      border: var(--white-t-20) solid 1px;
      background: transparent;
    }
  }

  .view-more-options-link {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
