.apiclient-view-container {
  padding: 8px 12px;
  background: url("./apiclient-container-bg.png") 50% / cover no-repeat;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    line-height: 20px;
  }

  .action-btns {
    column-gap: 12px;

    .api-client-action-btn {
      background: rgba(255, 255, 255, 0.06);
      border: 1px solid var(--white-t-10);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

      &:hover {
        color: var(--text-default);
        background: rgba(255, 255, 255, 0.06);
        border-color: var(--white-t-20);
      }
    }
  }

  .view-more-options-link {
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
