.test-this-rule-container {
  height: inherit;
}

.test-results-header {
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-sm);
}

.test-reports-container {
  flex: 1;
  height: inherit;
}
