.team-billing-info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .team-billing-info-section {
    .team-billing-info-header {
      display: flex;
      align-items: center;
      gap: 8px;

      &-btn.ant-btn {
        font-weight: 500;
        gap: 6px;

        &:hover,
        &:focus,
        &:active {
          background: var(--requestly-color-surface-2);
        }

        &:hover .team-billing-info-btn-text,
        &:focus .team-billing-info-btn-text,
        &:active .team-billing-info-btn-text {
          color: var(--requestly-color-text-default);
        }
      }
    }
    padding: 1rem;
    .team-billing-info-btn-text {
      display: inline-flex;
      gap: 0.25rem;
      align-items: center;
      padding-bottom: 2px;
      transition: 0.2s all ease-in-out;
    }
  }

  .team-billing-info-section:first-child {
    border-right: 1px solid var(--requestly-color-surface-2);
  }
}
