.network-inspector-home-container {
  display: flex;
  justify-content: center;

  .network-inspector-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 680px;

    padding: var(--space-11, 48px) 1rem;
    gap: var(--space-9, 32px);

    .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;

      .network-inspector-icon {
        width: 48px;
        height: 38px;
      }

      .heading {
        text-align: center;
        margin-top: 12px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: normal;
        font-weight: 500;
        font-size: var(--requestly-font-size-lg);
        line-height: var(--requestly-font-line-height-lg);

        background: linear-gradient(175deg, rgba(255, 255, 255, 0.6) 62.29%, rgba(255, 255, 255, 0.1) 94.11%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .description {
        color: var(--requestly-color-text-subtle, #bbb);
        text-align: center;
        font-size: var(--requestly-font-size-sm, 13px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--requestly-font-line-height-sm, 20px);
      }

      .learn-more-link {
        color: var(--requestly-color-primary-text, #639ff9);
        font-size: var(--requestly-font-size-xs, 11px);
        line-height: var(--requestly-font-line-height-xs, 15px);
        display: inline-flex;
        align-items: center;
        gap: 4px;
      }

      .shortcut-keys-container {
        margin-top: 6px;
        display: flex;
        padding: var(--space-6, 16px) var(--space-6, 16px) var(--space-0, 0px) var(--space-6, 16px);
        justify-content: center;
        align-items: center;
        gap: var(--space-6, 16px);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 1px;
          width: 100%;

          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.35),
            rgba(255, 255, 255, 0)
          );
        }

        .rq-logo {
          width: 20px;
          height: 20px;
          flex-shrink: 0;
        }
      }
    }

    .shortcut-keys {
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--requestly-color-text-default, #fff);
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: var(--requestly-font-size-sm, 13px);
      line-height: var(--requestly-font-line-height-sm, 20px);

      .key {
        display: flex;
        min-width: 24px;
        height: 24px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
        background: var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
        backdrop-filter: blur(5px);
      }

      .plus-icon {
        width: 9px;
      }
    }

    .video-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .network-inspector-video {
        position: relative;

        .devtools-shortcut {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          gap: 8px;
          padding: var(--space-4, 8px) var(--space-5, 12px);
          border-radius: 80px;
          border: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
          background: var(--requestly-color-surface-1, #282828);
          color: var(--requestly-color-text-default, #fff);

          font-weight: 500;
          font-size: var(--requestly-font-size-sm, 13px);
          line-height: var(--requestly-font-line-height-sm, 20px);
        }
      }

      .network-inspector-video-player {
        height: 420px;
        width: 100%;
        max-width: 680px;
        max-inline-size: 100%;
        block-size: auto;
        border-radius: 16px;
        border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
        background: var(--requestly-color-surface-0, #212121);
      }
    }
  }
}
