.network-inspector-home-container {
  height: 100%;
  background-color: var(--requestly-color-background);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 120px 20px 120px;

  .heading {
  }
}
