.save-recording-config-popup {
  position: absolute;
  width: 413px;
  top: 42px;
  right: 0px;
  z-index: 10;
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-md);
  background-color: var(--requestly-color-surface-1);

  // ant-design modal's default box shadow
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.48), 0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);

  .header-container {
    padding: 8px 8px 8px 20px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--requestly-color-surface-0);

    .header {
      font-size: var(--requestly-font-size-sm);
      font-weight: 700;
    }

    button.ant-btn {
      border: none;
      padding: 16px 11px;
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  .config-container {
    padding: 16px 20px;

    > div {
      margin-bottom: 24px;
    }

    .mode-radio-group {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    .config-label {
      font-size: var(--requestly-font-size-sm);
      line-height: 25px;
      margin-bottom: 12px;
      color: var(--text-gray);
    }
  }

  .footer {
    padding: 4px 8px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 1px solid var(--border-dark);
    background-color: var(--requestly-color-surface-0);
  }
}
