.sessions-info-container {
  border-radius: 4px;
  border: 1px solid var(--requestly-color-white-t-10);

  .sessions-info-item {
    display: flex;

    &-label {
      align-self: start;
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      padding: 8px;
      display: flex;
      align-items: center;
      gap: 8px;
      min-width: 180px;
      width: 180px;

      svg {
        font-size: 1rem;
      }
    }

    &-value {
      color: var(--requestly-color-text-default);
      font-size: var(--requestly-font-size-xs);
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 8px;
      flex: 1;
    }

    &:nth-of-type(odd) {
      background: var(--requestly-color-background);
    }

    &:nth-of-type(even) {
      background: var(--requestly-color-surface-1);
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    &:first-child {
      border-radius: 4px 4px 0 0;
    }
  }

  .inline-input-row {
    min-height: unset;

    .inactive-inline-input {
      width: 100%;
    }
  }
}
