.team-settings-container {
  margin-top: 4px;
}

.team-settings-title {
  color: var(--white);
  margin: 1.25rem 0 0.75rem 0;
}

/* form */
.team-settings-form {
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--border-dark);
}

.team-settings-form-item {
  max-width: 26.25rem;
  margin-bottom: 1.25rem;
}

.team-settings-name-input.ant-input,
.team-settings-description.ant-input {
  border: 1px solid transparent;
  box-shadow: var(--input-box-shadow);
}

.team-settings-name-input-label,
.team-settings-description-label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--white);
  display: inline-block;
}
