.auth-form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4, 8px);

  label {
    font-size: var(--requestly-font-size-sm);
    font-weight: var(--requestly-font-weight-medium);
    color: var(--requestly-color-text-default);
    line-height: 18px;
  }

  .auth-form-input {
    height: 40px;
    padding: var(--space-2, 4px) var(--space-5, 12px);
  }
}
