.network-panel-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 2px 4px;
  background-color: var(--background-color-toolbar);
  border-bottom: 1px solid var(--border-color);

  .ant-btn {
    height: 24px;
    padding: 0px 8px;
    font-size: var(--font-size-small);
    color: var(--color-secondary);
  }

  &.primary {
    justify-content: space-between;
  }

  .url-filter {
    width: 200px;
    padding: 2px 6px;
  }

  .resource-type-filter {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .ant-radio-button-wrapper {
      border: 0;
      margin-left: 6px;
      background: transparent;
      font-size: var(--font-size-normal);
      line-height: 18px;
      height: 18px;

      &::before {
        display: none;
      }

      &.ant-radio-button-wrapper-checked {
        background-color: var(--background-color-radiobutton-selected);
        color: var(--color-secondary);
        border-radius: 4px;
      }
    }

    .divider {
      height: 16px;
      margin-right: 0;
      margin-left: 8px;
    }
  }
}
