.sessionbear-header-logo img {
  width: 160px;
  cursor: pointer;
}

.sessionbear-header-mini-logo {
  display: none;
}

.sessionbear-header-mini-logo img {
  width: 35px;
  cursor: pointer;
}

@media (max-width: 574px) {
  .sessionbear-header-logo {
    display: none;
  }
  .sessionbear-header-mini-logo {
    display: block;
  }
}
