.select-workspace-group {
  margin-bottom: 12px;

  .select-workspace-group__control {
    border-color: var(--requestly-color-white-t-10);

    &:hover {
      border-color: var(--requestly-color-white-t-10);
    }

    .select-workspace-group__single-value {
      color: var(--requestly-color-default);
      font-size: var(--requestly-font-size-sm);
    }
  }
}

.select-collection-group {
  .select-collection-group__control {
    background-color: inherit;
    border-color: var(--requestly-color-white-t-10);

    &:hover {
      border-color: var(--requestly-color-white-t-10);
    }

    &:disabled {
      cursor: not-allowed;
      background-color: inherit;
      border-color: var(--requestly-color-white-t-10);
    }

    .select-collection-group__single-value {
      color: var(--requestly-color-default);
      font-size: var(--requestly-font-size-sm);
    }
  }
}

.select-workspace-group .select-workspace-group__option,
.select-collection-group .select-collection-group__option {
  color: var(--requestly-color-default);
  font-size: var(--requestly-font-size-sm);
}

.move-to-collection-modal {
  .multi-view-mode-info {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    gap: var(--space-2, 4px);
    align-self: stretch;

    color: var(--requestly-color-text-placeholder, #8f8f8f);
    font-size: var(--requestly-font-size-xs, 11px);
    line-height: 17px; /* 154.545% */

    svg {
      flex-shrink: 0;
      --size: 12px;

      width: var(--size);
      height: var(--size);
      margin-top: 1px;
    }
  }
}
