.welcome-card-option {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  padding: var(--requestly-space-6) var(--requestly-space-8);
  transition: border 0.2s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--requestly-color-primary);
    background: var(--requestly-color-white-t-10);
  }
}

.fade-out {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.api-client-onboard-card {
  position: relative;

  &__options-container {
    padding-top: 12px;
  }

  &__arrow {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    right: 16px;
    top: 32px;
  }
}

.api-client-onboard-card__options-container {
  .local-workspace-create-options__option-title {
    font-size: var(--requestly-font-size-md) !important;
  }
}

.onboarding-interceptor-card-option {
  .api-client-onboard-card__arrow {
    top: 35px;
    opacity: 0;
  }

  &:hover {
    .api-client-onboard-card__arrow {
      opacity: 1;
    }
  }
}
