.rq-persona-survey-modal {
  .ant-modal-content {
    .ant-modal-body {
      padding: var(--space-6, 16px);

      .persona-options-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-4, 8px);
        row-gap: 16px;
        padding: 12px 0;

        .ant-radio-wrapper {
          span {
            color: var(--requestly-color-text-default);
            font-size: var(--requestly-font-size-sm);
            font-weight: var(--requestly-font-weight-medium);
          }
        }
      }
    }
  }
  &__title {
    display: flex;
    align-items: center;
    gap: var(--space-4, 8px);

    span {
      color: var(--requestly-color-text-default);
      font-weight: var(--requestlt-font-weight-medium);
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--requestly-color-success);
    }
  }

  &__description {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);
    margin-top: 20px;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
  }
}
