.rq-modal-content.appsumo-modal {
  overflow: auto;
  max-height: 550px;

  .appsumo-code-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4px;

    .appsumo-code-error {
      text-align: right;
      padding: 2px 0;
    }

    .ant-input-suffix {
      color: var(--requestly-color-success);
    }
  }

  .remove-icon {
    margin: auto 6px;
    height: 14px;
    width: 14px;
  }

  .appsumo-add-btn {
    font-size: var(--requestly-font-size-sm, 13px);
    padding: 0;
  }
}
