.team-details-popover-content {
  position: relative;
  padding: 8px 0;
}

.team-details-popover-close-icon {
  position: absolute;
  right: -6px;
  top: -6px;
  color: var(--requestly-color-text-default);
  font-size: 1.125rem;
  cursor: pointer;
}

.team-details-label {
  color: var(--neutrals-gray-300);
}
