.api-client-onboard-card {
  position: relative;

  &__options-container {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: var(--requestly-space-4, 8px);
  }

  &__arrow {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    right: 16px;
    top: 32px;
  }
}
