.api-client-onboard-card {
  position: relative;

  &__options-container {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: var(--requestly-space-4, 8px);

    .api-client-onboard-card__option {
      padding: var(--requestly-space-5, 12px) var(--requestly-space-6, 16px);
      border-radius: 8px;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.06);
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: var(--requestly-color-white-t-20);
      }

      &-title {
        display: flex;
        align-items: center;
        gap: var(--requestly-space-5, 12px);
      }

      &--primary {
        background: var(--requestly-color-primary-dark);

        &:hover {
          background: var(--requestly-color-primary);
        }
      }

      &-arrow {
        display: flex;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 48px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.04);

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    position: absolute;
    right: 16px;
    top: 32px;
  }
}
