.api-client-logged-out-view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-12, 56px) 0px;

  &_content {
    h5.ant-typography {
      font-weight: var(--font-weight-medium);
      color: var(--requestly-color-text-default);
      font-size: var(--requestly-font-size-md);
    }
  }

  &_description {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);
  }
}
