.create-workspace-modal {
  border-radius: 8px;
  border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
  background: var(--requestly-color-surface-0, #212121);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 0 !important;
  padding: 8px 8px 0 16px !important;
  position: relative;

  .ant-modal-content {
    background: none;
    box-shadow: none;
  }

  .ant-modal-body {
    padding: 0;
  }

  &__close-icon {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
  }
}
