.getting-started-default-team-view {
  padding: 1rem 24px;

  & .ant-divider {
    margin-top: 32px;
    margin-bottom: 0;
    width: 400px;
    border-top-color: #383838;
  }
}

.getting-started-default-team-title {
  font-weight: 500;
  margin-top: 16px;
}
.getting-started-default-team-description {
  color: var(--neutrals-gray-300);
  font-size: var(--requestly-font-size-sm, 13px);
  margin-top: 1rem;

  & span {
    color: var(--requestly-color-text-default);
    font-weight: 500;
  }
}

.getting-started-manage-workspace-btn {
  color: var(--requestly-color-text-default);
  display: inline-flex;
  gap: 8px;
  font-size: var(--requestly-font-size-sm, 13px);

  & svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover,
  &:focus {
    background: none;
    color: var(--requestly-color-text-default);
  }
}

.getting-started-invite-team-members-btn.ant-btn {
  margin-top: 32px;
}
