.rq-auth-card {
  &.email-verification-card {
    .rq-auth-card-header {
      color: var(--requestly-color-text-default);
      span {
        font-size: var(--requestly-font-size-sm);
        color: var(--requestly-color-text-default);
      }
    }
  }
  .verify-email-card-body {
    .verify-email-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-5, 12px);
      margin-top: 20px;

      &__header {
        font-size: var(--requestly-font-size-md);
        font-weight: var(--requestly-font-weight-medium);
        line-height: 22px; /* 137.5% */
      }
    }
    &__description {
      font-size: var(--requestly-font-size-sm);
      font-weight: var(--requestly-font-weight-regular);
      line-height: 20px; /* 125% */
      color: var(--requestly-color-text-subtle);
      text-align: center;

      span {
        font-weight: var(--requestly-font-weight-medium);
        color: var(--requestly-color-text-default);
      }
    }

    .ant-divider {
      margin: 1rem 0;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 8px;
    }

    .ant-btn {
      font-size: var(--requestly-font-size-md);
    }
  }
}
