.request-feature-modal.ant-modal {
  background: var(--black);
  border-radius: 1rem;
  padding-bottom: 0;

  .ant-modal-header {
    background: none;
    border: none;

    & .ant-modal-title {
      color: var(--white);
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .ant-modal-body {
    padding-top: 0;
  }

  .ant-modal-content {
    background: none;
    border-radius: 1rem;

    .request-modal-default-btn {
      background: none;
    }

    .send-icon {
      rotate: (90deg);
      margin-right: 8px;
    }
  }

  .enterprise-admin-details {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.post-request-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  & svg {
    width: 40px;
    height: 40px;
  }
}
