.source-condition-input-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 6px;
  box-shadow: var(--input-box-shadow);
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-0);

  .source-condition-selector {
    .ant-select-selector {
      background: var(--requestly-color-surface-1) !important;
      border-color: var(--border-dark) !important;

      &:hover {
        border-color: var(--border-dark);
      }

      .ant-select-selection-item {
        font-weight: bold;
      }
    }
  }

  .source-condition-input-select.ant-col {
    padding: 0 !important; //overwrite inline styles added by ant design on <Col>
  }

  .source-url-input {
    flex: 1;
    background: transparent;
    border: none;
    margin: 0;
    padding: 8px;
    outline: none;
    border: none;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}
