.api-request-tabs.ant-tabs {
  display: flex;
  flex-direction: column;

  .ant-tabs-nav {
    margin: 0;
  }

  .ant-tabs-tab {
    span:first-child {
      font-size: var(--requestly-font-size-sm);
      color: var(--requestly-color-text-subtle);
    }
    &.ant-tabs-tab-active {
      span:first-child {
        color: var(--requestly-color-text-default);
      }
    }
  }

  .ant-tabs-content-holder {
    overflow: auto;
    margin-bottom: 16px;
  }

  .ant-tabs-content,
  .ant-tabs-tabpane {
    height: 100%;
    overflow: auto;
  }

  .rq-content-list-table-container {
    padding: 0;
    max-width: unset;
  }

  .request-tab-label {
    display: flex;
    align-items: center;
    gap: 4px;

    .request-tab-dot-success {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--requestly-color-success);
    }

    .request-tab-dot-error {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--requestly-color-error);
    }
  }

  .credentials-checkbox-label {
    font-size: var(--requestly-font-size-xs);
    color: var(--requestly-color-text-subtle);
  }

  .table-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  .table-content {
    flex: 1;
    min-height: 0;
  }
}
