.workspace-overlay__list {
  padding: var(--space-2, 4px);

  &-header {
    padding: 0 var(--space-4, 8px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-sm, 12px);
      line-height: 18px;
    }

    .ant-btn.ant-btn-sm {
      color: var(--requestly-color-text-subtle);

      &:hover {
        color: var(--requestly-color-text-default);
      }
    }
  }

  &-content {
    margin-top: var(--space-4, 8px);
    max-height: 200px;
    overflow-y: auto;
  }
}
