.add-custom-script-btn.ant-btn-dashed {
  padding: 1rem;
  color: var(--text-gray);
  display: flex;
  gap: 4px;
}

.add-custom-script-btn.ant-btn-dashed:hover,
.add-custom-script-btn.ant-btn-dashed:active,
.add-custom-script-btn.ant-btn-dashed:focus {
  color: inherit;
  border-color: var(--text-dark-gray);
}
