.team-plan-details-card {
  &-header {
    padding: 8px 1rem;
    border-bottom: 1px solid var(--requestly-color-surface-2, #383838);
  }

  &-actions {
    display: flex;
    gap: 8px;

    &-cancel.ant-btn:hover,
    &-cancel.ant-btn:focus,
    &-cancel.ant-btn:active {
      background: var(--requestly-color-surface-2);
      color: var(--requestly-color-text-default);
    }

    & .ant-btn {
      font-weight: 500 !important;
      color: var(--requestly-color-text-default);
      gap: 8px;
    }
  }

  & .team-plan-details-sections-wrapper {
    display: grid;
    &.two-part-grid {
      grid-template-columns: 1.5fr 1.5fr;
    }

    &.three-part-grid {
      grid-template-columns: 1.1fr 1.5fr 0.5fr;
    }

    & .team-plan-details-section {
      padding: 1rem;

      &-plan-name {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: var(--requestly-color-text-default);
      }

      & .team-plan-details-btn.ant-btn {
        align-self: center;
        font-weight: 500 !important;
        color: var(--neutrals-gray-300);
        gap: 4px;
        margin-top: 2px;

        &:hover,
        &:focus,
        &:active {
          background: var(--requestly-color-surface-2);
          color: var(--requestly-color-text-default);
        }
      }

      &__team-name {
        font-size: 20px;
        color: var(--requestly-color-text-default);
      }

      &__team-details {
        display: flex;
        gap: 20px;
        margin-top: 8px;
        font-size: var(--requestly-font-size-sm, 13px);
        flex-wrap: wrap;

        & .team-plan-details-section-label {
          color: var(--neutrals-gray-300);
          margin-bottom: 4px;
        }
      }
    }

    & .team-plan-details-section:nth-child(2) {
      border-left: 1px solid var(--requestly-color-surface-2);
    }

    & .team-plan-details-section:nth-child(3) {
      border-left: 1px solid var(--requestly-color-surface-2);
    }
  }
}

.team-plan-details-popover {
  width: 320px;

  &.ant-popover-placement-bottomLeft {
    padding-top: 0;
  }

  .ant-popover-inner-content {
    padding: 0;
    position: relative;
  }

  .team-plan-popover-header,
  .team-plan-popover-body {
    padding: 1rem !important;
  }

  .team-plan-popover-close-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 1rem;
    color: var(--requestly-color-text-default);
    cursor: pointer;
  }
  .team-plan-popover-feature {
    gap: 8px;
    color: var(--neutrals-gray-300);
    margin-top: 10px;
    font-size: var(--requestly-font-size-sm, 12px);
    align-items: center;
    line-height: 14px;

    & svg {
      font-size: var(--requestly-font-size-md, 14px);
    }
  }

  .team-plan-popover-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-section:first-child {
      border-right: 1px solid var(--requestly-color-surface-2);
    }

    &-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      padding: 1rem;
      color: var(--neutrals-gray-300);
    }
  }
}
