@import "../../lib/design-system/custom/variables.css";
@import "../../lib/design-system/custom/base.css";

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(164, 164, 164, 0.227);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input.ant-input {
  padding: 8px;
}

button.ant-btn {
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.ant-btn-lg {
  font-size: 16px;
}

button.ant-input-search-button {
  height: auto;
}

/* utilities */
.inline-block {
  display: inline-block;
}

.ml-1 {
  margin-left: calc(var(--space) * 1);
}

.ml-2 {
  margin-left: calc(var(--space) * 2);
}

.ml-3 {
  margin-left: calc(var(--space) * 3);
}

.ml-4 {
  margin-left: calc(var(--space) * 4);
}

/* spinner & skeleton */
.spinner-card {
  padding: 24px;
  display: flex;
  align-items: center;
}

/* buttons & icons */
.header-icon,
.ant-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-menu-item .remix-icon {
  min-width: 20px;
}

.ant-btn-dashed {
  border-color: #4f5053;
}

/* Auth modal */
.auth-modal {
  line-height: 24px;
  min-height: 1px;
  word-wrap: break-word;
}

/* Auth modal title */
.auth-modal-title {
  margin-bottom: 1.5rem;
}

.auth-modal-title small {
  font-size: 14px;
}

.auth-modal-checkbox {
  text-align: left;
  display: flex;
  align-items: flex-start;
}

.checkbox {
  margin-right: 0.4rem;
  margin-top: 0.3rem;
}

/* Auth modal button style */
.auth-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.625rem 0;
  border: 1px transparent;
  margin: 1rem auto !important;
  border-radius: 4px;
  background: #22272d;
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  color: #0a48b3;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.auth-modal-btn:hover {
  transform: translateY(-2px);
}

.auth-modal-btn + .auth-modal-btn {
  margin-top: 0;
}

.auth-modal-btn.primary {
  background: #0a48b3;
  color: #fff;
  width: 55%;
}

/* Auth modal form style */
.input-group {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  margin-bottom: 1.5rem;
  color: #8898aa;
}

.input-group-icon {
  padding: 0.4rem;
  margin-top: 0.2rem;
}

.input-group input {
  flex: 1;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-bottom-right-radius: 4px;
  border-radius: 0.25rem;
  border-top-right-radius: 4px;
  bottom: 0px;
  box-sizing: border-box;
  color: #8898aa;
  display: block;
  flex: 1 1 0%;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  height: calc(1.5em + 1.25rem + 5px);
  left: 0px;
  line-height: 21px;
  margin: 0px;
  min-width: 0px;
  overflow: visible;
  padding: 0.625rem 0.75rem;
  position: relative;
  right: 0px;
  top: 0px;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
  word-wrap: break-word;
}

.input-group input:focus {
  border-color: rgb(10, 72, 179);
  box-shadow: none;
  color: #8898aa;
  outline: 0px;
  z-index: 3;
}

.input-group input::placeholder {
  color: #8898aa !important;
}

.auth-modal-social-auth {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid #e9ecef;
  box-sizing: border-box;
  color: #525f7f;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-bottom: 0px;
  padding: 1.25rem 0rem;
  /* padding-bottom: 3rem; */
  text-align: left;
  word-wrap: break-word;
}

.auth-modal-social-auth-title {
  text-align: center;
}

.auth-modal-social-auth-title small {
  font-size: 0.9rem;
}

.auth-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  color: #8898aa !important;
}

.auth-modal-footer span {
  font-size: 1rem;
  cursor: pointer;
}

/* Account page styles */
.profile-container {
  display: flex;
  margin-top: 4rem;
}

.profile-container-left {
  width: 70%;
}

.profile-container-right {
  width: 30%;
}

.profile-container-child + .profile-container-child {
  margin-left: 3rem;
}

.profile-card {
  padding: 1.4rem;
  position: relative;
  border-radius: 2px;
  border: 1px solid var(--border);
}

.bg-white {
  background: #fff !important;
}

.border-0 {
  border: 0 !important;
}

/* .profile-card-shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
} */

.profile-card-form {
  padding: 0.5rem 0;
}

.profile-card-form h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: #8898aa;
  margin-bottom: 0.8rem;
}

.profile-card-form-info {
  display: flex;
}

.profile-card-form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-card-form-field + .profile-card-form-field {
  margin-left: 1.5rem;
}

.profile-card-form-field input {
  margin-top: 0.8rem;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 1px 3px, rgba(0, 0, 0, 0.02) 0px 1px 0px;
  color: #8898aa;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  height: calc(1.5em + 1.25rem + 5px);
  line-height: 21px;
  padding: 0.625rem 0.75rem;
  text-transform: capitalize;
  transition: box-shadow 0.15s ease 0s;
}

.profile-card-form-field input:focus {
  border-color: rgb(10, 72, 179);
  box-shadow: rgba(50, 50, 93, 0.11) 0px 4px 6px, rgba(0, 0, 0, 0.08) 0px 1px 3px;
  outline: 0px;
}

.profile-card-form-field input:disabled {
  opacity: 0.6;
}

.profile-team {
  background: #fff;
  margin: 2.8rem 0;
  padding: 1.8rem;
  border-radius: 0.4rem;
  font-size: 16px;
}

.profile-team-body {
  text-align: center;
  padding: 2rem;
}

.profile-team-body button {
  font-size: 0.9rem;
}

.profile-team-body button + button {
  margin-left: 1.2rem;
}

.profile-container-right .profile-card {
  text-align: center;
}

.card-profile-image {
  transform: translateY(-50%);

  overflow: hidden;
}

.card-profile-image img {
  max-width: 140px;
  height: auto;
  border-radius: 500px;
  border: 4px solid #fff;
}

.profile-card-header {
  margin-top: -3.5rem;
}

.profile-card-body .my-2 {
  margin-top: 0.6rem;
}

.profile-card-body hr {
  margin: 2rem 0;
  color: #525f7f;
  opacity: 0.6;
}

.profile-card-body {
  font-size: 16px;
}

.card-body .row {
  margin-top: 0.6rem;
  box-shadow: none;
}

.dropdown .dropdown-menu {
  display: none;
  pointer-events: none;
}

.dropdown.show .dropdown-menu {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: absolute;
  left: 50% !important;
  top: 70% !important;
  background: #fff;
  padding: 0.4rem;
  z-index: 500;
  transform: translate(-50%, -50%) !important;
  width: 80% !important;
}

/* Trash Table */

.disabled-row {
  opacity: 0.6;
  cursor: not-allowed;
}

.fix-icon-is-up {
  transform: translate(0%, 12%);
}

.mr-2 {
  margin-right: 2%;
}
.ml-2 {
  margin-left: 2%;
}

.ml-8 {
  margin-left: 8%;
}

.test-class {
  background-color: red;
}

/* Highlight Group Row in Rules Table */
/* .rule-group-row {
  background: #fafafa;
} */

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
  transition: 0.3s all;
}

/* Gutter on rule editor splitter pane - execution logs */
.gutter:hover {
  opacity: 0.8;
}

.gutter.gutter-vertical {
  background-color: #1c1d21;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

/* Pulse animation */

.animation-pulse {
  animation: pulse 2s linear infinite;
}
/* Pro table header container for small screens */
.ant-pro-table-list-toolbar-container {
  align-items: center;
  gap: 1rem;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 1080px) {
  .rule-builder-row {
    white-space: nowrap;
  }

  .rule-builder-delete-container {
    flex: none !important;
  }
  .rules-table-container .ant-card-body {
    padding: 0px;
  }
}

@media (max-width: 992px) {
  .center-on-small-screen {
    text-align: center !important;
  }
}

.shrink-0 {
  flex-shrink: 0;
}

/* header */
.alert .ant-alert-message {
  overflow: hidden;
  text-overflow: ellipsis;
}

.desktop-auth-message {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 64em) {
  .ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
    box-shadow: none;
  }
}

.signin-link {
  padding: 0 6px 0 0;
  border: none !important;
}

.ant-btn-link.signin-link:hover,
.ant-btn-link.signin-link:focus {
  background: none !important;
  text-decoration: underline;
}

/* user info */
.ant-btn .anticon {
  margin: 4px 0;
}

.ant-input-search-button .anticon {
  margin: 11px 0;
}

/* session recording */
.recording-config .ant-select-selector {
  padding: 6px !important;
  height: auto !important;
}

.recording-config.ant-input {
  padding: 6px;
}

/* footer */
.dark-bg-footer {
  background-color: var(--background);
}

/* desktop app */
.desktop-app-proxy-info {
  display: flex;
  align-items: center;
}

.desktop-app-proxy-info .ant-badge-status-dot,
.desktop-app-proxy-info .ant-badge-status-text {
  flex-shrink: 0;
}

.icon-wrapper {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper-sm {
  width: 13px;
  height: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-gray);
  margin-right: 5px;
}

.icon-wrapper svg {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--text-gray);
}

.ant-dropdown-menu.ant-dropdown-menu-root .ant-dropdown-menu-item.ant-dropdown-menu-item-active {
  color: var(--white);
}

/* react multi email */
div.react-multi-email {
  border: 1px solid transparent;
  box-shadow: var(--input-box-shadow);
  background-color: var(--component-dark-background);
}

div.react-multi-email:hover {
  cursor: text;
  border-color: #2051b4;
  transition: border 0.2s;
}

div.react-multi-email > input {
  color: var(--white);
  background-color: var(--component-dark-background);
}

div.react-multi-email.focused {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 2px rgb(30 105 255 / 20%);
  background-color: var(--component-dark-background);
}

div.react-multi-email .multi-email-tag {
  font-size: 12px;
  font-weight: 400;
  padding: 4px 8px;
  color: var(--white);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-sm);
  background-color: var(--component-background);
}

.records-table.ant-pro-table .ant-table-tbody tr td a:hover,
.records-table.ant-pro-table .ant-table-tbody tr td a span:hover,
.records-table.ant-table-wrapper .ant-table-tbody tr td a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.ant-btn.ant-btn-default:focus:not(.ant-btn-icon-only),
.ant-btn.ant-btn-default:hover:not(.ant-btn-icon-only) {
  color: var(--white);
  border: 1px solid #343434;
  background-color: var(--hover-color);
}
