body {
  background-color: #f1fbff;
}

.btn-theme {
  background: #1c95de;
}

.btn-theme {
  color: #fff !important;
  padding: 0.3rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  display: inline-block;
  display: inline-flex;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  -moz-box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  box-shadow: 0px 14px 47px 0px rgba(28, 28, 28, 0.24);
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
}

.btn-theme i {
  margin-right: 7px;
}

a {
  color: #333;
  text-decoration: none !important;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.btn-theme:hover {
  box-shadow: none;
}
