.run-config-view-container {
  .run-config-settings {
    max-height: 280px;
    display: flex;
    flex-direction: column;
    margin: var(--space-4, 8px) var(--space-6, 16px);
    align-items: flex-start;
    gap: var(--space-4, 8px);
    flex-shrink: 0;
    align-self: stretch;

    padding: var(--space-6, 16px);
    align-items: flex-start;

    border-radius: 8px;
    background: var(--requestly-color-surface-0, #212121);

    .base-settings {
      display: flex;
      padding: var(--space-0, 0);
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-4, 8px);
      align-self: stretch;

      .setting-container {
        display: flex;
        gap: var(--space-6, 16px);
        align-self: stretch;

        .ms-text {
          color: var(--requestly-color-text-placeholder);
          font-size: var(--requestly-font-size-xs, 11px);
          font-weight: 400;
          margin-left: -10px;
          margin-top: 2px;
        }

        label {
          user-select: none;
          display: flex;
          align-items: center;
          gap: var(--space-2, 4px);

          width: 120px;
          color: var(--requestly-color-text-default, #fff);
          font-size: var(--requestly-font-size-sm, 12px);
          font-weight: 400;
          line-height: 18px; /* 150% */

          svg {
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            color: var(--requestly-color-text-subtle, #bbb);
          }
        }

        input {
          color: var(--requestly-color-text-default, #fff);
          font-size: var(--requestly-font-size-xs, 11px);
          font-weight: 400;
          line-height: 17px; /* 154.545% */
          background-color: var(--requestly-color-surface-0);
        }

        .file-upload-info {
          display: flex;
          align-items: flex-start;
          margin-top: 2px;
          gap: 4px;
          flex: 1;

          .file-info-icon {
            color: var(--requestly-color-text-placeholder);
            flex-shrink: 0;
            margin-top: 2px;
          }

          .file-type-info {
            color: var(--requestly-color-text-placeholder);
            font-family: var(--requestly-font-family-default);
            font-size: var(--requestly-font-size-xs);
            font-style: normal;
            font-weight: var(--requestly-font-weight-normal);
            line-height: 17px;
            word-wrap: break-word;
            word-break: break-word;
          }
        }

        .file-uploaded-section {
          display: flex;
          align-items: center;
          gap: 4px;

          .file-uploaded-button {
            max-width: 280px;
          }

          .invalid-icon {
            color: var(--requestly-color-error-400);
          }

          .button-text {
            &.file-invalid {
              color: var(--requestly-color-error-400);
            }
          }

          .clear-file-btn {
            &:hover {
              border-radius: 4px;
              background: var(--requestly-color-error-darker);
              svg {
                color: var(--requestly-color-error-soft);
              }
            }
          }
        }
      }
    }
  }
}
