.primary-action-btn.ant-btn,
.primary-action-btn-small.ant-btn {
  height: 44px;
  padding: 12px 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  color: var(--text-default);
  background: var(--surface-2);
  border: 1px solid var(--surface-3);
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.primary-action-btn-small.ant-btn {
  height: 28px;
  padding: 6px 8px;
  font-size: 12px;
  margin-right: 0;
}

.primary-action-btn.ant-btn:hover,
.primary-action-btn-small.ant-btn:hover {
  color: var(--text-default);
  background: var(--surface-2);
  border: 1px solid var(--surface-3);
}

.primary-action-btn.ant-btn:active,
.primary-action-btn-small.ant-btn:active {
  box-shadow: none;
  color: var(--neutrals-white);
  border: 1px solid var(--background);
}

.primary-action-btn.ant-btn svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  color: var(--text-light);
}

.primary-action-btn.ant-btn:disabled,
.primary-action-btn.ant-btn:disabled svg {
  color: var(--disable);
}

.primary-action-btn.ant-btn:disabled,
.primary-action-btn-small.ant-btn:disabled {
  border: 1px solid var(--surface-3);
}
