.create-workspace-modal-old {
  .ant-modal-header {
    border-bottom: none;
    padding: 8px 8px 0px 16px;

    .modal-title-container {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .title {
        color: var(--requestly-color-text-default);
        font-size: var(--requestly-font-size-md);
        font-weight: var(--requestly-font-weight-medium);
      }

      .description {
        color: var(--requestly-color-text-subtle);
        font-size: var(--requestly-font-size-xs);
      }
    }
  }

  .ant-modal-body {
    padding: 1rem;

    .create-workspace-modal-label {
      color: var(--requestly-color-text-default);
      font-size: var(--requestly-font-size-sm);
      font-weight: var(--requestly-font-weight-medium);
    }

    .workspace-name-input {
      background: transparent;
      margin-top: 8px;
      height: 32px;
    }

    .workspace-type-selector-container {
      margin-top: 1rem;

      .workspace-type-selector {
        margin-top: 8px;

        .ant-radio-group {
          display: flex;

          .ant-radio-wrapper {
            border-radius: 8px;
            border: 1px solid var(--requestly-color-white-t-20);
            background: var(--requestly-color-surface-0);
            padding: var(--space-6, 16px) var(--space-4, 8px);
            transition: background 0.2s ease-in;
            width: 50%;

            .workspace-type-content {
              &_title {
                color: var(--requestly-color-text-default);
                font-size: var(--requestly-font-size-sm);
                font-weight: var(--requestly-font-weight-medium);
              }

              &_description {
                color: var(--requestly-color-text-subtle);
                font-size: var(--requestly-font-size-sm);
                line-height: 18px; /* 150% */
                margin-top: 8px;
                margin-bottom: 1rem;
                transition: color 0.2s ease-in;
              }
              .ant-tag {
                color: var(--requestly-color-text-default);
                background: var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
                font-size: var(--requestly-font-size-2xs, 9px);
                font-weight: var(--requestly-font-weight-medium);
                letter-spacing: 1px;
                padding: 0 var(--space-2, 4px);
                margin-left: 4px;
              }

              .folder-path-selector {
                border-radius: 8px;
                background: var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
                padding: var(--space-4, 8px);

                .selector-description {
                  font-size: var(--requestly-font-size-xs);
                  color: var(--requestly-color-text-subtle);
                  text-align: center;
                }

                .selected-folder-container {
                  .selected-folder-header {
                    display: flex;
                    justify-content: space-between;
                    letter-spacing: 1px;
                    font-size: var(--requestly-font-size-2xs);
                    font-weight: 500;

                    svg {
                      color: var(--requestly-color-text-default);
                    }
                  }

                  .selected-folder-path {
                    margin-top: 8px;
                    color: var(--requeslty-color-text-default);
                    font-size: var(--requestly-font-size-sm, 12px);
                    line-height: 18px; /* 150% */
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                  }
                }
              }
            }
          }

          .ant-radio-wrapper-checked {
            background: var(--requestly-color-surface-1);

            .workspace-type-content {
              &_description {
                color: var(--requestly-color-text-default);
              }
            }
          }
        }
      }
    }

    .invite-all-domain-users-container {
      display: flex;
      align-items: center;
      gap: 8px;

      .invite-all-domain-users-text {
        color: var(--requestly-color-text-subtle);
        font-size: var(--requestly-font-size-xs);
      }
    }
  }

  .ant-modal-footer {
    border-top: 0;
  }
}
