.empty-environment-view {
  height: 100%;
  width: 100%;

  .empty-environment-view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-12, 56px) var(--space-0, 0px);
  }

  img {
    width: 100px;
    height: 100px;
  }

  .empty-environment-view-title {
    font-size: var(--requestly-font-siz-md);
    color: var(--requestly-color-text-default);
  }

  p {
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-subtle);
  }
}

.env-view-breadcrumb {
  display: flex;
  gap: 4px;
  font-size: var(--requestly-font-size-xs, 11px);

  svg {
    font-size: var(--requestly-font-size-sm, 12px);
    position: relative;
    top: 2px;
    color: var(--requestly-color-text-subtle);
  }

  .env-view-breadcrumb-1 {
    color: var(--requestly-color-text-subtle);
  }
  .env-view-breadcrumb-2 {
    color: var(--requestly-color-text-default);
    font-weight: 500;
  }
}
