.variables-list-view-container {
  flex: auto;
  width: 100%;
  min-width: 0;

  .variables-list-view {
    .ant-skeleton {
      padding: 16px;
    }

    .api-client-read-only-mode-alert {
      margin: 8px 16px;
    }

    .variables-list-view-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .variables-list-action-container {
    padding: 0 16px 8px 16px;
  }

  .rq-content-list-table-container {
    padding: 0 16px;
  }
}
