.api-client-error-placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 56px 32px;
  height: 100%;
  overflow: hidden;

  .api-client-error-placeholder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8, 24px);
    max-height: 100%;
    max-width: 100%;

    .default-file-error-container {
      display: flex;
      padding: var(--space-5, 12px) var(--space-6, 16px);
      gap: var(--space-4, 8px);
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      font-weight: 400;
      letter-spacing: 0.25px;
      width: 100%;
      max-height: 300px;

      .stack-trace {
        overflow: auto;
        padding: 8px;
        background-color: var(--requestly-color-background-dark);
      }
    }
  }

  img {
    width: 80px;
    height: 80px;
  }

  &__title {
    text-align: center;
    text-overflow: ellipsis;
    font-weight: var(--requestly-font-weight-medium);
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-default);
  }
}
