.billing-team-card {
  background: var(--surface-1);
  border: 1px solid var(--surface-2);
  border-bottom: none;
  padding: 15px 1rem;
  display: grid;
  grid-template-columns: 1.4fr 0.85fr 0.85fr;

  &:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid var(--surface-2);
  }

  &-request-btn-wrapper {
    justify-content: flex-end;
  }
}
