.analytics-inspector-container {
  height: 100%;
  overflow: auto;

  .empty-container-placeholder {
    padding: 1rem;
  }

  .vendor-event-details.ant-collapse {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;

    .ant-collapse-header {
      padding: 4px 8px;
      display: flex;
      align-items: center;

      .ant-collapse-header-text {
        font-size: 12px;

        .vendor-events-collapse-header {
          display: flex;
          align-items: center;
          gap: 6px;

          .vendor-icon {
            width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }

        .ant-typography {
          font-size: 11px;
        }
      }
    }

    .ant-collapse-content {
      background-color: transparent;

      .ant-collapse-content-box {
        padding: 2px 8px;
      }
    }

    .ant-collapse-item {
      border: none;
    }

    .vendor-event-collapse.ant-collapse {
      margin-bottom: 2px;
      padding: 0;
      background-color: transparent;

      .ant-collapse-header {
        padding: 2px 8px;

        .ant-collapse-header-text {
          font-size: 12px;

          .ant-typography {
            font-size: 11px;
          }
        }
      }
    }
  }
}
