.analytics-inspector-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .empty-container-placeholder {
    padding: 1rem;

    .add-vendor-link {
      color: #3ba0ff;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .vendor-events-container {
    height: 100%;
    overflow: auto;
  }

  //

  .vendor-event-details.ant-collapse {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;

    &:first-child {
      border-top: 0;
    }

    .ant-collapse-header {
      padding: 4px 8px;
      display: flex;
      align-items: center;

      .ant-collapse-header-text {
        font-size: 12px;

        .vendor-events-collapse-header {
          display: flex;
          align-items: center;
          gap: 6px;

          .vendor-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            padding: 2px;
            border-radius: 4px;
            background: #ffffff;
            color: #4b5563;
          }
        }

        .ant-typography {
          font-size: 11px;
        }
      }
    }

    .ant-collapse-content {
      background-color: transparent;

      .ant-collapse-content-box {
        padding: 2px 8px;
      }
    }

    .ant-collapse-item {
      border: none;
    }

    .vendor-event-panel.ant-collapse {
      margin-bottom: 2px;
      padding: 0;
      background-color: transparent;

      .ant-collapse-header {
        padding: 2px 8px;

        .ant-collapse-header-text {
          font-size: 12px;

          .ant-typography {
            font-size: 11px;
          }
        }
      }
    }
  }
}
