:host {
  position: fixed !important;
  z-index: 2147483647 !important;
}

#container {
  background-color: #212121;
  border-radius: 24px;
  padding: 4px;
  margin: auto;
  color: #fff;
  font-family: system-ui;
  font-size: 13px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  cursor: move;
  display: none;
}

#container.visible {
  display: flex;
}

.action {
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.2s border;
  border: 1px solid transparent;
}

.action:hover {
  border: 1px solid #161a25;
}

.stop-recording {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 35px;
  background: #e43434;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  box-sizing: border-box;
}

.stop-recording svg {
  width: 18px;
  height: 18px;
  margin-right: 7px;
  flex-shrink: 0;
}

.discard-recording {
  gap: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background: #51525c;
}

.discard-recording svg {
  width: 18px;
  height: 18px;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.recording-icon {
  flex-shrink: 0;
  display: inline-block;
  margin: 0 8px;
  margin-left: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background: #e43434;
  box-sizing: border-box;
  animation: blink 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}
