.session-storage-logs-container {
  height: 100%;

  .session-storage-logs-table {
    border-radius: 4px;

    &.saved-session-storage-logs-table {
      height: calc(100% - 15px);
    }

    &.draft-session-storage-logs-table {
      height: inherit;
    }

    .ant-spin-nested-loading,
    .ant-spin-container,
    .ant-table,
    .ant-table-container,
    .ant-table-body {
      height: inherit;
    }
    .ant-table-container {
      overflow: hidden;
    }
    .ant-table-body {
      overflow-y: hidden;
      height: calc(100% - 30px);
    }
  }

  th.ant-table-cell {
    background: var(--requestly-color-surface-2);
    padding: 4px 8px;
    border-radius: none;
    font-weight: 500;
    color: var(--requestly-color-text-default);
    font-size: var(--requestly-font-size-sm);
  }

  td.ant-table-cell {
    padding: 4px 6px;
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-xs);
    height: 43px;
  }

  tbody {
    tr:nth-child(2n) {
      td {
        background: var(--requestly-color-background);
      }
    }
  }

  .copy-value-cell {
    display: flex;
    align-items: center;
    gap: 4px;

    .copy-value-text {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ant-btn {
      display: none;
      svg {
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      .ant-btn {
        display: block;
      }
    }
  }

  .old-value-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
