.request-feature-modal.ant-modal {
  background: var(--requestly-color-surface-0);
  border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
  border-radius: 1rem;
  padding-bottom: 0;

  .ant-modal-header {
    background: none;
    border: none;

    & .ant-modal-title {
      color: var(--requestly-color-text-default);
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .ant-modal-body {
    padding-top: 0;
  }

  .ant-modal-content {
    background: none;
    border-radius: 1rem;

    .request-modal-default-btn {
      background: none;
    }

    .request-modal-text-btn.ant-btn {
      color: var(--requestly-color-text-default);

      &:hover {
        background: var(--requestly-color-surface-1);
      }
    }

    .request-modal-link-btn {
      color: var(--text-light);
      text-decoration: underline;
      padding-left: 0;
    }
    .request-modal-link-btn:hover {
      color: var(--requestly-color-text-default);
    }

    .send-icon {
      rotate: (90deg);
      margin-right: 8px;
    }
  }

  .enterprise-admin-details {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.post-request-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  & svg {
    width: 40px;
    height: 40px;
  }
  .post-request-message.ant-typography {
    text-align: center;
  }
}
