.teams-list-item {
  padding: 8px 4px;
  font-size: var(--requestly-font-size-sm);
}

.teams-list-item-title {
  color: var(--requestly-color-text-default);
}

.teams-list-actions-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.teams-list-joined-tag {
  color: var(--requestly-color-success);
  display: flex;
  align-items: center;
  gap: 4px;

  & svg {
    width: 18px;
    height: 18px;
  }

  & span {
    font-size: var(--requestly-font-size-sm, 13px);
  }
}

.teams-list-join-btn-loader {
  font-size: 1rem;
  color: var(--requestly-color-text-default);
}

.ant-btn.teams-list-join-btn-dark-bg {
  background: var(--surface-0);
  cursor: not-allowed;
  pointer-events: none;
}

.teams-list-item-setting-btn.btn-icon-only.ant-btn {
  color: var(--requestly-color-text-default);
  margin-right: 4px;
  padding: auto 8px;
  width: 30px;

  & svg {
    width: 14px;
    height: 14px;
  }
}

.teams-list-avatar-loading-wrapper {
  display: flex;
}

.teams-list-avatar-loading {
  width: 24px;
  height: 24px;
  display: block;

  & .ant-skeleton-header .ant-skeleton-avatar-lg {
    width: 24px;
    height: 24px;
    border: 1px solid var(--requestly-color-white);
    background: var(--surface-3);
  }
}

.teams-list-avatar-loading:not(:first-child) {
  margin-left: -8px;
}
