.traffic-table-container-row {
  height: 100%;
}

.traffic-table-sidebar {
  overflow: auto;
  padding-bottom: 1rem;
  border-right: 1px solid var(--requestly-color-white-t-10);
  background-color: var(--requestly-color-surface-0);
  height: calc(100vh - 4.5rem);
}

.traffic-table-sidebar,
.traffic-table-sidebar .ant-menu.ant-menu-dark,
.traffic-table-sidebar .ant-menu.ant-menu-dark ul.ant-menu-sub {
  background-color: var(--requestly-color-surface-0);
}

.traffic-table-sidebar .ant-menu.ant-menu-root:not(.filter-applied) > .ant-menu-item:first-child {
  display: none;
}

.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child {
  height: 32px;
  padding: 4px 0;
}

.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child:hover,
.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child:focus {
  background-color: transparent;
}

.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child .clear-all-filter-option {
  padding: 4px 10px;
  border-radius: 16px;
  width: max-content;
  /* margin-left: auto; */
  border: 1px solid var(--border-dark);
}

.traffic-table-sidebar
  .ant-menu.ant-menu-root.filter-applied
  > .ant-menu-item:first-child
  .clear-all-filter-option
  .anticon {
  font-size: var(--requestly-font-size-sm, 12px);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item.ant-menu-item-selected {
  color: var(--requestly-color-primary);
  border: 1px solid var(--requestly-color-primary);
  background-color: var(--requestly-color-surface-1);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-submenu:not(:last-child) {
  border-bottom: 1px solid var(--border-dark);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-submenu .ant-menu-item:last-child {
  margin-bottom: 4px;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-submenu .ant-menu-submenu-title {
  padding-left: 1rem !important; /* overides inline style by antd */
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item {
  width: 96%;
  height: 1.875rem;
  font-size: var(--requestly-font-size-sm, 13px);
  line-height: 20px;
  margin: 0 4px 2px 4px;
  background-color: transparent;
  padding: 0 8px !important; /* overides inline style by antd */
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item:hover,
.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item:focus {
  background-color: var(--requestly-color-surface-1);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content {
  overflow: auto;
  text-overflow: unset;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content > span {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .log-name {
  width: 10rem;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn {
  border: none;
  flex-shrink: 0;
  margin-left: auto;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn:hover,
.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn:focus {
  opacity: 0.7;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn .anticon {
  font-size: var(--requestly-font-size-sm, 12px);
}

.traffic-table-content {
  padding-top: 24px;
}

.traffic-table-split-container .gutter.gutter-vertical {
  transition: none;
  background: transparent;
  border: 2px solid transparent;
  cursor: row-resize;
  transition: 0.3s all;
}

.traffic-table-split-container .gutter.gutter-vertical:hover {
  border: 2px solid var(--requestly-color-primary, #004eeb);
}

.traffic-table-split-container {
  height: calc(100vh - 157px);
}

.traffic-table-split-container .ant-row.request-log-pane-container {
  overflow: hidden;
  height: 100%;
  border-top: 1px solid var(--requestly-color-white-t-10);
  background-color: var(--requestly-color-surface-0);
}

/* table */
.traffic-table-split-container table[class*="Table-chrome"] tbody tr[aria-selected="true"] {
  background-color: #1e69ffdb;
}

.traffic-table-split-container table[class*="Table-chrome"] tbody tr[aria-selected="false"][data-modified="true"] {
  background-color: var(--requestly-color-success-800);
  color: var(--requestly-color-success-200);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.traffic-table-split-container table[class*="Table-chrome"] tbody tr[aria-selected="true"][data-modified="true"] {
  background-color: var(--requestly-color-primary-700);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.network-table-wrapper-override {
  height: 100%;
  border-style: none !important;
  padding-right: 24px;
}
.network-table-wrapper-override .ant-pro-card-body {
  padding-right: 0;
}

.network-table-wrapper-override .ant-pro-card-body > div > div > div {
  overflow: auto !important;
}

.previewData {
  display: flex;
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 3.5rem;
}

.previewData .rdt_TableRow {
  min-height: fit-content;
}

.mock-rules-count-badge {
  padding: 3px 5px;
  font-size: 10px;
  line-height: 10px;
  color: var(--requestly-color-text-default);
  background-color: transparent;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--requestly-color-white);
}

.ant-checkbox-wrapper.modified-requests-checkbox {
  margin-bottom: 0.37rem;
}
