.traffic-table-container-row {
  height: 100%;
}

.traffic-table-sidebar {
  overflow: auto;
  padding-bottom: 1rem;
  border-right: 1px solid var(--border-dark);
  height: calc(100vh - 4.5rem);
}

.traffic-table-sidebar,
.traffic-table-sidebar .ant-menu.ant-menu-dark,
.traffic-table-sidebar .ant-menu.ant-menu-dark ul.ant-menu-sub {
  background-color: var(--app-secondary-sidebar-background);
}

.traffic-table-sidebar .ant-menu.ant-menu-root:not(.filter-applied) > .ant-menu-item:first-child {
  display: none;
}

.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child {
  height: 32px;
  padding: 4px 0;
}

.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child:hover,
.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child:focus {
  background-color: transparent;
}

.traffic-table-sidebar .ant-menu.ant-menu-root.filter-applied > .ant-menu-item:first-child .clear-all-filter-option {
  padding: 4px 10px;
  border-radius: 16px;
  width: max-content;
  /* margin-left: auto; */
  border: 1px solid var(--border-dark);
}

.traffic-table-sidebar
  .ant-menu.ant-menu-root.filter-applied
  > .ant-menu-item:first-child
  .clear-all-filter-option
  .anticon {
  font-size: 12px;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item.ant-menu-item-selected {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--component-background);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-submenu:not(:last-child) {
  border-bottom: 1px solid var(--border-dark);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-submenu .ant-menu-item:last-child {
  margin-bottom: 4px;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-submenu .ant-menu-submenu-title {
  padding-left: 1rem !important; /* overides inline style by antd */
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item {
  width: 96%;
  height: 1.875rem;
  font-size: 13px;
  line-height: 20px;
  margin: 0 4px 2px 4px;
  background-color: transparent;
  padding: 0 8px !important; /* overides inline style by antd */
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item:hover,
.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item:focus {
  background-color: var(--component-background);
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content {
  overflow: auto;
  text-overflow: unset;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content > span {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .log-name {
  width: 7.3rem;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn {
  border: none;
  flex-shrink: 0;
  margin-left: auto;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn:hover,
.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn:focus {
  opacity: 0.7;
}

.traffic-table-sidebar .ant-menu.ant-menu-dark .ant-menu-item .ant-menu-title-content .clear-log-filter-btn .anticon {
  font-size: 12px;
}

.traffic-table-content {
  padding-top: 24px;
  padding-right: 24px;
}

.hide-traffic-table-split-gutter .traffic-table-split-container .gutter.gutter-vertical {
  height: 0 !important;
  transition: none;
}

.traffic-table-split-container {
  height: calc(100vh - 140px);
}

.traffic-table-split-container .gutter-vertical,
.traffic-table-split-container .ant-row.request-log-pane-container {
  margin-left: 1.25rem;
}

/* table */
.traffic-table-split-container table[class*="Table-chrome"] tbody tr[aria-selected="true"] {
  background-color: #1e69ffdb;
}
