.property-row {
  display: flex;
  align-items: center;

  .property-name {
    font-weight: bold;
    margin-right: 4px;
  }

  // .property-value {
  //   color: var(--color-secondary);
  // }

  // .property-name,
  // .property-value {
  //   font-size: var(--font-size-normal);
  // }

  .property-actions {
    display: inline-block;
  }

  &:not(:hover) .property-actions {
    display: none;
  }

  .property-value {
    display: flex;
    align-items: center;
  }
}
