.title-badge-container {
  display: flex;
  padding: 2px, 4px;
  align-items: center;
  gap: 4px;
}
.beta-badge {
  font-size: 9px;
  font-family: var(--requestly-font-family-default);
  font-weight: 600;
  text-align: center;
  font-style: normal;
  line-height: var(--requestly-font-line-height-2xs, 13px);
  letter-spacing: 0.5px;
  border: 1px solid #ffffff1f;
  background: var(--requestly-color-neutral-700);
}

.beta-badge span {
  color: var(--requestly-color-neutral-300);
  background: none;
  -webkit-text-fill-color: var(--requestly-color-neutral-300);
}
