.mocks-card-list-item {
  padding: 8px;
  border-radius: 4px;
  color: var(--requestly-color-text-default);
  transition: 0.25s background ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--requestly-color-surface-1);
  }

  &:hover .mocks-card-list-item-name {
    text-decoration: underline;
    text-decoration-color: var(--requestly-color-text-default);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }
}
