.create-workspace-header {
  &__title {
    color: var(--requestly-color-text-default, #fff);
    font-size: var(--requestly-font-size-md);
    font-weight: var(--requestly-font-weight-medium);
  }

  &__description {
    color: var(--requestly-color-text-subtle, #bbb);
    font-size: var(--requestly-font-size-sm, 12px);
    margin: 16px 0;
  }

  &__label {
    margin-top: 16px;
    color: var(--requestly-color-text-default, #fff);
    font-size: var(--requestly-font-size-sm, 12px);
    font-weight: var(--requestly-font-weight-medium);
  }

  &__input {
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
    margin-top: 8px;
  }

  &__input-error-message {
    margin-top: var(--requestly-space-2, 4px);
    color: var(--requestly-color-error-text);
    font-size: var(--requestly-font-size-xs);
    display: flex;
    align-items: center;
    gap: var(--requestly-space-2, 4px);
  }
}
