.auth-confirmation-popover {
  & .ant-popover-inner-content {
    background: #2c2d31;
    border-radius: 8px;
    border: 1px solid var(--border);
  }
  & .ant-popover-arrow {
    display: none;
  }
  & .ant-popover-buttons {
    text-align: left;
  }
}
