.create-new-session-modal {
  .onboarding-content-container {
    .onboarding-banner {
      margin: 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .banner-text {
        color: var(--requestly-color-text-subtle);
        font-size: var(--requestly-font-size-md, 14px);
      }

      .banner-title {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
      }

      .banner-description {
        margin-bottom: 2.5rem;
        .banner-text {
          text-align: center;
        }
      }

      .input-container {
        .ant-input {
          font-size: var(--requestly-font-size-md, 14px);
        }
      }
    }
  }
}
