.editor-rule-options-trigger {
  font-size: var(--requestly-font-size-sm, 13px);
  cursor: pointer;
  user-select: none;
  padding: 7px 8px 6px 8px;
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-0);
  border: 1px solid transparent;
  transition: border 0.3s;
  display: block;
  line-height: 1rem;
  flex-shrink: 0;
}

.editor-rule-options-trigger.editor-rule-options-active {
  border-color: var(--dropdown-active-border-color);
}

.editor-rule-options-menu.ant-dropdown-menu {
  width: 7.35rem;
}

.ant-dropdown .editor-rule-options-menu-item.ant-dropdown-menu-item {
  padding: 0;
}

.editor-rule-options-menu-item.ant-dropdown-menu-item .ant-btn-text {
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.editor-rule-options-menu-item.ant-dropdown-menu-item .ant-btn-text .premium-icon {
  display: inline-flex;
  align-items: center;
}

.editor-rule-options-menu .editor-rule-options-menu-divider {
  margin: 4px 0px 6px 0px;
}

.editor-rule-options-danger-menu-item .ant-btn-text,
.editor-rule-options-danger-menu-item:hover .ant-btn-text {
  color: var(--requestly-color-error);
}
