.no-provider-empty-state-container {
  display: flex;
  width: 480px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-7, 20px);

  .no-provider-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-4, 8px);
    padding: 0;

    .title-text {
      overflow: hidden;
      color: var(--requestly-color-text-default, #fff);
      text-align: center;
      text-overflow: ellipsis;
      font-family: var(--font-family-default, Inter);
      font-size: var(--font-size-sm, 12px);
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      margin-bottom: 0px;
    }

    .description-text {
      color: var(--requestly-color-text-subtle, #bbb);
      text-align: center;
      font-family: var(--font-family-default, Inter);
      font-size: var(--font-size-xs, 11px);
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      margin-bottom: 0px;
    }
  }
}
