.rq-bstack-auth-start-view {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--requestly-color-background);

  &__content {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &-title {
      display: flex;
      align-items: center;
      gap: 16px;
      font-weight: var(--requestly-font-weight-medium);
      font-size: var(--requestly-font-size-lg);
      color: var(--requestly-color-text-default);

      svg {
        color: var(--requestly-color-text-default);
      }
    }

    &-description {
      font-size: var(--requestly-font-size-sm);
      color: var(--requestly-color-text-subtle);
    }
  }
}
