.invite-modal-content {
    text-align: center;
    /* padding: 32px !important; */
}

.invite-modal-header {
    margin-top: 1.5em;
}

.invite-modal-subheader {
    margin-top: 1.5em;
}

.invite-modal-button {
    margin-top: 1.5em;
}