.invite-content {
    text-align: center;
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius-sm);
    background-color: var(--component-background);
    padding: 32px;
    box-shadow: var(--background) 0px 5px 20px
}

.invite-header {
    margin-top: 1.5em;
}

.invite-subheader {
    margin-top: 1.5em;
}

.invite-button {
    margin-top: 1.5em;
    width: 100%;
}

/* .invite-content {
    background-color: var(--body-background);
} */

.invite-container {
    height: 80vh;
    align-items: center;
}