.invite-content {
    text-align: center;
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    background-color: var(--component-background);
    padding: 40px 40px 0 40px;
    box-shadow: 0px 0px 20px var(--background);
}

.invite-header {
    margin-top: 1.5em;
}

.invite-subheader {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.invite-container {
    height: 80vh;
    align-items: center;
}

.invite-footer {
    text-align: center;
    padding: 9px 1.25rem;
    border-radius:0 0 var(--border-radius-sm) var(--border-radius-sm);
    border: 1px solid var(--border-dark);
    background-color: var(--component-dark-background);
    box-shadow: 0px 5px 20px var(--background);
}
  
.invite-footer button.ant-btn {
    font-size: 13px;
}

.invite-accept-lottie-animation {
    margin: auto;
    display: flex;
    width: 80%;
}
  