.rq-mocks-list-container {
  .mocks-table-container {
    .rq-col-title {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .ant-table-cell.ant-table-selection-column {
      max-width: 0px;

      .ant-checkbox-wrapper {
        display: none;
      }
    }
  }
}
