.mocks-table-container
  .rq-content-list-table-container
  .rq-content-list-table-row:not(.rq-content-list-table-row-group)
  td.ant-table-cell:nth-child(2)
  .indent-level-0 {
  padding-left: 2px !important;
}

.mock-picker-modal-body .rq-mocks-list-table.rq-content-list-table .ant-table-row-indent.indent-level-0 {
  padding-left: 10px !important;
}

.mocks-table-ellipsis-tooltip .ant-tooltip-inner {
  font-size: var(--requestly-font-size-sm);
  background: var(--requestly-color-black);
}

.rq-mocks-list-table.rq-content-list-table {
  .ant-table-row-indent + .ant-table-row-expand-icon {
    margin-top: 1px;
    margin-right: 12px;
  }

  .rq-col-title {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 90px;
  }

  .ant-table-selection-column {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .rq-mocks-list-table-row {
    font-size: var(--requestly-font-size-sm, 13px);
    cursor: pointer;

    &.mock-row {
      .ant-table-cell:first-child {
        border-left: 4px solid transparent;
      }

      &.ant-table-row-level-0 .ant-table-cell .mock-star-btn {
        margin-right: 22px;
      }
    }

    &.mock-row.starred {
      .ant-table-cell:first-child {
        border-left: 4px solid var(--requestly-color-warning);
      }
    }

    &.mock-row {
      td.ant-table-cell.ant-table-cell-with-append:nth-child(2) {
        padding: 18px 0;
      }
    }

    &.collection-row {
      .add-mock-btn {
        display: none;
        align-items: center;
        gap: 4px;
        padding: 4px 8px;
        height: 24px;
      }

      &:hover {
        .add-mock-btn {
          display: flex;
        }
      }

      .mock-collection-details-container {
        padding: 7px 0;
      }

      td.ant-table-cell.ant-table-cell-with-append:nth-child(2) {
        padding: 19px 0;
      }
    }

    &.collection-row.starred {
      .ant-table-cell:first-child {
        border-left: 4px solid var(--requestly-color-warning);
      }
    }

    &.ant-table-row-level-1 {
      .mock-name-details-container {
        padding-left: 6px;
      }
    }

    .mock-star-btn {
      display: flex;
      height: 24px;
      padding: 4px 8px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      font-size: var(--requestly-font-size-md, 14px);
      margin-right: 2px;
      flex-shrink: 0;

      .unstarred {
        color: var(--requestly-color-text-placeholder);
      }

      .starred {
        color: var(--requestly-color-warning);
      }
    }

    .mock-collection-details-container {
      display: flex;
      align-items: center;
      gap: 8px;

      .collection-icon {
        width: 16px;
        height: 16px;
        color: var(--requestly-color-text-default);
      }

      .mock-collection-name {
        cursor: pointer;
        color: var(--requestly-color-text-default);
        font-size: var(--requestly-font-size-sm, 13px);
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.25px;
      }

      .collection-path {
        font-size: var(--requestly-font-size-xs, 11px);
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.4px;
        color: var(--requestly-color-text-subtle);
      }
    }

    .mock-name-details-container {
      display: flex;
      align-items: center;
      overflow: hidden;

      .mock-details-container {
        overflow: hidden;

        .mock-name-container {
          display: flex;
          align-items: center;
          gap: 4px;

          .mock-name {
            cursor: pointer;
            color: var(--requestly-color-text-default);
            font-size: var(--requestly-font-size-sm, 13px);
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0.25px;
          }

          .mock-type {
            margin-top: 2px;
            font-size: var(--requestly-font-size-2xs, 9px);
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }

        .mock-endpoint {
          margin-top: 4px;
          font-size: var(--requestly-font-size-xs, 11px);
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0.4px;

          .ant-typography {
            color: var(--requestly-color-text-subtle);
          }
        }
      }
    }

    .mock-description-icon {
      display: flex;
      align-items: center;
      font-size: var(--requestly-font-size-lg, 16px);
      color: var(--requestly-color-text-placeholder);
      flex-shrink: 0;
    }

    .mock-actions-container {
      .ant-btn-icon-only {
        &:hover {
          background: var(--border);
        }

        svg {
          color: var(--text-gray);
          transition: 0.2s ease-in-out;
        }

        &:hover svg {
          color: var(--requestly-color-text-default);
        }
      }
    }

    .mock-table-user-icon {
      margin-left: 15px;
    }

    .last-modified {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 4px;
      margin-left: 5px;
    }
  }
}

.mock-description {
  font-size: var(--requestly-font-size-sm, 13px);
  line-height: 14px;
}

.mocks-more-actions-dropdown .ant-dropdown-menu {
  width: max-content;
  padding: 4px;
  background: var(--requestly-color-surface-0);
  border: 1px solid var(--requestly-color-surface-1);
  border-radius: var(--border-radius-sm);
  box-shadow: 0px 8px 12px 0px var(--requestly-color-black-t-20);

  .mock-action {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.mocks-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 8px 12px;
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-md, 14px);
  line-height: 20px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;

  &.ant-dropdown-menu-item-disabled {
    opacity: 0.6;
  }
}

.mocks-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  border-radius: 4px;
  background: var(--requestly-color-surface-1);
}

.mocks-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.mocks-more-actions-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: var(--requestly-color-error);
}

.rq-modal {
  .rq-mocks-list-table.rq-content-list-table {
    .rq-mocks-list-table-row {
      &.collection-row {
        td.ant-table-cell.ant-table-cell-with-append:nth-child(1) {
          padding: 19px 0;
          display: flex;

          .ant-table-row-expand-icon {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.rq-mocks-list-table.rq-content-list-table.read-only {
  & .mock-row,
  & .collection-row {
    .ant-table-cell:first-child {
      padding-left: 2px;
    }
  }

  & .collection-row {
    .ant-table-cell:first-child {
      padding-left: 6px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      height: 57px; // parent row height
    }
  }
}
