.minimal-layout {
  --minimal-layout-header-height: 48px;
  --minimal-layout-footer-height: 26px;

  width: 100vw;
  height: clamp(calc(100vh - 48px), 100vh, 100vh);
  display: grid;
  background-color: var(--requestly-color-neutral-1000);

  grid-template-columns: fit-content(var(--minimal-layout-sidebar-width)) 1fr;
  grid-template-rows: fit-content(var(--minimal-layout-header-height)) 1fr fit-content(
      var(--minimal-layout-footer-height)
    );

  grid-template-areas:
    "header"
    "main"
    "footer";

  .minimal-layout-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: inherit;

    .auth-button-group {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .logo {
      width: 94px;
      height: 32px;
    }
  }

  .minimal-layout-main {
    grid-area: main;
  }

  .minimal-layout-footer .app-layout-footer.ant-layout-footer {
    grid-area: footer;
    display: flex;
    padding: var(--space-2, 4px) var(--space-6, 16px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid var(--requestly-color-neutral-800, #282828);
    background-color: inherit;

    color: var(--requestly-color-text-subtle, #bbb);
    text-align: center;
    font-size: var(--requestly-font-size-xs);
    line-height: 17px; /* 154.545% */
  }
}
