.save-session-btn-container {
  display: flex;
  align-items: center;
  position: relative;

  .save-session-btn.ant-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid var(--requestly-color-white-t-20);
    gap: 6px;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .save-popup-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
