.environment-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--requestly-color-background);

  .environment-container-content {
    flex: auto;
    width: 100%;
    min-width: 0;
    padding: 8px 16px;
  }
}
