.session-title-container {
  padding: 12px 0;
}

.session-header-breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;

  &__parent-route {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);
    font-weight: 400;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__arrow {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-xs);
  }
}
