.premium-feature-popover {
  width: 410px;
  border-radius: var(--border-radius-md);
  padding: 0;
  position: relative;

  & .ant-popover-message-icon {
    display: none;
  }

  & .ant-popover-inner {
    background: var(--requestly-color-surface-0);
    box-shadow: 0px 16px 24px -4px rgba(0, 0, 0, 0.32);
    border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
  }

  & .ant-popover-buttons {
    margin-top: 8px;
    text-align: left;

    & .ant-btn {
      padding: 12px;
      height: 32px;
    }
  }
  & .no-cc-text {
    position: absolute;
    bottom: 8px;
  }

  & .ant-popover-buttons button:not(:first-child) {
    margin-left: 0px;
  }

  & .ant-popover-buttons button:first-child {
    margin-right: 8px;
  }
}

.premium-popover-bottom-padding {
  & .ant-popover-inner-content {
    padding-bottom: 30px;
  }
}
