.homepage-teams-list-title {
  font-size: var(--requestly-font-size-md);
  font-weight: var(--requestly-font-weight-medium);
  color: var(--requestly-color-text-default);
}

.homepage-teams-list-subtitle {
  font-size: var(--requestly-font-size-sm, 12px);
}

.homepage-teams-card-content {
  padding: 0 1rem;
  padding-top: 20px;
}

.homepage-teams-list {
  height: 144px;
  overflow-y: auto;
  margin-top: 8px;
}

.homepage-teams-list-create-workspace-btn.ant-btn.ant-btn-default {
  color: var(--requestly-color-text-default);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  border-radius: 0;
  border-top: 1px solid var(--requestly-color-surface-2);
  background: none;
  font-size: var(--requestly-font-size-sm, 13px);

  &:hover,
  &:focus {
    color: var(--requestly-color-text-default);
    border: none;
    border-radius: 0;
    border-top: 1px solid var(--requestly-color-surface-2);
  }
}

@media (max-width: 992px) {
  .homepage-teams-list {
    margin-bottom: 45px;
  }
}
