.settings-index {
  width: 100vw;
  height: 100%;
  display: flex;
  gap: 20px;
  background: var(--surface-0);
}

.settings-content-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  flex: 1;
  padding: 1rem;

  & .settings-content {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    background: var(--surface-0);

    & .ant-table-content {
      max-height: 55vh;
      overflow-y: auto;
    }
  }
}

.settings-index-sidebar-wrapper {
  display: flex;
}

.settings-secondary-sidebar {
  width: 184px;
  padding: 12px;
  height: 100%;
  border-right: 1px solid var(--surface-2);
  background: var(--surface-1);
  box-shadow: -2px 0px 12px 0px rgba(0, 0, 0, 0.28);
}
