.settings-index {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--surface-0);
  overflow-y: hidden;
}

.settings-content-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  flex: 1;

  & .settings-content {
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    & .ant-table-content {
      max-height: 55vh;
      overflow-y: auto;
    }
  }
}

.login-required-view.ant-pro-card.primary-card {
  height: 100%;
  background: transparent;
}

// Billing team
.billing-teams-primary-card {
  border-radius: 4px;
  border: 1px solid var(--requestly-color-surface-2);
  background: var(--requestly-color-surface-0);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
}

.my-billing-team-title {
  color: var(--requestly-color-text-default);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.billing-table {
  & .ant-table-thead .ant-table-cell {
    background: var(--requestly-color-surface-0);
    padding: 12px 1rem;
    color: var(--neutrals-gray-300);
    font-weight: 400;
    border-bottom: 1px solid var(--requestly-color-surface-1);
  }

  & th::before {
    display: none;
  }

  & tbody tr .ant-table-cell {
    background: var(--requestly-color-surface-0);
    padding: 12px 1rem;
    border-bottom: 1px solid var(--requestly-color-surface-1);
  }

  .billing-team-member-avatar-wrapper {
    align-self: center;
    margin-right: 8px;
  }

  .billing-team-member-email {
    font-size: var(--requestly-font-size-xs, 11px);
    letter-spacing: 0.25px;
    line-height: 14px;
    color: var(--neutrals-gray-300);
  }
}

.billing-team-loader-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;

  .ant-spin {
    transform: scale(1.5);
  }
}

// COMMON STYLES FOR PRIMARY AND SECONDARY SIDEBAR
.settings-primary-sidebar-section,
.settings-secondary-sidebar-section {
  &-header {
    margin-bottom: 8px;

    &-icon {
      position: relative;
      top: 3px;
      font-size: 1.125rem;

      & svg {
        color: var(--neutrals-gray-300);
      }
    }

    &-title {
      color: var(--neutrals-gray-300);
      letter-spacing: 0.25px;
    }
  }

  &-link {
    display: block;
    color: var(--requestly-color-text-default);
    padding: 6px 8px;
    margin-top: 4px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 18px;
    transition: 0.25s background ease-in-out;

    &:hover {
      background: var(--requestly-color-surface-1);
      border-radius: 4px;
      color: var(--requestly-color-text-default);
    }
  }

  &-active-link {
    background: var(--requestly-color-surface-2);
    border-radius: 4px;
    color: var(--requestly-color-text-default);

    &:hover {
      background: var(--requestly-color-surface-2);
      border-radius: 4px;
      color: var(--requestly-color-text-default);
    }
  }
}
