.redeem-credits-modal.ant-modal {
  min-width: 416px !important;
}

.redeem-credits-modal.empty.ant-modal {
  min-width: 480px !important;
}

.redeem-credits-modal.ant-modal {
  .ant-modal-header {
    border-bottom: none;
  }
  .ant-modal-body {
    padding: 0;
  }

  .credits-not-available {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      img {
        width: 100px;
        height: 100px;
      }

      .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 22.5px;
        text-align: center;
      }

      .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: center;
        max-width: 52ch;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
    }
  }

  .credits-available {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      .title {
        font-size: 16px;
        font-weight: 500;
        line-height: 22.5px;
        text-align: center;
        align-self: flex-start;
      }

      .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.5px;
        max-width: 55ch;

        .credits-earned {
          color: var(--success);
        }
      }

      .details {
        width: 100%;
        padding: 16px;
        border-radius: 4px;
        background: var(--requestly-color-surface-1);
        border: 1px solid var(--requestly-color-white-t-10);
        font-size: 13px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .plan-summary-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 13px;

          .plan-details {
            display: flex;
            align-items: center;
            gap: 4px;
          }

          span.title {
            color: var(--text-subtle);
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
          }
        }

        .summary-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;

          .summary-item {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .label {
              color: var(--text-subtle);
              font-size: 13px;
              line-height: 14.3px;
            }

            .value {
              font-size: 14px;
              line-height: 19.5px;
              font-weight: 500;
              line-height: 19.5px;
            }
          }
        }
      }
    }

    .actions {
      margin-top: 16px;
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
