.app-update-notification.ant-notification-notice {
  background-color: var(--requestly-color-white-t-10);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  margin-bottom: 0;
  padding: 8px;

  .ant-notification-notice-message {
    padding-right: 0;
  }

  .app-update-notification-content {
    padding-top: 8px;
  }
}
