.secondary-sidebar-toggle-btn {
  opacity: 0;
  visibility: hidden;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -12px;
  top: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
  background: var(--requestly-color-surface-1, #282828);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
  transition: all 0.15s ease;
  z-index: 3;
}

.secondary-sidebar-toggle-btn:hover {
  opacity: 1;
  display: flex;
}

.secondary-sidebar-toggle-btn svg {
  width: 14px;
  color: var(--requestly-color-text-default);
}
