.editor-toast-success {
  background-color: #4caf50;
}

.editor-toast-error {
  background-color: #f44336;
}

.editor-toast-info {
  background-color: #2196f3;
}

.editor-toast-warning {
  background-color: #ff9800;
}
