.api-key-value-table {
  tr:hover {
    .key-value-table-checkbox {
      opacity: 1;
    }

    td.ant-table-cell {
      .key-value-delete-btn.ant-btn.ant-btn-icon-only {
        opacity: 1;
      }
    }
  }

  td.ant-table-cell {
    padding: 4px 12px !important;

    .key-value-delete-btn.ant-btn.ant-btn-icon-only {
      width: 30px;
      opacity: 0;
    }
  }

  .key-value-table-input {
    border: 1px solid transparent;
    background: transparent;
    padding: 4px 6px !important;
    height: 24px;
    font-size: var(--requestly-font-size-sm);
    width: 100%;

    &:hover {
      border-color: transparent;
    }

    &:focus {
      border: 1px solid var(--requestly-color-primary-500);
    }

    &-disabled {
      opacity: 0.5;
    }
  }

  .key-value-table-checkbox {
    opacity: 0;
  }

  .ant-table-footer {
    background: var(--requestly-color-background);
  }
}
