.card-container {
  cursor: pointer;
  // new

  display: flex;
  width: 264px;
  min-width: 160px;
  padding: 12px 32px 12px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  position: absolute;
  left: 16px;
  bottom: 16px;

  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background: var(--requestly-color-white-t-10);

  /* effect-glass */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
}

.content-container {
  display: flex;
}

.notification-icon {
  width: 56px; /* Adjusted size for better fit */
  height: 56px;
  margin-right: 10px; /* Added margin for spacing */
}

.content {
  flex-grow: 1; /* Allow content to fill available space */
  min-width: 160px;
  display: flex;
  flex-direction: column;
  .content-header {
    font-size: var(--requestly-font-size-sm);
    color: white; /* Make text color white for better visibility */
  }

  .content-text {
    font-size: var(--requestly-font-size-xs);
    color: white; /* Make text color white for better visibility */
  }
}

.close-container {
  width: 20px;
  height: 20px;

  position: absolute;
  right: 8px;
  top: 7.902px;

  button {
    width: 20px;
    height: 20px;
    background: transparent; /* Ensure button background doesn't stand out */
    border: none; /* Remove any border */
    color: white; /* Adjust button color for visibility */
    cursor: pointer; /* Add cursor pointer for better UX */
  }
}
