.export-mocks-modal-wrapper {
  .ant-modal-body .rq-modal-content {
    padding: 0;
  }

  .ant-modal-body .rq-modal-footer {
    padding: 1rem;
  }

  .export-mocks-modal-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--requestly-font-size-md);
    font-weight: var(--requestly-font-weight-medium);
    color: var(--requestly-color-text-default);
    padding: 12px;
  }

  .export-mocks-modal-header .premium-icon {
    padding-left: 0;
  }

  .export-mocks-modal-body {
    padding: 1.2rem;
    font-size: var(--requestly-font-size-sm, 13px);

    .skeleton-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
    }

    .export-mocks-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px;
      font-size: var(--requestly-font-size-sm, 13px);
      margin-bottom: 8px;
      color: var(--requestly-color-text-default);
      border-radius: var(--border-radius-sm);
      background-color: var(--requestly-color-surface-0);
      border: 1px solid var(--border-dark);
    }
  }

  .ant-tabs {
    margin-top: 4px;
  }

  .sharing-primary-btn.ant-btn {
    font-weight: 500;
    font-size: var(--requestly-font-size-sm, 13px);
  }

  .sharing-modal-empty-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 4px auto;
  }

  .sharing-modal-empty-view svg {
    width: 40px;
    height: 40px;
  }
}
