.page-error-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 30%;
  }

  .message {
    font-size: 1rem;
  }
}
