.rule-editor-header.ant-layout-header {
  display: flex;
  align-items: center;
  background-color: var(--body-background);
  border-bottom: 1px solid var(--border-dark);
}

.rule-editor-row.ant-row {
  width: 100%;
}

.rule-editor-header-title {
  flex-shrink: 0;
  margin-left: 8px;
}

.rule-editor-header-actions {
  width: 100%;
  margin-left: auto;
}

.rule-editor-header .ant-divider {
  margin: 0 8px;
}

.rule-editor-header-actions-container > div {
  display: flex;
  align-items: center;
}

.rule-editor-back-btn {
  visibility: hidden;
}

.rule-editor-header-disabled-group-warning.ant-col {
  color: var(--requestly-color-warning-300);
  font-size: var(--requestly-font-size-xs);
  padding-top: 2px;
}

.rule-editor-header-disabled-group-warning.ant-col .rq-btn {
  padding: 0;
}

.rule-editor-header-disabled-group-warning.ant-col @media only screen and (max-width: 1200px) {
  .rule-editor-back-btn {
    visibility: visible;
  }
}
