.rule-editor-header.ant-layout-header {
  display: flex;
  align-items: center;
  background-color: var(--requestly-color-background);
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  line-height: 36px;
}

.rule-editor-header.ant-layout-header .rule-editor-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rule-editor-header.ant-layout-header .rule-editor-row .rule-editor-title-info {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-shrink: 0;
}

.rule-editor-header.ant-layout-header .rule-editor-row .rule-editor-title-info .rq-breadcrumb {
  padding-left: 0;
}

.rule-editor-header-title {
  flex-shrink: 0;
  margin-left: 4px;
  font-size: var(--requestly-font-size-xs);
}

.rule-editor-header-title .rq-breadcrumb {
  margin-left: 0;
}

.rule-editor-header-actions {
  width: 100%;
  margin-left: auto;
}

.rule-editor-header .ant-divider {
  margin: 0 8px;
}

.rule-editor-header-actions-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
  flex-wrap: wrap;
  margin-left: -8px;
}

.rule-editor-back-btn {
  visibility: hidden;
}

.rule-editor-header-actions-container .rule-editor-header-disabled-group-warning {
  color: var(--requestly-color-warning-300);
  font-size: var(--requestly-font-size-xs);
  padding-top: 2px;
}

.rule-editor-header-actions-container .rule-editor-header-disabled-group-warning.rq-btn {
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  .rule-editor-back-btn {
    visibility: visible;
  }
}
