.rq-split-buttons {
  .split-button {
    vertical-align: middle;

    .down-arrow-icon {
      width: 10px;
      height: 10px;
      margin-top: 1px;
      margin-left: 5px;
    }
  }

  .left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;

    &:hover,
    &:focus {
      color: var(--requestly-color-text-default);
      border: 1px solid #343434;
      border-left: 0;
      background-color: var(--requestly-color-surface-2);
    }
  }
}
