.page-source-row {
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: var(--border-radius-md);
  background-color: var(--requestly-color-surface-0);
}

.page-source-row:nth-last-child(2) {
  margin-bottom: 0;
}

.page-source-row .source-label {
  font-size: var(--requestly-font-size-md, 14px);
  max-width: 80ch;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--requestly-color-text-default);
}

.page-source-row .action-btns-container {
  column-gap: 8px;
}

.page-source-row .action-btns-container .page-source-switch {
  flex-shrink: 0;
  margin-left: 4px;
  min-width: 5.12rem;
  display: inline-flex;
  align-items: center;
}

.page-source-row .action-btns-container .page-source-switch span.label {
  padding-right: 6px;
}

.page-source-row .action-btns-container .ant-btn-icon-only.rq-btn {
  flex-shrink: 0;
}
