.send-invite-button.ant-btn {
  font-size: var(--requestly-font-size-xs);
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
    color: var(--requestly-color-primary-400);
  }
}
