.rq-resource-table {
  .table-cell-url-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;

    .table-cell-url {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      flex-grow: auto;
    }

    .table-cell-url-graphql-operation-name {
      font-style: italic;
      color: #b568f9;
      font-weight: 400;
    }
  }
}
