.rq-onboarding-card {
  width: 100%;
  padding: 16px 32px 32px 32px;
  border-radius: 8px;
  background: var(--requestly-color-surface-0, #212121);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);

  .onboarding-card-title {
    color: var(--requestly-color-text-default);
    font-weight: var(--requestly-font-weight-medium);
    font-size: var(--requestly-font-size-md);
    line-height: 22px;
  }

  .onboarding-card-description {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);
    margin-top: 16px;
  }
}
