.api-client-error-placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 56px 32px;
  height: 100%;

  .api-client-error-placeholder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-8, 24px);

    .error-container {
      display: flex;
      padding: var(--space-5, 12px) var(--space-6, 16px);
      justify-content: center;
      align-items: center;
      gap: var(--space-4, 8px);
      align-self: stretch;
      border-radius: 8px;
      background: var(--requestly-color-background);
      border: 1px solid var(--requestly-color-white-t-10);
      font-size: var(--requestly-font-size-xs, 11px);
      line-height: 18px;
      letter-spacing: 0.25px;
      max-width: 400px;
      text-align: center;

      .error-name {
        color: var(--requestly-color-error-text);
      }

      .error-message {
        color: var(--requestly-color-subtle);
        display: inline;
        gap: 4px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  img {
    width: 80px;
    height: 80px;
  }

  &__title {
    text-align: center;
    text-overflow: ellipsis;
    font-weight: var(--requestly-font-weight-medium);
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-default);
  }

  .documentation-link {
    display: flex;
    padding-top: 16px;
    align-items: center;
    gap: 4px;
    color: var(--requestly-color-primary-text, #639ff9);
    font-size: var(--requestly-font-size-xs);
  }
}
