.pricing-table-product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.pricing-table-product-view-icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0.4rem;
}
.pricing-table-product-view-icon img {
  filter: invert(1);
}
.pricing-table-product-view {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.pricing-table-product-view-item {
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 0.25rem 0.125rem;
  padding-right: 2rem;
  border-left: 5px solid #262626;
  gap: 0.5rem;
}
.pricing-table-product-view-item.active {
  border-left: 5px solid var(--primary);
}
.pricing-table-product-view-para {
  display: flex;
  flex-direction: column;
}

.pricing-table-product-view-para p {
  color: var(--text-gray);
}
.pricing-table-row {
  display: flex;
}
.pricing-table-row .ant-space-item {
  align-self: stretch;
  flex: 1;
}

.pricing-table-product-view h1 {
  margin-bottom: 2rem;
}
.pricing-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing-table-wrapper .pricing-table-col {
  padding: 30px !important;
  border: 1px solid var(--border-dark);
  background: var(--component-background);
  border-radius: var(--border-radius-sm);
  min-width: 300px;
  height: 100%;
}

.pricing-table-col .pricing-col-header .plan-for {
  text-align: left;
  margin-bottom: 8px;
}
.pricing-table-col .price-container {
  font-size: 12px;
}
.pricing-table-col .price {
  color: var(--white);
  font-size: 18px;
}
.pricing-table-col .plan-feature {
  margin-top: 8px;
  gap: 8px;
}
.pricing-table-col .basic-use-with-text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.25rem;
  color: var(--white);
}
.pricing-table-col .pro-basic-feature-title {
  font-size: 1rem;
  color: var(--white);
  font-weight: 500;
  margin-top: 40px;
}
.pricing-table-col .pro-basic-feature-title span {
  display: inline-flex;
  flex-direction: column;
}
.pricing-table-col .pro-basic-feature-title span img {
  width: 75px;
  height: 8px;
}

.rq-use-with {
  display: flex;
  gap: 12px;
  color: var(--text-gray);
  margin-top: 8px;
}
.rq-use-with img {
  transform: rotate(180deg);
}
.current-plan {
  margin: 0 4px;
  padding: 0 4px;
  color: var(--text-gray);
  font-size: 10px;
  vertical-align: bottom;
  border: none;
}
.pricing-table-wrapper .note-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 13px;
}

.enterprise-banner {
  border: 1px solid var(--white);
  border-radius: var(--border-radius-md);
  display: flex;
  padding: 48px;
  margin: 20px 24px;
  justify-content: center;
}

.enterprise-features-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  margin: 6px 0;
}

.enterprise-features-grid span {
  vertical-align: middle;
  padding-left: 4px;
}
