.importer-modal .ant-modal-body .rq-modal-content:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.import-from-modheader-modal .ant-modal-body .rq-modal-content:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.importer-wrapper {
  width: 55%;
  margin: 0 auto;
  max-width: 900px;
  background-color: transparent;
  height: 100%;
  padding: 24px;
}

.importer-container {
  margin: auto;
}

.importer-container .importer-actions-row {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0;
  gap: 8px;
}

.importer-header {
  margin-bottom: 8px;
  margin-top: -18px;
}

.importer-body {
  background: var(--requestly-color-surface-1);
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 16px;
}

.importer-footer {
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-xs);
  text-align: center;
  margin: 16px 0;
}

.importer-heading {
  font-size: var(--requestly-font-size-lg);
  font-weight: var(--requestly-font-weight-medium);
  gap: 8px;
  display: flex;
  align-items: center;
}

.importer-heading .importer-back-icon {
  cursor: pointer;
}

.importer-share-container {
  font-size: var(--requestly-font-size-xs);
  font-weight: var(--requestly-font-weight-medium);
  padding: 8px;
  cursor: pointer;
  margin-top: 4px;
  margin-right: 20px;
}

.importer-parsed-rules-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.importer-success-row {
  color: var(--requestly-color-success-300);
}

.importer-rules-info li {
  list-style: disc;
}

.external-icon-link {
  vertical-align: text-top;
}

.info-link-container {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--requestly-color-error-300);
}

.parsed-rules-error-info {
  font-size: var(--requestly-font-size-lg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 16px;
}

.parsed-rules-error-info ol {
  font-weight: var(--requestly-font-weight-normal);
  font-size: var(--requestly-font-size-sm);
}

.parsed-rules-error-info li {
  list-style: unset;
}

.validation-heading {
  color: var(--requestly-color-error-300);
}

.validation-subheading {
  margin-left: 22px;
  font-weight: var(--requestly-font-weight-medium);
}

.importer-modal .importer-footer {
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-xs);
  text-align: center;
  padding-top: 16px;
  border-top: 1px solid var(--requestly-color-white-t-20);
  margin-top: 16px;
  width: 550px;
  margin-left: -24px;
}

.doc-link-container {
  margin-left: 18px;
}

.importer-warning-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--requestly-color-warning-600);
  border: 1px var(--requestly-color-white-t-20) solid;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 16px;
  color: var(--requestly-color-black);
}

.importer-warning-banner-text {
  font-size: var(--requestly-font-size-sm);
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.importer-warning-icon {
  margin-top: -2px;
}

.importer-warning-docs-link a {
  color: var(--requestly-color-black);
  text-decoration: underline;
}

.parsed-success-row {
  color: var(--requestly-color-success-300);
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parsed-rules-info li {
  list-style: disc;
}

.external-icon-link {
  vertical-align: text-top;
}
