.add-member-modal-header {
  margin-top: 1.43rem;
  max-width: 38ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.members-email-input {
  margin-bottom: 0.3rem;
  max-width: 390px;
}

div.members-email-input > input {
  width: 100% !important;
}

.add-member-modal-email-label {
  margin-bottom: 8px;
  display: inline-block;
}

.add-members-modal-info-text {
  font-size: 13px;
  line-height: 22px;
}

.guide-link,
.guide-link:hover {
  color: var(--text-gray);
  text-decoration: underline;
}

.access-dropdown-container {
  margin: -10px 0px 4px 0px;
}

.empty-message {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
