.plan-expired-banner + .app-layout {
  height: calc(100vh - 48px); // 48px is the height of the banner
}

.plan-expired-banner {
  position: relative;
  background: var(--requestly-color-error-dark);
  padding: 8px 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &-close-btn {
    position: absolute;
    right: var(--requestly-space-10);
    color: var(--requestly-color-text-default);
  }
}
