.other-team-members-table-header {
  width: 100%;
  padding: 8px 1rem;
  border-bottom: 1px solid var(--requestly-color-surface-2);
  margin: 0 !important;

  & .view-team-details-btn.ant-btn {
    font-weight: 500;
    &:hover,
    &:focus,
    &:active {
      color: var(--requestly-color-text-default) !important;
      background: var(--requestly-color-surface-2);
    }
  }
}

.team-details-popover {
  width: 280px;
  &.ant-popover-placement-bottomLeft {
    padding-top: 0;
  }
  .ant-popover-inner {
    background: var(--requestly-color-surface-1);
  }
}

.request-billing-team-btn.ant-btn {
  gap: 8px;
}
