.premium-plan-days-left {
  font-size: var(--requestly-font-size-sm, 12px);
  padding-left: 8px;
  padding-right: 8px;
  color: var(--requestly-color-error);
}

.premium-plan-name {
  background-color: #30363d;
  border: 1px solid rgba(205, 217, 229, 0.1);
  background-image: linear-gradient(180deg, #373e47, #30363d 90%);
  color: #adbac7;
  border-radius: 5px 0px 0px 5px;
  font-size: var(--requestly-font-size-sm, 12px);
  font-weight: 500;
  width: 100%;
  padding: 0 4px;
  text-transform: capitalize;
}

.premium-plan-badge-container {
  font-weight: 500;
  background-color: #22272e;
  border: 1px solid rgba(205, 217, 229, 0.1);
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
