.premium-plan-badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--requestly-space-4);
  margin-right: var(--requestly-space-4);
  .premium-plan-name-info {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);
  }
  .upgrade-button {
    height: 28px;
    border-radius: 28px;
  }
}

.expired-plan {
  color: var(--requestly-color-error-text);
  .premium-plan-name-info {
    color: var(--requestly-color-error-text);
  }
}
