.mock-server-sidebar-container ul {
  padding: 1.25rem 10px;
}

.mock-server-sidebar-container ul li .icon__wrapper {
  padding: 0;
}

.mock-server-sidebar-container ul li .icon__wrapper svg {
  width: 18px;
  height: 18px;
}
