.network-table-container {
  display: flex;
  height: 100%;

  > div {
    overflow: auto;
    width: 50%;
    flex: 1 1 auto;
  }

  .network-table {
    cursor: default;
    color: var(--color-secondary);
  }

  .network-table-row.failed {
    color: var(--color-error);
    background-color: var(--background-color-error-row-selected);
  }
}
