.shared-list-viewer-table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shared-list-viewer-record-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shared-list-viewer-rule-name {
  color: var(--requestly-color-primary-text);
  cursor: pointer;
  font-size: var(--requestly-font-size-sm);

  &:hover {
    text-decoration: underline;
  }
}

.shared-list-last-modified-date {
  font-size: var(--requestly-font-size-sm);
}

.shared-list-viewer-table {
  tr .ant-table-row-expand-icon {
    display: none;
  }
  tr[data-row-key^="Group"] .ant-table-row-expand-icon {
    display: block;
  }

  .rq-content-list-table-header th.ant-table-cell::after,
  .rq-content-list-table-header th.ant-table-cell::before {
    display: none;
  }

  .view-shared-list-rule-btn {
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .rq-content-list-table-row.ant-table-row-level-0 {
    .ant-table-cell-with-append {
      display: flex;
      gap: 8px;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}
