.rq-auth-card {
  .rq-auth-card-header {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    span {
      color: var(--requestly-color-text-default);
      font-weight: var(--requestly-font-weight-medium);
      font-size: var(--requestly-font-size-md);
    }
  }

  &__auth-options-container {
    margin-top: 1rem;
  }
}
