.api-client-modal .ant-modal-body {
  height: calc(100vh - 150px);

  .api-client-view {
    border: 1px solid #303030;
    border-radius: 4px;
    overflow: hidden;

    .api-client-header-container {
      .api-client-breadcrumb-container {
        justify-content: flex-end;
      }
    }
  }
}
