.api-client-sidebar {
  .api-client-sidebar-tabs {
    flex-shrink: 0;
    height: 100%;
    background-color: var(--body-background);

    .ant-tabs-nav {
      margin-bottom: 0;
      padding: 0;

      .ant-tabs-nav-list {
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .ant-tabs-tab {
        margin: 0;
        width: 32px;
        height: 32px;
        padding: 0 8px;
        border-radius: 4px;
        color: var(--requestly-color-text-subtle);

        &:hover,
        &.ant-tabs-tab-active {
          background-color: var(--requestly-color-surface-1);
        }

        .ant-tabs-tab-btn,
        .ant-tabs-tab-btn:active {
          color: var(--requestly-color-text-subtle);
        }

        .api-client-tab-label {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: var(--requestly-font-size-sm);

          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .ant-tabs-content {
      .ant-tabs-tabpane {
        padding: 0;
      }
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .sidebar-item {
      line-height: 15.92px;
      text-align: center;
      font-weight: var(--requestly-font-weight-medium);
      font-size: var(--requestly-font-size-2xs);
      cursor: pointer;

      padding: 4px 8px;
      min-height: 70px;
      margin-bottom: 2px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      row-gap: 8px;
      color: var(--text-dark-gray); // TODO: update the variable

      &:hover,
      &.active {
        color: var(--requestly-color-text-default);
        background-color: var(--gray-dark);
        border: none !important;
      }
    }
  }
}
