.api-request-body-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}
.api-request-body-radio-btns {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 8px;

  .ant-radio-wrapper {
    font-size: var(--requestly-font-size-xs);
  }

  .beautify-code {
    height: 22px;
    padding: 0;
  }
}
.api-request-body-options-list .ant-select-item-option {
  font-size: var(--requestly-font-size-xs);
}

.api-request-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: auto;

  .api-request-body-options {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 5px;

    .ant-select {
      font-size: var(--requestly-font-size-xs);
      width: 80px;
    }
  }

  .api-request-body-editor-container {
    height: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .code-editor-toolbar {
      flex-shrink: 0;
    }

    .react-resizable {
      flex: 1;
      min-height: 0 !important;
      height: auto !important;
    }

    .editor-popup-container {
      display: none;
    }
  }

  .api-request-body-raw {
    height: 100%;
    width: 100%;
    resize: none;
  }
}
