.billing-team-invoice-card {
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: var(--space-9, 32px) var(--space-8, 24px);
  }

  &-footer {
    display: flex;
    padding: var(--space-6, 16px) var(--space-8, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--space-2, 4px);
    border-top: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
    text-align: center;
    font-size: var(--requestly-font-size-xs);
  }

  .billing-invoice-card-title {
    color: var(--requestly-color-text-default);
    font-size: var(--requestly-font-size-md);
    font-weight: 500;
  }

  .billing-invoice-card-description {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);
  }

  .request-result {
    display: flex;
    align-items: center;
    font-size: var(--requestly-font-size-sm);
    gap: var(--space-2, 4px);

    &.success {
      color: var(--requestly-color-success-300);
    }

    &.error {
      color: var(--requestly-color-error-300);
    }
  }
}
