.ant-divider.rule-builder-body-divider {
  margin: 8px 0 16px 0;
}

.ant-row.rule-builder-body {
  /* height: calc(100vh - 250px);
  overflow: auto !important; */
  padding-right: 8px;
  padding-bottom: 7rem;
  justify-content: center;
}

.ant-row.preview-rule-builder-body {
  height: auto;
  padding-bottom: 0;
}

.rule-editor-title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
