.rules-pair-content-header {
  padding: 4px;
  box-shadow: var(--input-box-shadow);
  border-radius: var(--border-radius-sm);
  background-color: var(--component-dark-background);
}

.rule-pair-source-dropdown {
  background-color: var(--input-background);
}

.rules-pair-content-header .rules-pair-input,
.rules-pair-content-header .rules-pair-input:focus {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.source-filter-col.ant-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.source-filter-icon-container {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
