.task-completed-modal {
  .task-completed-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .task-completed-modal-title,
    .task-completed-modal-subtitle {
      margin-top: 8px;
      color: var(--requestly-color-text-default);
      font-weight: 500;
      text-align: center;
    }

    .task-completed-modal-title {
      font-size: var(--requestly-font-size-xl);
    }

    .task-completed-modal-description {
      margin-top: 8px;
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      text-align: center;
    }

    .task-completed-actions-container {
      margin-top: 24px;
      display: flex;
      gap: 8px;
    }

    .credits-earned-animation {
      width: 100px;
    }
  }
}
