.companies-section-container {
  margin: auto;
  margin-top: 56px;
  padding: 24px;
  max-width: 848px;
  border-top: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
}

.companies-section-title {
  color: var(--requestly-color-text-default);
  font-weight: 500;
  text-align: center;
}

.companies-section-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 24px;
  flex-wrap: wrap;

  img {
    width: 100px;
    height: 28px;
    filter: invert(1);

    &:nth-child(2) {
      position: relative;
      top: 5px;
    }
  }
}

@media (max-width: 320px) {
  .companies-section-logos {
    img {
      width: 80px;
      height: 20px;
    }
  }
}
