.session-card-list-item {
  padding: 8px;
}

.session-card-list-item-btns-wrapper {
  display: flex;
  justify-content: flex-end;
}

.session-card-list-item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--white);
}
