.empty-traffic-table-container {
  height: 100%;
  align-content: center;
}

.empty-traffic-table-container .rq-btn.danger-btn {
  background: rgba(var(--danger-rgb), 0.2);
  border-color: rgba(var(--danger-rgb), 0.6);
}
