.parent-container {
  height: 100%;
  display: flex;
}

.parent-container .secondary-sidebar-container {
  width: 217px;
  flex-shrink: 0;
  border-right: 1px solid var(--border-dark);
}

.parent-container .outlet-container {
  flex-grow: 1;
  height: 100%;
  overflow: auto !important;
}
