.extension-installed-status-modal.ant-modal {
  padding: unset;
  margin: unset;
  top: unset;
  width: 100% !important;
  height: 100%;
  max-width: unset;
  max-height: unset;
  border-radius: unset;
  border: unset;

  .ant-modal-content {
    height: 100%;
    border-radius: unset;
    border: unset;
    background: var(--requestly-color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/media/common/bg_grid_pattern.svg");

    .ant-modal-body {
      width: 100%;
    }

    .extension-installed-status-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;

      img {
        // TODO: remove this once we have a new logo
        width: 120px;
      }

      &-body {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &-header {
          color: var(--requestly-color-text-default);
          font-weight: var(--requestly-font-weight-medium);
          font-size: var(--requestly-font-size-md);
          display: flex;
          align-items: center;
          gap: 8px;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        &-description {
          color: var(--requestly-color-text-subtle);
          font-size: var(--requestly-font-size-sm);
          max-width: 520px;
          text-align: center;
        }

        &-button {
          margin-top: 32px;
          border-radius: 48px;
          height: 48px;

          svg {
            width: 16px;
            height: 16px;
            margin-left: 8px;
          }
        }
      }
    }

    .extension-installed-status-content-footer {
      position: fixed;
      bottom: 48px;
      left: 0;
      right: 0;
      text-align: center;
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-sm);
    }
  }
}
