.rule-editor-help-drawer {
  & .ant-drawer-content-wrapper {
    box-shadow: -16px 0px 48px 0px rgba(0, 0, 0, 0.32);
  }

  & .ant-drawer-header {
    border: none;
    background: var(--surface-0);

    & .ant-drawer-close {
      position: absolute;
      right: 0px;
      top: 15px;
    }
  }

  & .ant-drawer-body {
    padding: 0;
    background: var(--surface-0);
  }
}

.header-rule-help-btn {
  color: var(--text-light);
  position: relative;

  &.ant-btn {
    gap: 6px;

    & svg {
      font-size: 1rem;
    }
  }
}
