.variables-list-header {
  .variables-list-header-breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
  }

  .env-view-breadcrumb {
    display: flex;
    gap: 4px;
    font-size: var(--requestly-font-size-xs, 11px);

    svg {
      font-size: var(--requestly-font-size-sm, 12px);
      position: relative;
      top: 2px;
      color: var(--requestly-color-text-subtle);
    }

    .env-view-breadcrumb-1 {
      color: var(--requestly-color-text-subtle);
    }
    .env-view-breadcrumb-2 {
      color: var(--requestly-color-text-default);
      font-weight: 500;
    }
  }

  .variables-list-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .variables-list-btn-actions-container {
      display: flex;
      gap: 8px;
    }
  }

  .variables-list-search-input {
    width: 200px;
    padding: 0 12px;
    background: transparent;

    input.ant-input {
      padding: 6px 2px;
      font-size: var(--requestly-font-size-xs, 11px);
      background: transparent;
    }
  }
}
