div.api-client-placeholder-keyboard-shortcuts {
  display: flex;
  padding-top: 24px;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 280px;
  border-top: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));

  .keyboard-shortcut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--requestly-color-text-subtle, #bbb);
    font-size: var(--requestly-font-size-sm);

    .keys-container {
      display: flex;
      align-items: center;
      gap: 4px;

      .key {
        display: flex;
        height: 24px;
        min-width: 24px;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        font-size: var(--requestly-font-size-xs);
        gap: 8px;
        border-radius: 4px;
        background: var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
      }
    }
  }
}
