.group-expand-icon {
  font-size: 14px;
  cursor: pointer;
  color: var(--text-default);
  margin: 0 8px;
  margin-right: 14px;
}

.record-name-container {
  cursor: pointer;
}

.record-name-container .record-name {
  max-width: 320px;
}

.record-name-container .group-icon-wrapper {
  margin-top: 5px;
}

.record-name-container .group-icon-wrapper svg {
  width: 20px;
  height: 20px;
  color: var(--text-default);
}

.group-rules .record-item .rule-type-icons.icon-wrapper svg {
  width: 16px;
  height: 16px;
}

.empty-group-message {
  margin: 6px 0 6px 68px;
}
