.api-client-sheet-panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .api-client-sheet-panel {
    flex: 1;
    overflow-y: hidden;
  }

  .test-results-stats {
    letter-spacing: -0.4px;

    &.passed {
      color: var(--requestly-color-success-300);
      background-color: var(--requestly-color-success-800);
    }

    &.failed {
      color: var(--requestly-color-error-300);
      background-color: var(--requestly-color-error-800);
    }
  }
}
