.org-member-table {
  border-radius: 4px;
  border: 1px solid var(--requestly-color-surface-2);

  thead {
    display: none;
  }

  &-header {
    padding: 8px 1rem;
    border-bottom: 1px solid var(--requestly-color-surface-2);

    &-input {
      width: 280px;
      border-radius: 4px;
      border: 1px solid var(--requestly-color-white-t-20);
      background: transparent;

      .ant-input {
        background: transparent;

        &::placeholder {
          color: var(--requestly-color-text-placeholder);
        }
      }
    }
  }
  .org-members-table-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input.ant-input:not(.ant-input-sm):not(.ant-input-lg) {
    padding: 0;
  }

  input.ant-input:not(.ant-input-sm):not(.ant-input-lg) {
    padding: 0;
  }

  .ant-table-column-sorter {
    display: none;
  }

  .ant-table-thead th.ant-table-column-has-sorters {
    pointer-events: none;
  }

  .org-member-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .org-member-email {
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: var(--requestly-color-text-default);
  }

  .ant-spin-nested-loading > div > .ant-spin {
    background: var(--background);
  }

  .org-members-table-count {
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-subtle);
    padding-top: 8px;
  }

  .org-members-table-actions,
  .org-member-row-actions {
    display: flex;
    gap: 8px;
  }

  .org-member-row-actions {
    justify-content: flex-end;
  }
}
