.rq-bulk-action-bar-container {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  flex-wrap: nowrap;
  gap: 8px;
  position: fixed;
  left: calc(50% + 148px);
  transform: translateX(-50%);
  bottom: 56px;
  z-index: 10;
  border-radius: 4px;
  border: 1px solid var(--requestly-color-white-t-10);
  background: var(--requestly-color-surface-0);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.3);
  width: max-content;

  .rq-bulk-action-bar-info-text {
    flex-shrink: 0;
    min-width: 110px;
    margin-right: auto;
    color: var(--requestly-color-text-subtle);
    text-align: center;
    font-size: var(--requestly-font-size-sm, 13px);
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .rq-bulk-action-bar-action-btn-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .rq-bulk-action-bar-action-btn.ant-btn {
    font-size: var(--requestly-font-size-sm, 13px);
    line-height: 16px;
    letter-spacing: 0.25px;
    color: var(--requestly-color-text-default);
    background-color: var(--requestly-color-white-t-10);
    border: 1px solid var(--requestly-color-white-t-10);
    font-weight: 500;

    &:hover {
      background-color: var(--requestly-color-white-t-20);
      border: 1px solid var(--requestly-color-white-t-10);
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }

    &.rq-bulk-action-bar-cancel-btn {
      border: none;
      background: none;

      &:hover {
        background-color: var(--requestly-color-white-t-20);
      }
    }

    &.ant-btn-dangerous {
      color: var(--requestly-color-text-default);
      border-radius: 4px;
      border: 1px solid var(--requestly-color-white-t-10);
      background: var(--requestly-color-error);

      &:hover {
        background-color: var(--requestly-color-error-soft);
      }
    }
  }
}
