.import-modal {
  .curl-import-errror {
    background: var(--requestly-color-error-800);
    padding: 6px 8px;
    border-radius: 4px;

    code {
      color: var(--requestly-color-error-200);
      font-size: var(--requestly-font-size-sm);
    }
  }
}

.import-curl-modal {
  &-title {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-info-icon {
    color: var(--requestly-color-text-subtle);
    cursor: pointer;
    width: 16px;
    height: 16px;

    &:hover {
      color: var(--requestly-color-primary);
    }
  }
}
