.popup-tabs-wrapper {
  background: var(--surface-1);
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  padding: 12px 1rem;
  height: 270px;
}

.tabs-header {
  margin-bottom: 8px;
}

.popup-tabs .ant-tabs-tab {
  padding-top: 4px;
  color: var(--white);
}

.popup-tabs .ant-tabs-tab .anticon {
  margin-right: 8px;
}

.popup-tabs .ant-tabs-content-holder {
  height: 158px;
  overflow-y: auto;
}

.new-rule-dropdown-btn.ant-btn {
  gap: 8px;
}

.new-rule-dropdown-btn.ant-btn .new-rule-dropdown-btn-arrow {
  height: 6px;
  width: 1rem;
  margin-right: 0;
}

.new-rule-dropdown-btn-arrow-up {
  transform: scaleY(-1);
}

.popup-tab-badge {
  margin-left: 4px;
}

.popup-tab-badge .ant-badge-count.ant-scroll-number {
  height: 17px;
  padding: 2px 4px;
  font-size: 10px;
  line-height: 11px;
  color: var(--color-success);
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-success);
}

.rule-type-dropdown ul.ant-dropdown-menu {
  background-color: var(--surface-2);
}

.rule-type-dropdown ul.ant-dropdown-menu .ant-dropdown-menu-item-icon {
  color: var(--color-icon);
}

.rule-type-dropdown ul.ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 12px 14px;
  font-size: 14px;
}

.rule-type-dropdown .ant-dropdown-menu-item:last-child .ant-dropdown-menu-title-content .more-rules-link-option > div {
  font-size: 12px;
}
