.popup-tabs-wrapper {
  background: var(--surface-1);
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  padding: 12px 1rem;
  height: 330px;
}

.tabs-header {
  margin-bottom: 8px;
}

.popup-tabs .ant-tabs-tab {
  padding-top: 4px;
  color: var(--white);
}

.popup-tabs .ant-tabs-tab .anticon {
  margin-right: 8px;
}

.popup-tabs .ant-tabs-content-holder {
  height: 220px;
  overflow-y: auto;
}

.new-rule-dropdown-btn.ant-btn {
  gap: 8px;
}

.new-rule-dropdown-btn.ant-btn .new-rule-dropdown-btn-arrow {
  height: 6px;
  width: 1rem;
  margin-right: 0;
}

.new-rule-dropdown-btn-arrow-up {
  transform: scaleY(-1);
}

.popup-tab-badge {
  margin-left: 4px;
  border: none;
}

.popup-tab-badge .ant-badge-count.ant-scroll-number {
  width: 23px;
  height: 16px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--success);
  border-radius: 100px;
  border: none;
}

.rule-type-dropdown ul.ant-dropdown-menu {
  background-color: var(--surface-2);
}

.rule-type-dropdown ul.ant-dropdown-menu .ant-dropdown-menu-item-icon {
  color: var(--color-icon);
}

.rule-type-dropdown ul.ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 12px 14px;
  font-size: 14px;
}

.rule-type-dropdown .ant-dropdown-menu-item:last-child .ant-dropdown-menu-title-content .more-rules-link-option > div {
  font-size: 12px;
}

.popup-tabs-wrapper .ant-tabs .ant-tabs-content-holder div {
  height: 100%;
}

.empty-tab-view-title {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-align: center;
}

.empty-tab-view-description {
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 1rem;
}

.empty-tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
