.sessions-card-action-btns {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.sessions-card-config-action-btn {
  font-weight: 500;
  color: var(--white);
  letter-spacing: 0.4px;

  &:hover,
  &:focus {
    color: var(--white);
  }
}

.sessions-card-list {
  height: 144px;
  overflow-y: auto;
  margin-top: 8px;
}
