.history-card {
  .middle-section {
    .list {
      .list-item {
        align-items: center;
      }
    }
  }
}

.new-request-cta {
  height: 100%;
  width: 100%;
  line-height: 20px;
  font-size: var(--requestly-font-size-md, 14px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}
