.test-reports-table {
  border-radius: 4px;
  border: 1px solid var(--requestly-color-surface-2);

  & .ant-table-thead > tr > th {
    padding: 10px;
  }

  & thead th {
    font-weight: 500;
    background: transparent;
    color: var(--requestly-color-text-subtle);
  }
  & thead th::before {
    display: none;
  }

  & .ant-table-tbody > tr > td {
    padding: 10px;
  }

  td {
    font-size: var(--requestly-font-size-sm, 12px);
    color: var(--requestly-color-text-subtle);
  }

  .test-report-status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;

    & svg {
      font-size: var(--requestly-font-size-md, 14px);
      position: relative;
      top: -1px;
    }

    &-success {
      color: var(--requestly-color-success);
    }

    &-fail {
      color: var(--requestly-color-error);
    }

    & .test-report-status-success-text {
      color: var(--requestly-color-success);
    }

    & .test-report-status-fail-text {
      color: var(--requestly-color-error);
    }
  }

  & .test-report-action-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }

  & .watch-test-session-btn.ant-btn {
    color: var(--requestly-color-text-default);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .test-report-delete-btn.ant-btn {
    color: var(--requestly-color-text-default);

    & svg {
      font-size: var(--requestly-font-size-md, 14px);
    }
  }

  .test-report-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.saving-test-session-status {
  color: var(--requestly-color-text-subtle);

  & .saving-test-session-spinner {
    font-size: var(--requestly-font-size-md, 14px);
    color: var(--requestly-color-text-default);
  }
}

.test-report-delete-popconfirm {
  & .ant-popover-inner {
    background-color: var(--requestly-color-black);
  }

  & .ant-popover-arrow-content::before {
    background-color: var(--requestly-color-black);
  }
}
