.subscription-info .ant-descriptions-row .ant-descriptions-item-label {
  width: 140px;
  max-width: 140px;
}

.subscription-info .ant-descriptions-row .ant-descriptions-item-content:nth-child(2) {
  width: 170px;
  max-width: 170px;
}

.subscription-info .ant-descriptions-row .ant-descriptions-item-content span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4px;
}
