.sharing-modal-wrapper .download-rules-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--white);
  border-radius: var(--border-radius-sm);
  background-color: var(--component-dark-background);
}
