.sharing-modal-wrapper .download-rules-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  font-size: var(--requestly-font-size-sm, 13px);
  margin-bottom: 8px;
  color: var(--requestly-color-text-default);
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-0);
  border: 1px solid var(--border-dark);
}
