.collections-list-container {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
  overflow-x: hidden;
  padding: 8px 8px 8px 0;
  flex: auto;

  &.selection-enabled {
    padding-bottom: 50px;
  }

  .collection-panel.active {
    & > .ant-collapse-header {
      background: var(--requestly-color-surface-1);
    }
  }

  .collections-list-header {
    display: flex;
    align-items: center;
    padding: 8px;

    .create-collection-btn {
      margin-left: auto;
    }
  }

  .collections-list-content {
    .collections-list-item + .collections-list-item {
      margin-top: 4px;
    }

    .ant-collapse-expand-icon {
      display: flex;
      align-items: center;
      .ant-checkbox-wrapper {
        margin-left: -4px;
        margin-right: 6px;
      }
    }

    .ant-checkbox-wrapper {
      margin-right: 2px;
      .ant-checkbox-input {
        width: 12px;
        height: 12px;
      }

      .ant-checkbox-inner {
        width: 12px;
        height: 12px;

        &::after {
          width: 4px;
          height: 7px;
        }
      }
    }
    .request-row {
      display: flex;
      align-items: center;
      a {
        width: 100%;
      }
    }

    .collection-row {
      display: flex;
      align-items: start;
    }

    .empty-state-wrapper {
      margin-bottom: 4px;
    }

    .collections-list-item {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      padding: 2px 6px;
      border-radius: 4px;
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-sm, 13px);

      &.api {
        .request-method {
          flex-shrink: 0;
          font-size: 8px;
          font-weight: var(--requestly-font-weight-medium);
          line-height: 13px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          width: 32px;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
        }

        .request-url {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 12px;
          color: var(--requestly-color-text-default);
        }
        .request-options {
          margin-left: auto;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s;

          &:hover,
          &.active {
            background: var(--requestly-color-surface-1);
            visibility: visible;
            opacity: 1;
          }
        }

        &:hover .request-options {
          visibility: visible;
          opacity: 1;
        }
      }

      &.collection.ant-collapse {
        padding: 0;

        &:hover .ant-collapse-item .ant-collapse-header .collection-name-container .visible {
          visibility: visible;
        }
      }

      .ant-collapse-item {
        width: 100%;

        &.ant-collapse-item-active {
          .ant-collapse-header {
            color: var(--requestly-color-text-default);
          }
        }

        .ant-collapse-header {
          padding: 2px 4px;
          border-radius: 4px;
          user-select: none;
          display: flex;
          align-items: center;
          gap: 8px;
          color: var(--requestly-color-text-subtle);

          &-text {
            overflow: hidden;
          }

          &:hover {
            background: var(--requestly-color-surface-1);
          }

          .ant-collapse-expand-icon {
            cursor: pointer;

            svg {
              width: 18px;
              height: 18px;
              padding: 3px;
              color: inherit;
              position: relative;
              top: 2px;
              margin: 0;
            }

            .collection-expand-icon {
              &:hover {
                background: var(--requestly-color-white-t-20);
                border-radius: 4px;
              }
            }
          }

          .ant-collapse-header-text {
            flex: auto;
          }

          .collection-name-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .collection-name {
            max-width: 140px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-style: normal;
            font-size: 12px;
            font-weight: var(--requestly-font-weight-medium);
            font-weight: var(--requestly-font-weight-normal);
            line-height: var(--line-height-xs, 15px);
          }

          .collection-options {
            flex-shrink: 0;
            visibility: hidden;
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: var(--space-1, 2px);
            visibility: hidden;

            svg {
              color: var(--requestly-color-text-subtle);
            }

            &:hover,
            &.active {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        .ant-collapse-content-box {
          margin-left: 6px;
          padding: 2px 0px 0px 6px;
          border-left: 1px solid var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
        }
      }
    }
  }
}

.actions-menu {
  padding: 4px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  position: sticky;
  bottom: 16px;
  width: 264px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
  background: var(--requestly-color-neutral-800);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);

  .actions {
    display: flex;
    width: 188px;
    justify-content: space-between;

    .action-item {
      cursor: pointer;
      height: 20px;
      display: flex;
      align-items: center;
      line-height: 13px;
      font-size: 9px;
      font-weight: 500;
      border-radius: 2px;
      width: 62px;
      justify-content: center;
      transition: all 0.5s;

      &:hover {
        background: var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
      }

      span {
        margin-left: 4px;
      }

      svg {
        height: 14px;
        width: auto;
      }
    }
  }

  .cancel-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 5px;

    svg {
      cursor: pointer;
    }
  }
}
