.secondary-sidebar-layout-container {
  height: 100%;
  display: flex;

  .secondary-sidebar-content-container {
    background-color: var(--requestly-color-background);
    flex-grow: 1;
    height: 100%;
    overflow: auto !important;
  }
}
