.layout-header.ant-layout-header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 9px 12px;
  background-color: inherit;
}

.layout-header.ant-layout-header .ant-row {
  height: 3rem;
}

.layout-header .ant-divider.ant-divider-horizontal {
  margin: 8px 0;
}

.layout-header-signup-btn.ant-btn {
  font-size: var(--requestly-font-size-sm, 13px);
}

.header-left-section {
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.header-left-section a {
  height: 30px;
  flex-shrink: 0;
  font-size: var(--requestly-font-size-sm, 13px);
  line-height: 22px;
  padding: 4px 11px;
  color: var(--requestly-color-text-default);
  border-radius: var(--border-radius-sm);
}

.header-left-section a:hover {
  color: var(--requestly-color-text-default);
  background-color: var(--requestly-color-surface-2);
}

.header-left-section .desktop-app-promo-btn.ant-btn {
  padding: 4px 11px;
  background-color: transparent;
}

.header-left-section .desktop-app-promo-btn.ant-btn:hover {
  transition: none;
  background-color: var(--requestly-color-surface-2);
}

.header-middle-section {
  margin: 8px;
  font-size: var(--requestly-font-size-sm, 13px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.header-middle-section > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30rem;
}

.header-right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-dropdown,
.notification-dropdown {
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-0);
}

.profile-dropdown {
  width: 16.25rem;
}

.profile-avatar-container .ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.profile-username {
  margin-bottom: 4px;
}

.profile-divider.ant-divider {
  margin: 6px 0;
}

.profile-menu-items {
  color: var(--text-gray);
}

.profile-menu-items:hover {
  color: var(--requestly-color-text-default);
}

.header-upgrade-btn.ant-btn {
  font-weight: 500;
  margin-left: 8px;
}

.ant-btn.header-icon-btn {
  padding: 4px;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-gray);
  transition: color 0.3s, background-color 0.3s;
}

.ant-btn.header-icon-btn svg {
  width: 18px;
  height: 18px;
}

.ant-btn.header-icon-btn .anticon {
  margin: 0px;
  color: var(--text-gray);
}

.ant-btn.header-icon-btn:hover svg,
.ant-btn.header-icon-btn:focus svg {
  color: var(--requestly-color-text-default);
}

.ant-btn.header-icon-btn:hover,
.ant-btn.header-icon-btn:focus {
  background-color: var(--requestly-color-surface-2);
}

.header-help-menu-divider.ant-divider {
  margin: 8px 0;
}

.header-help-menu-container.ant-dropdown-menu {
  width: 16.25rem;
}

.header-help-menu-container.ant-dropdown-menu .ant-dropdown-menu-item {
  height: 30px;
  color: var(--text-gray);
}

.header-help-menu-container.ant-dropdown-menu .ant-dropdown-menu-item .ant-dropdown-menu-title-content a {
  display: flex;
  align-items: center;
}

.header-help-menu-container.ant-dropdown-menu .ant-dropdown-menu-item .ant-dropdown-menu-title-content .anticon {
  font-size: 1.1rem;
  margin-right: 9px;
}

.header-vertical-divider.ant-divider-vertical {
  height: 3rem;
  margin-right: 12px;
  margin-left: 16px;
}

.github-star-button span {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}

.header-profile-dropdown-trigger.ant-avatar {
  margin-top: -2px;
}

.header-right-section .header-search-btn.ant-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  border: none;
  background: var(--requestly-color-surface-1);
  color: var(--text-gray);
  font-weight: 500;
  opacity: 0.8;
  margin-right: 4px;
  padding: 8px 6px;
}

.search-shortcut-annotation {
  border-radius: 4px;
  border: 1px solid var(--requestly-color-white-t-10);
  background: var(--requestly-color-white-t-10);
  padding: 1px 4px;
  font-size: var(--requestly-font-size-xs);
}

.ask-ai-btn-content {
  display: flex;
  align-items: center;
  gap: 6px;
  z-index: 2;
  color: 1px solid var(--requestly-color-white);
}

.ask-ai-btn-content svg {
  width: 17px;
  height: 17px;
}

.ask-ai-btn.ant-btn.ant-btn-default {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  background: radial-gradient(rgba(255, 199, 0, 0) 30%, var(--requestly-color-white) 100%);
  background-size: 240% 260%;
  animation: gradient-rotate 3s linear infinite;
  color: var(--requestly-color-text-default);
}

.ask-ai-btn.ant-btn.ant-btn-default[ant-click-animating-without-extra-node="true"]::after {
  opacity: 1;
  animation: none;
}

.ask-ai-btn.ant-btn.ant-btn-default::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border-radius: 24px;
  background: var(--requestly-color-surface-1);
}

.header-right-section .header-search-btn.ant-btn:hover,
.header-right-section .header-search-btn.ant-btn:focus {
  border: none !important;
}

.header-user-avatar.ant-avatar {
  margin-right: 8px;
}

.signup-btn-popover.ant-tooltip-placement-bottom {
  padding-top: 0;
}

.header-profile-dropdown .ant-dropdown-menu-item-disabled {
  display: none;
}

@media screen and (max-width: 1300px) {
  .desktop .header-left-section > a {
    display: none;
  }
}

@media screen and (max-width: 1028px) {
  .header-middle-section {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .header-right-section .header-search-btn.ant-btn {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .extension .header-left-section > a {
    display: none;
  }
}

@keyframes gradient-rotate {
  0% {
    background-position: center top;
  }
  25% {
    background-position: right center;
  }
  50% {
    background-position: center bottom;
  }
  75% {
    background-position: left center;
  }
  100% {
    background-position: center top;
  }
}
