.layout-header.ant-layout-header {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 9px 12px;
  border-bottom: 1px solid var(--border-dark);
  background-color: var(--body-background);
}

.layout-header.ant-layout-header .ant-row {
  height: 3rem;
}

.layout-header .ant-divider.ant-divider-horizontal {
  margin: 8px 0;
}

.layout-header-signup-btn.ant-btn {
  font-size: 13px;
}

.header-left-section {
  height: 3rem;
  display: flex;
  align-items: center;
  column-gap: 2px;
}

.header-left-section a {
  height: 30px;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 22px;
  padding: 4px 11px;
  color: var(--white);
  border-radius: var(--border-radius-sm);
}

.header-left-section a:hover {
  color: var(--white);
  background-color: var(--hover-color);
}

.header-left-section .desktop-app-promo-btn.ant-btn {
  padding: 4px 11px;
  background-color: transparent;
}

.header-left-section .desktop-app-promo-btn.ant-btn:hover {
  transition: none;
  background-color: var(--hover-color);
}

.header-middle-section {
  margin: 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.header-middle-section > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30rem;
}

.header-right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-dropdown,
.notification-dropdown {
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-sm);
  background-color: var(--component-dark-background);
}

.profile-dropdown {
  width: 16.25rem;
}

.profile-avatar-container .ant-dropdown-menu-title-content {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.profile-username {
  margin-bottom: 4px;
}

.profile-divider.ant-divider {
  margin: 6px 0;
}

.profile-menu-items {
  color: var(--text-gray);
}

.profile-menu-items:hover {
  color: var(--white);
}

.ant-btn.header-icon-btn {
  padding: 4px;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-gray);
  transition: color 0.3s, background-color 0.3s;
}

.ant-btn.header-icon-btn svg {
  width: 18px;
  height: 18px;
}

.ant-btn.header-icon-btn .anticon {
  margin: 0px;
  color: var(--text-gray);
}

.ant-btn.header-icon-btn:hover svg,
.ant-btn.header-icon-btn:focus svg {
  color: var(--white);
}

.ant-btn.header-icon-btn:hover,
.ant-btn.header-icon-btn:focus {
  background-color: var(--hover-color);
}

.header-help-menu-divider.ant-divider {
  margin: 8px 0;
}

.header-help-menu-container.ant-dropdown-menu {
  width: 16.25rem;
}

.header-help-menu-container.ant-dropdown-menu .ant-dropdown-menu-item {
  height: 30px;
  color: var(--text-gray);
}

.header-help-menu-container.ant-dropdown-menu .ant-dropdown-menu-item .ant-dropdown-menu-title-content a {
  display: flex;
  align-items: center;
}

.header-help-menu-container.ant-dropdown-menu .ant-dropdown-menu-item .ant-dropdown-menu-title-content .anticon {
  font-size: 1.1rem;
  margin-right: 9px;
}

.header-vertical-divider.ant-divider-vertical {
  height: 3rem;
  margin-right: 12px;
  margin-left: 16px;
}

.github-star-button span {
  display: flex;
  align-items: center;
}

.header-profile-dropdown-trigger.ant-avatar {
  margin-top: -2px;
}

@media screen and (max-width: 1300px) {
  .desktop .header-left-section > a {
    display: none;
  }
}

@media screen and (max-width: 1028px) {
  .header-middle-section {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .extension .header-left-section > a {
    display: none;
  }
}
