.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  background: var(--component-background);
  padding: 8px;
  border: 2px solid var(--border);
  border-radius: var(--border-radius-md);
  max-width: 640px;
}

.products-grid .ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-tile .ant-card-body {
  cursor: pointer;
  max-width: 300px;
  height: 100%;
  padding: 16px;
  background: var(--component-background);
}

.product-content {
  display: flex;
  align-items: center;
}

.product-icon {
  margin-right: 16px;
  align-self: flex-start;
  font-size: 24px;
}

.product-icon svg {
  fill: var(--primary);
}

.product-title {
  margin: 0;
  font-size: 16px;
}

.product-description {
  margin: 0;
  font-size: 14px;
}

.down-icon {
  margin-top: 7px;
  margin-left: 5px;
}

.ant-card-hoverable:hover {
  transition: 0.15s all ease-in-out;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .ant-card-body:hover {
    background: var(--border-dark);
  }
}

/* overiding the RQ Badge*/
.beta-badge {
  font-size: 9px;
  font-family: var(--requestly-font-family-default);
  font-weight: 600;
  text-align: center;
  font-style: normal;
  line-height: var(--requestly-font-line-height-2xs, 13px);
  letter-spacing: 0.5px;
  border: 1px solid #ffffff1f;
  background: var(--requestly-color-neutral-700);
}

.beta-badge span {
  color: var(--requestly-color-neutral-300);
  background: none;
  -webkit-text-fill-color: var(--requestly-color-neutral-300);
}
