.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 24px;
  width: 100%;

  .testimonial-card {
    background: var(--requestly-color-surface-0);
    border-radius: 8px;
    border: 1px solid var(--requestly-color-white-t-20);
    flex: 1;
    min-width: 300px;
  }
}

.testimonials-section-title {
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-xl);
  font-weight: 500;
  margin-top: 56px;
  text-align: center;
}
