.test-rule-input {
  height: 32px;
  transition: none;

  &::placeholder {
    color: var(--neutrals-gray-400);
  }
}

.test-rule-btn.ant-btn {
  gap: 4px;
}

.test-rule-checkbox.ant-checkbox-wrapper {
  margin-top: 8px;
  color: var(--requestly-color-text-default);
  font-size: var(--requestly-font-size-sm, 13px);
  letter-spacing: 0.25px;
  line-height: 18px;
}

.test-rule-error-message {
  color: var(--requestly-color-warning);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--requestly-font-size-sm, 12px);
  margin-bottom: 8px;
}
