.custom-script-row {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--border);
}

.code-editor-row {
  background: var(--component-header-background);
  padding: 10px;
  margin-top: 20px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--requestly-color-surface-2);
}

.code-editor-header-row {
  padding-right: 6px;
  padding-bottom: 4px;
}

.code-editor-character-count-row {
  padding: 0 10px;
  background: var(--component-header-background);
  border-bottom-left-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
}
