.saved-session-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;

  .saved-session-actions {
    display: flex;
    align-items: center;
    gap: 8px;

    .delete-session-btn.ant-btn {
      color: var(--requestly-color-text-default);
    }

    .share-session-btn.ant-btn {
      color: var(--requestly-color-text-default);
      gap: 6px;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.saved-session-viewer-body {
  padding: 0 1rem;
  height: 100%;
  background: var(--requestly-color-background);
}

.saved-session-viewer-container {
  .bottomsheet-layout-container {
    .bottom-sheet-panel-container {
      border-top-left-radius: 8px;
    }
  }
}
