.saved-session-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  .saved-session-actions {
    display: flex;
    align-items: center;
    gap: 8px;

    .delete-session-btn.ant-btn {
      color: var(--requestly-color-text-default);
    }

    .share-session-btn.ant-btn {
      color: var(--requestly-color-text-default);
      gap: 6px;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.saved-session-viewer-body {
  padding: 0 1rem;
  padding-bottom: 1rem;
  height: 100%;
  background: var(--requestly-color-background);
  height: calc(100vh - 154px);
  overflow-y: auto;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  .bottom-sheet-without-context {
    margin-top: 20px;
    border-radius: 8px;
  }
}

.saved-session-viewer-container {
  height: 100%;
  background: var(--requestly-color-background);
  overflow: hidden;
}

@media (max-width: 1060px) {
  .saved-session-header {
    flex-wrap: wrap;
    padding-bottom: 8px;

    .inline-input-container {
      .inactive-inline-input {
        width: 250px;
      }
    }
  }
}

@media (max-width: 550px) {
  .saved-session-header {
    .saved-session-actions {
      display: none;
    }
  }
  .session-header-breadcrumb {
    &__parent-route,
    &__arrow {
      display: none;
    }
  }
}
