.api-client-script-editor-container {
  height: inherit;

  .react-resizable {
    height: calc(100% - 35px) !important;
    min-height: unset !important;
  }

  .code-editor-custom-options-row {
    margin-top: 0;
    margin-left: 4px;
  }

  overflow: hidden;

  .api-client-script-type-selector {
    &__btn.ant-radio-button-wrapper {
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      border: none;
      border-radius: 4px !important;

      &::before {
        display: none;
      }
      &:hover {
        color: var(--requestly-color-text-default);
      }
      &:focus,
      &:active {
        border: none;
      }

      &.ant-radio-button-wrapper-checked {
        border: none;
        background: var(--requestly-color-white-t-10);
        color: var(--requestly-color-text-default);
        font-weight: var(--requestly-font-weight-medium) !important;
      }
    }
    span {
      bottom: 0 !important;
    }
  }

  .api-client-script-type-selector__info-icon {
    vertical-align: middle;
    cursor: pointer;
    margin: 0 4px;
  }
}

.request-tab-dot-success {
  display: inline-block;
  margin-left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--requestly-color-success);
}
