.api-client-response-body {
  height: 100%;
  position: relative;

  .api-response-body-editor-container {
    height: 100%;

    .html-response-preview {
      height: calc(100% - 36px);
      width: 100%;
      background-color: #fff;
      pointer-events: none;
    }

    .image-response-preview {
      max-width: 100%;
      max-height: calc(100% - 36px);
      object-fit: contain;
    }

    .react-resizable {
      height: calc(100% - 46px) !important;
      min-height: 20px !important;

      .code-editor {
        .cm-editor {
          background: transparent;
        }
      }
    }
  }

  .api-response-body-raw-content {
    height: 100%;
    overflow-y: hidden;
    font-size: var(--requestly-font-size-sm);

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4px;

      .api-response-body-mode-selector {
        margin: 0;
      }

      .ant-btn .copy-raw-response-icon {
        width: 16px;
        height: 16px;
      }
    }

    &__body {
      padding: 8px;
      height: calc(100% - 36px);
      overflow-y: auto;
    }
  }

  .api-response-body-content {
    height: 100%;

    pre {
      overflow: hidden;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }

  .api-response-body-mode-selector {
    margin-left: 4px;
    margin-bottom: 8px;

    &__btn.ant-radio-button-wrapper {
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs);
      border: none;
      border-radius: 4px !important;

      &::before {
        display: none;
      }

      &:hover {
        color: var(--requestly-color-text-default);
      }

      &:focus,
      &:active {
        border: none;
      }

      &.ant-radio-button-wrapper-checked {
        border: none;
        background: var(--requestly-color-white-t-10);
        color: var(--requestly-color-text-default);
        font-weight: var(--requestly-font-weight-medium) !important;
      }
    }

    span {
      bottom: 0 !important;
    }
  }
}
