.history-drawer {
  position: relative;
  .ant-drawer-mask {
    background: var(--requestly-color-black-t-70, rgba(0, 0, 0, 0.7));
  }

  .ant-drawer-wrapper-body {
    box-shadow: 0px 16px 24px -4px rgba(0, 0, 0, 0.322);
    background: var(--requestly-color-surface-0, #212121);
    border-left: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.059));

    .ant-drawer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      padding: 8px 8px 8px 16px;

      .ant-drawer-header-title {
        flex-direction: row-reverse;

        .ant-drawer-close {
          margin-left: auto;
          margin-right: 4px;
        }

        .ant-drawer-title {
          font-size: var(--requestly-font-size-md, 14px);
          font-weight: 500;
          line-height: 142%; /* 20px */
          color: var(--requestly-color-text-default, #fff);
        }
      }
    }

    .ant-drawer-body {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .history-drawer-result-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;

    .back-btn {
      position: absolute;
      top: 2px;
      left: 2px;
    }

    .run-result-view-details .result-tabs-container .test-result-collapse-container .ant-collapse-header {
      background: var(--requestly-color-surface-1);
    }

    .run-result-view-details {
      .result-header {
        margin-left: 34px;
        padding: var(--space-4, 10px) var(--space-6, 16px) var(--space-4, 8px) var(--space-2, 4px);
      }

      .ant-tabs-content {
        height: 100%;
      }

      .ant-tabs-tabpane {
        height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 0;
      }

      .ant-tabs-nav {
        margin-bottom: 0;
      }
    }
  }
}
