.run-config-header {
  display: flex;
  align-items: center;
  padding: var(--space-3, 6px) var(--space-6, 16px);
  padding-top: 0;
  justify-content: space-between;
  border-bottom: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));

  .title {
    display: flex;
    align-items: center;
    gap: var(--space-3, 6px);

    text-align: center;
    color: var(--requestly-color-text-default, #fff);
    font-size: var(--requestly-font-size-sm, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */

    svg {
      --size: 12px;

      width: var(--size);
      height: var(--size);
      color: var(--requestly-color-text-subtle, #bbb);
    }
  }

  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--space-4, 8px);
  }
}
