#draft-session-window {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483647;
}

#draft-session-view {
  position: relative;
  width: 90vw;
  height: 94vh;
  max-width: 1480px;
  max-height: 730px;
}

#draft-view-close-btn {
  position: absolute;
  top: -12px;
  right: -18px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
  cursor: pointer;
}

#draft-view-close-btn svg {
  width: 12px;
  height: 12px;
}

#draft-session-iframe {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0px 16px 24px -4px rgba(0, 0, 0, 0.32);
}

.hidden {
  display: none !important;
}
