.pricing-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--requestly-color-black);
  width: 100%;
  overflow: hidden;

  a {
    color: var(--requestly-color-primary-text, #639ff9);

    &:hover {
      text-decoration: underline;
    }
  }
}

.pricing-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pricing-navbar {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;

    padding: 8px 1rem;
    background: var(--requestly-color-black);
    border-bottom: 1px solid var(--requestly-color-surface-1);

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .logo {
      width: 100px;
      cursor: pointer;
    }

    .auth-button-group {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .pricing-page-body-wrapper {
    width: 100%;
    height: calc(100vh - 26px); // height of navbar
    overflow-y: auto;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pricing-page-body {
    max-width: 1280px;
    width: 100%;
    padding: 0 12px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.page-yellow-text {
  margin-top: 24px;
  text-align: center;
  color: var(--requestly-color-warning-soft);
  font-size: var(--requestly-font-size-sm);
}

.pricing-page-title {
  color: var(--requestly-color-text-default);
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  font-family: var(--requestly-font-family-default);
}

.pricing-page-description {
  color: var(--requestly-color-text-subtle);
  font-size: var(--requestly-font-size-sm);
  margin-top: 12px;
  text-align: center;
}

.pricing-page-duartion-label {
  color: var(--requestly-color-text-default);
  margin-left: 8px;

  .success {
    color: var(--requestly-color-success-300);
  }
}

.pricing-page-table-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .pricing-table {
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 4px;
    margin-top: 16px;

    .plan-card {
      flex: 1;
      min-width: 300px;
      button {
        font-weight: 500;
      }

      .annual-bill {
        span {
          font-size: var(--requestly-font-size-xs, 11px);
          line-height: 17px;
        }
      }
    }
  }
  &.api-client {
    justify-content: center;
  }
}

.pricing-page-other-actions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 16px;
  margin-top: 56px;
}

.pricing-page-error-message-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #a41f1f;
  width: 100%;
  height: 56px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--requestly-color-text-default);

  svg {
    width: 16px;
    height: 16px;
  }

  span {
    font-size: var(--requestly-font-size-sm);
  }

  &-close-icon {
    cursor: pointer;
    position: absolute;
    align-self: center;
    top: 20px;
    right: 16px;
  }
}
