.sidebar.ant-layout-sider {
  /* position: sticky; */
  top: 0;
  left: 0;
  height: 100vh;
}

/* .sidebar {
  overflow-y: auto;
} */

.siderbar-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  height: 56px;
}

.sidebar-horizontal-divider.ant-divider {
  margin: 12px 0 4px 0;
}

.sidebar .ant-layout-sider-children .ant-menu-item-group-title,
.mobile-sidebar-container.ant-drawer .ant-menu-item-group-title {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-dark-gray);
  padding: 18px 14px 12px 20px;
}

.sidebar.ant-layout-sider .ant-layout-sider-children .ant-menu-item,
.mobile-sidebar-container.ant-drawer .ant-menu .ant-menu-item {
  width: 96%;
  height: 1.875rem;
  margin: 0 0 0 4px;
  font-size: 13px;
  margin-bottom: 2px;
  border-radius: var(--border-radius-sm);
}

.sidebar.ant-layout-sider .ant-layout-sider-children .ant-menu-item:hover,
.sidebar
  .ant-layout-sider-children
  .ant-menu.ant-menu-dark
  .ant-menu-item-selected,
.mobile-sidebar-container.ant-drawer .ant-menu .ant-menu-item:hover,
.mobile-sidebar-container.ant-drawer
  .ant-menu
  .ant-menu-item.ant-menu-item-selected {
  background-color: var(--component-background);
}

.sidebar.ant-layout-sider .ant-layout-sider-children .ant-menu-item,
.mobile-sidebar-container.ant-drawer .ant-menu .ant-menu-item {
  font-size: 13px;
  color: var(--white);
}

.sidebar .ant-layout-sider-children .ant-menu-item:after,
.mobile-sidebar-container .ant-menu-item:after {
  top: 4px;
  bottom: 4px;
}

.sidebar .ant-layout-sider-children .ant-menu-item .ant-menu-title-content,
.mobile-sidebar-container.ant-drawer .ant-menu .ant-menu-title-content {
  height: 28px;
  line-height: 28px;
  margin-left: 8px;
}

.sidebar-header {
  height: 56px;
}

.sidebar-collapse-btn-container {
  position: absolute;
  right: -10px;
  z-index: 200;
  background-color: var(--component-background);
  border-radius: 4px;
  height: 20px;
  width: 20px;
  display: flex;
}

.siderbar-header.sidebar-header-collapsed {
  /* margin-top: 2rem; */
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.siderbar-collapse-btn.ant-btn.ant-btn-icon-only {
  /* padding: 8px; */
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.siderbar-collapse-btn.ant-btn.ant-btn-icon-only svg {
  color: var(--text-gray);
  height: 15px;
  width: 15px;
}

.sidebar-collapsed-container .siderbar-collapse-btn.ant-btn.ant-btn-icon-only {
  margin-bottom: 4px;
}

.sidebar-collapsed-container.ant-layout-sider
  .ant-layout-sider-children
  .ant-menu-item {
  width: 87%;
}

.sidebar-collapsed-container
  .ant-menu.ant-menu-inline-collapsed
  > .ant-menu-item {
  padding: 0 calc((60px - 22px) / 2);
}

.sidebar-collapsed-container .ant-menu-item .icon-wrapper .anticon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.siderbar-logo {
  max-inline-size: 100%;
  block-size: auto;
}

.menu-user-info {
  display: flex;
  flex-direction: column;
}

.menu-footer-avatar {
  margin-right: 8px;
}

.menu-footer {
  display: flex;
  align-items: center;
  margin-top: -1.5rem;
}

.sidebar .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.siderbar-header + .ant-menu {
  overflow-x: auto;
}

.max-chars-130 {
  text-overflow: ellipsis;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
}

.mobile-sidebar-btn.ant-btn {
  display: none;
}

.sidebar-announcement.ant-row {
  padding: 8px 16px;
}

.sidebar-announcement.ant-row .announcement-os-btn.ant-btn {
  padding: 0;
  font-size: 12px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.sidebar-announcement.ant-row .announcement-os-btn .announcement-os-icon {
  margin: 0 4px;
  padding-top: 1.2px;
}

.announcement-os-icon {
  width: 10.67px;
  height: 10px;
}

/* footer */
.sidebar-footer.ant-row {
  font-size: 13px;
  height: 4.5rem;
  margin-top: auto;
  padding: 14px 6px;
  color: var(--text-gray);
  background-color: #191a1e;
  border-top: 1px solid var(--border-dark);
}

.sidebar-footer .sidebar-footer-invite-btn.ant-btn {
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.siderbar-footer-invite-btn-collapsed.ant-btn {
  padding: 0 calc((48px - 23px) / 2);
}

.sidebar-footer-invite-btn.ant-btn:hover,
.sidebar-footer-invite-btn.ant-btn:focus {
  opacity: 0.7;
}

.sidebar-footer-plus-icon.anticon {
  padding: 5px;
  width: 23px;
  height: 23px;
  display: flex;
  margin-left: -5px;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-sm);
  background-color: var(--component-background);
}

@media screen and (max-width: 75em) {
  .sidebar {
    display: none;
  }

  .mobile-sidebar-btn.hamburger-menu.ant-btn {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
