.api-client-error-placeholder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--requestly-space-8, 24px);
  padding: 56px 32px;
  height: 100%;

  .api-client-error-placeholder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--requestly-space-6, 16px);

    .error-container {
      display: flex;
      padding: var(--requestly-space-5, 12px) var(--requestly-space-6, 16px);
      justify-content: center;
      align-items: center;
      gap: var(--requestly-space-4, 8px);
      align-self: stretch;
      border-radius: 8px;
      background: var(--requestly-color-background);
      border: 1px solid var(--requestly-color-white-t-10);
      font-size: var(--requestly-font-size-xs, 11px);
      line-height: 18px;
      letter-spacing: 0.25px;
      max-width: 400px;
      text-align: center;
      margin-top: calc(var(--requestly-space-4, 8px) * -1);
      margin-bottom: var(--requestly-space-4, 8px);

      .error-name {
        color: var(--requestly-color-error-text);
      }

      .error-message {
        color: var(--requestly-color-subtle);
        display: inline;
        gap: var(--requestly-space-2, 4px);
        margin-bottom: var(--requestly-space-1, 2px);

        svg {
          width: var(--requestly-space-6, 16px);
          height: var(--requestly-space-6, 16px);
        }
      }
    }

    .file-error-container {
      display: flex;
      padding: var(--requestly-space-5, 12px) var(--requestly-space-6, 16px);
      justify-content: center;
      align-items: center;
      gap: var(--requestly-space-4, 8px);
      align-self: stretch;
      border-radius: 8px;
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-xs, 12px);
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.25px;
      max-width: 400px;
      text-align: center;
    }
  }

  img {
    width: var(--requestly-space-15, 80px);
    height: var(--requestly-space-15, 80px);
  }

  &__title {
    text-align: center;
    text-overflow: ellipsis;
    font-weight: var(--requestly-font-weight-medium);
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-default);
  }

  .documentation-link {
    display: flex;
    padding-top: var(--requestly-space-1, 2px);
    align-items: center;
    gap: var(--requestly-space-2, 4px);
    color: var(--requestly-color-primary-text, #639ff9);
    font-size: var(--requestly-font-size-xs);
  }
}
