:host {
  position: fixed !important;
  z-index: 2147483647 !important;
}

#container {
  border-radius: 35px;
  background: #004eeb;
  font-size: 13px;
  font-weight: 500;
  font-family: system-ui;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  white-space: nowrap;
  cursor: move;
  display: none;
}

#container.visible {
  display: flex;
}
