.collection-view-container {
  width: 100%;
  height: 100%;

  .collection-view-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;
  }

  .collection-view-breadcrumb-container {
    padding: var(--space-5, 12px) var(--space-6, 16px);

    .rq-breadcrumb {
      margin: 0;
      height: 36px;
    }
  }

  .collection-view-content {
    width: 100%;
    height: calc(100% - 24px); // footer height
    overflow-y: hidden;
    border-top: 1px solid var(--requestly-color-white-t-10);

    .ant-tabs {
      height: inherit;
    }

    .ant-tabs-nav {
      margin-bottom: 0px;

      .ant-tabs-nav-list {
        margin-left: 1rem;

        .ant-tabs-tab + .ant-tabs-tab {
          margin-left: 24px;
        }

        .ant-tabs-tab {
          padding: 6px 0;
          font-size: var(--requestly-font-size-xs);

          &:hover {
            color: var(--requestly-color-default);
          }

          &.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: var(--requestly-color-default) !important;

            &:hover {
              color: var(--requestly-color-default) !important;
            }
          }
        }
      }
    }

    .rq-content-list-table-container {
      padding-top: 0;
    }

    .ant-tabs-tabpane {
      .api-client-read-only-mode-alert {
        margin: 7px 16px 8px 16px;
      }

      .authorization-view {
        margin: 0 16px;
        margin-top: 8px;
      }
    }
  }
}

.collection-view-container__loading {
  padding: 1rem;
}
