.inline-input-container {
  .inline-input-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 33px;

    .active-inline-input.ant-input {
      color: var(--requestly-color-text-default);
      font-size: var(--requestly-font-size-default);
      font-weight: 500;
      padding: 2px 4px;
    }

    .inactive-inline-input {
      display: flex;
      gap: 4px;
      width: 400px;
      font-size: var(--requestly-font-size-default);
      font-weight: 500;

      span {
        color: var(--requestly-color-text-default);
      }

      svg {
        cursor: pointer;
        width: 14px;
        height: 14px;
        min-width: 14px;
        color: var(--requestly-color-text-subtle);
        transition: color 0.2s;
        position: relative;
        top: -1px;

        &.align-self-start {
          top: 3px;
        }

        &:hover {
          color: var(--requestly-color-text-default);
        }
      }
    }

    input.ant-input:not(.ant-input-sm):not(.ant-input-lg) {
      width: 480px;
      max-width: 360px;
      padding-left: 0;
    }
  }
}
