.nudge-prompt {
  display: flex;
  gap: var(--space-8, 24px);

  &-icon {
    align-self: start;
  }

  &-content {
    width: 368px;
  }

  &-buttons {
    display: flex;
    gap: var(--space-4, 8px);
    margin-top: var(--space-8, 24px);
  }
}
