.nudge-prompt {
  display: flex;
  gap: var(--space-8, 24px);

  &-icon {
    align-self: start;
  }

  &-content {
    width: 460px;
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: var(--space-8, 14px);
    margin-top: var(--space-8, 24px);
  }
}
