.top-banner-notice {
  z-index: 100;
  position: fixed;
  top: 0;
  height: 48px;
  width: 100vw;
  background: #3700b3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: var(--requestly-font-size-lg, 16px);
}
