.api-client-sidebar {
  .new-record-input-container {
    margin: 8px 0;

    .new-record-input,
    .new-record-input-placeholder {
      display: flex;
      align-items: center;
      gap: var(--space-3, 6px);
      height: 24px;
      padding: 6px 12px;

      color: var(--requestly-color-text-default, #fff);
      font-size: var(--requestly-font-size-xs, 11px);
      font-weight: var(--requestly-font-weight-normal);
      line-height: var(--requestly-font-line-height-xs, 15px); /* 136.364% */
    }

    .new-record-input-placeholder {
      border-radius: 4px;
      color: var(--requestly-color-text-subtle);
      background: var(--requestly-color-surface-1);

      .record-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .anticon {
        margin-left: auto;
      }
    }
  }
}
