.org-members-table-container {
  padding: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org-members-table-wrapper {
  margin-top: 8px;
  width: 100%;
  max-width: 1000px;

  .billing-table tbody tr .ant-table-cell {
    background: var(--background);
  }
}
