.incentive-tasks-list-container {
  .incentive-tasks-list {
    padding-right: 4px;

    .incentive-tasks-list-collapse.ant-collapse {
      border: none;
      background: none;

      .ant-collapse-item {
        border-bottom: none;
        padding: 0 1rem 0 1rem;
        background: var(--requestly-color-surface-1);
        border-radius: 8px;
        border: 1px solid var(--requestly-color-white-t-10);

        .ant-collapse-header {
          padding: 1rem 0 1rem 0;
        }

        .ant-collapse-arrow {
          right: 0;
        }
      }

      .ant-collapse-item:first-child {
        margin-top: 24px;
      }

      .ant-collapse-item:not(:first-child) {
        margin-top: 8px;
      }

      .ant-collapse-content {
        border-top: none;
        border-radius: 4px;

        &.ant-collapse-content-active {
          margin-bottom: 10px;
        }
      }
    }

    .collapse-arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid var(--requestly-color-white-t-10);
      background: var(--requestly-color-white-t-10);
      padding: 5px;
      height: 24px;
      transition: all 0.2s ease-in-out;
    }

    .collapse-arrow-down.rotate {
      transform: rotate(180deg);
    }

    .incentive-task-content {
      padding: 1rem;
      border-radius: 4px;

      .incentive-task-description {
        font-size: var(--requestly-font-size-sm);
        color: var(--requestly-color-text-subtle);
      }

      .incentive-task-actions {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        .rule-selection-dropdown-btn {
          width: auto;
        }

        .incentive-task-help-link {
          font-size: var(--requestly-font-size-xs);
        }
      }
    }

    .loader {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 350px;
      overflow: hidden;

      .anticon svg {
        width: 24px;
        height: 24px;
        color: var(--requestly-color-text-subtle);
      }
    }
  }
}
