.other-ways-to-make-purchase-container {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin: 56px 0;

  border-radius: 8px;
  // background: var(--requestly-color-background, #1a1a1a);
  background: var(--requestly-color-surface-0);

  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    color: var(--requestly-color-text-placeholder, #8f8f8f);
  }

  .details {
    .first-row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 64px;
    }
  }
}
