.rq-rules-list-container {
  .rq-rules-table-breadcrumb {
    margin-bottom: 8px;
    padding: 8px 16px 0px 16px;
    font-size: 11px;
    font-weight: 400;

    .breadcrumb-1 {
      color: var(--text-default);
    }
    .breadcrumb-2 {
      color: var(--text-subtle);
    }
  }
}

.rq-rules-table {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
