.rq-rules-list-container {
  .rq-rules-table-breadcrumb {
    margin-bottom: 8px;
    padding: 8px 16px 0px 16px;
    font-size: 11px;
    font-weight: 400;

    .breadcrumb-1 {
      color: var(--text-default);
    }
    .breadcrumb-2 {
      color: var(--text-subtle);
    }
  }
}

.rq-rules-table {
  display: flex;
  justify-content: center;
  padding: 0 1rem;

  .group-disabled-warning {
    color: var(--requestly-color-warning-300);
    margin-left: 8px;
    vertical-align: middle;
    cursor: pointer;
  }
}

.group-disabled-popover {
  max-width: 360px;

  .group-disabled-popover-title {
    font-weight: var(--requestly-font-weight-medium);
  }

  .group-disabled-popover-content {
    margin-left: -24px;
    padding: 4px 0;
  }
}
