.response-rule-inputs-row.ant-row {
  margin: 1.25rem 0 4px 0;
}

.response-rule-inputs-row .ant-input,
.response-rule-inputs-row.ant-row .ant-select .ant-select-selector,
.response-rule-inputs-row .ant-input:focus,
.response-rule-inputs-row.ant-row .ant-select-selector:focus {
  border: none;
  box-shadow: var(--input-box-shadow);
}

.response-rule-inputs-row
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: var(--input-box-shadow);
}

.response-rule-inputs-row.ant-row .ant-select .ant-select-selector {
  width: 100%;
  height: 100%;
}

.response-rule-inputs-row.ant-row .ant-select-selector .ant-select-selection-item {
  line-height: 38px;
}
