.team-billing-info-card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .team-billing-info-section {
    padding: 1rem;
    .team-billing-info-btn-text {
      display: inline-flex;
      gap: 0.25rem;
      align-items: center;
      padding-bottom: 2px;
    }
  }

  .team-billing-info-section:first-child {
    border-right: 1px solid var(--surface-2);
  }
}
