.postman-export-modal {
  .ant-modal-header {
    border-bottom: none;
  }

  .ant-modal-body {
    padding: 1rem;
    padding-top: 0;
  }

  .postman-export-modal-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--requestly-font-size-lg);

    svg {
      font-size: var(--requestly-font-size-lg);
    }
  }

  .postman-export-modal-content {
    .export-details-card {
      border-radius: 4px;
      padding: 6px 12px;
      background: var(--requestly-color-surface-1);
      border: 1px solid var(--requestly-color-surface-2);
      color: var(--requestly-color-text-default);
      font-size: var(--requestly-font-size-sm);

      .export-name {
        font-weight: var(--requestly-font-weight-medium);
      }

      .export-details {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 2px;
      }

      .export-details-item {
        display: flex;
        gap: 4px;
        font-size: var(--requestly-font-size-xs);
        color: var(--requestly-color-text-subtle);
      }
    }
  }

  .ant-alert {
    margin-bottom: 8px;
    padding: 10px;

    &-message,
    &-description {
      color: var(--requestly-color-warning);
      font-size: var(--requestly-font-size-sm);
    }
  }
}
