.secrets-page-container {
  display: flex;
  padding-top: var(--space-8, 24px);
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  .secrets-content-container {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: center;
    gap: var(--space-15, 80px);

    .header-container {
      display: flex;
      width: 800px;
      justify-content: space-between;
      align-items: center;

      .header-left-section {
        display: flex;
        align-items: center;
        gap: 6px;

        .secrets-text {
          color: var(--requestly-color-text-default, #fff);
          font-family: var(--font-family-default, Inter);
          font-size: var(--font-size-lg, 16px);
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 137.5% */
        }
      }

      .header-right-section {
        display: flex;
        gap: var(--space-2, 4px);
        align-items: last baseline;
      }
    }
  }
}
