#dashboardMainContent {
  height: 100%;
}

.app-layout {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-background);

  display: grid;
  grid-template-rows: 3rem 1fr 1.5rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.app-layout-columns {
  grid-template-columns: 297px 1fr;
}

.app-layout-sidebar-collapsed {
  grid-template-columns: 80px 1fr;
}

.app-header {
  grid-area: header;
  border-bottom: 1px solid var(--border-dark);
}

.app-sidebar {
  grid-area: sidebar;
}

.app-main-content {
  --main-content-height: calc(100vh - 4.5rem);

  overflow: auto;
  grid-area: main;
  min-height: var(--main-content-height);
  max-height: var(--main-content-height);
}

.app-footer {
  grid-area: footer;
  border-top: 1px solid var(--border-dark);
}

#requestly-dashboard-layout > .ant-layout {
  height: 100%;
  flex-direction: row;
}

#requestly-dashboard-layout .hp-content-main {
  overflow: auto;
}

.app-layout-footer.ant-layout-footer {
  font-size: 12px;
  padding: 0.5rem 1.4rem;
  border-top: 1px solid var(--border-dark);
  background-color: var(--body-background);
}

.app-layout-footer.ant-layout-footer a:hover,
.app-layout-footer.ant-layout-footer .ant-typography:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  #requestly-dashboard-layout .hp-app-layout {
    height: 100%;
  }

  #requestly-dashboard-layout .hidden-on-small-screen {
    display: none;
  }
}
