#dashboardMainContent {
  height: 100%;
}

#requestly-dashboard-layout {
  .hp-app-layout {
    height: 100%;
  }

  .hp-content-main {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  #requestly-dashboard-layout {
    .hidden-on-small-screen {
      display: none;
    }
  }
}
