#dashboardMainContent {
  height: 100%;
}

#requestly-dashboard-layout {
  > .ant-layout {
    height: 100%;
    flex-direction: row;
  }

  .hp-content-main {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  #requestly-dashboard-layout {
    .hp-app-layout {
      height: 100%;
    }

    .hidden-on-small-screen {
      display: none;
    }
  }
}
