.app-layout {
  --app-header-height: 40px;
  --app-footer-height: 27px;
  --app-sidebar-width: 64px;

  width: 100vw;
  height: 100vh;
  display: grid;
}

.app-layout.app-dashboard-layout {
  grid-template-columns: fit-content(var(--app-sidebar-width)) 1fr;
  grid-template-rows: fit-content(var(--app-header-height)) 1fr fit-content(var(--app-footer-height));
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.app-layout.app-dashboard-layout {
  &.read-role {
    --view-only-banner-height: 28px;

    .app-header {
      min-height: calc(var(--app-header-height) + var(--view-only-banner-height));
    }
  }
}

.app-header {
  grid-area: header;
  height: var(--app-header-height);

  &.app-mode-desktop {
    -webkit-app-region: drag;

    &.app-mode-desktop-macOS {
      padding-left: 65px;
    }

    &.app-mode-desktop-Windows {
      // TODO: TO be added when we add frameless option in Windows
      // padding-right: 65px;
    }

    &.app-mode-desktop-Linux {
      // TODO: TO be added when we add frameless option in Linux
      // padding-right: 65px;
    }
  }
}

.no-drag {
  -webkit-app-region: no-drag;
}

.app-sidebar {
  grid-area: sidebar;
  width: 100%;
  max-width: var(--app-sidebar-width);
  background-color: transparent;
}

.app-main-content {
  grid-area: main;
  overflow: auto !important;
  background-color: var(--requestly-color-background);
  border: 1px solid var(--requestly-color-white-t-10);
  border-radius: 4px;
  margin-right: var(--requestly-space-2, 4px);
}

.app-footer {
  grid-area: footer;
  height: 100%;
  max-height: var(--app-footer-height);
}

.app-main-content,
#dashboardMainContent {
  height: 100%;
}

#dashboardMainContent {
  overflow: hidden;
}

.app-layout .ant-layout-footer {
  height: 1.5rem;
  font-size: var(--requestly-font-size-xs, 11px);
  display: flex;
  align-items: center;
  padding: 0 2px;
  border-top: 1px solid var(--border-dark);
  background: transparent;
}

@media screen and (max-width: 768px) {
  #requestly-dashboard-layout .hidden-on-small-screen {
    display: none;
  }
}
