.feature-announcement-modal-body {
  padding: 16px;

  .new-tag {
    border-radius: 4px;
    width: max-content;
    padding: 2px 6px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--requestly-color-white);
    background-color: var(--requestly-color-primary-500);
  }

  .title-container {
    margin-top: 12px;
    margin-bottom: 16px;

    .title {
      font-size: 20px;
      font-weight: normal;
    }

    .caption {
      font-size: 11px;
      color: var(--requestly-color-text-placeholder);
      font-weight: 400;
      line-height: 130%; /* 14.3px */
    }
  }

  .feature-image {
    width: 100%;
    border-radius: 12px;
  }
}
