.block-screen-screen {
  display: flex;
  justify-content: center;
  padding: var(--space-15, 80px) 10px;
}

.block-screen-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8, 24px);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;

  .block-screen-message-icon img {
    width: 56px;
    height: 56px;
    aspect-ratio: 1/1;
  }

  .block-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-4, 8px);

    .block-screen-message-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      align-self: stretch;

      overflow: hidden;
      color: var(--requestly-color-text-default);
      text-align: center;
      text-overflow: ellipsis;

      font-size: var(--requestly-font-size-md, 14px);
      font-style: normal;
      font-weight: var(--requestly-font-weight-medium);
      line-height: 20px; /* 142.857% */
    }

    .block-screen-message-description {
      color: var(--requestly-color-text-subtle, #bbb);
      text-align: center;
      font-size: var(--requestly-font-size-sm, 12px);
      line-height: 18px; /* 150% */
    }

    .block-screen-message-contact-mail {
      display: inline-block;
      color: var(--requestly-color-primary-text);
      padding: 0 3px;
    }
  }
}
