.onboarding-recommendations-title.ant-typography {
  font-weight: 500;
  color: var(--requestly-color-text-default);
  margin-bottom: 24px;
}

.recommendation-title {
  font-weight: 500;
  font-size: 1rem;
  color: var(--requestly-color-text-default);
}

.recommendation-row {
  margin-top: 8px;
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

.getting-started-import-rules-title {
  font-weight: 500px;
  margin-top: 24px;
}
