.api-request-tabs {
  display: flex;
  flex-direction: column;

  .ant-tabs-tab {
    span:first-child {
      font-size: var(--requestly-font-size-xs);
      color: var(--requestly-color-text-subtle);
    }
    &.ant-tabs-tab-active {
      span:first-child {
        color: var(--requestly-color-text-default);
      }
    }
  }

  .ant-tabs-content-holder {
    overflow: auto;
    margin-bottom: 16px;
  }

  .ant-tabs-content,
  .ant-tabs-tabpane {
    height: 100%;
    overflow: auto;
  }

  .rq-content-list-table-container {
    padding: 0 0 1rem 0;
    max-width: unset;
  }

  .request-tab-label {
    display: flex;
    align-items: center;
    gap: 4px;

    .request-tab-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--requestly-color-success);
    }
  }

  .credentials-checkbox-label {
    font-size: var(--requestly-font-size-xs);
    color: var(--text-subtle);
  }
}
