.api-request-tabs {
  display: flex;
  flex-direction: column;

  .ant-tabs-tab {
    span:first-child {
      font-size: var(--requestly-font-size-xs);
      color: var(--requestly-color-text-subtle);
    }
    &.ant-tabs-tab-active {
      span:first-child {
        color: var(--requestly-color-text-default);
      }
    }
  }

  .ant-tabs-content-holder {
    overflow: auto;
    margin-bottom: 16px;
  }

  .ant-tabs-content,
  .ant-tabs-tabpane,
  .ant-tabs-tabpane {
    height: 100%;
  }

  .api-request-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .api-request-body-options {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .beautify-code {
        height: 22px;
        padding: 0;
      }
    }

    .react-resizable {
      min-height: 0 !important;
      margin-bottom: 0 !important;
      height: 100% !important;
    }

    .api-request-body-raw {
      height: 100%;
      width: 100%;
      resize: none;
    }
  }

  .rq-content-list-table-container {
    padding: 0 0 1rem 0;
    max-width: unset;
  }

  .request-tab-label {
    display: flex;
    align-items: center;
    gap: 4px;

    .request-tab-dot {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: var(--requestly-color-primary);
    }
  }
}
