.welcome-card-option {
  display: flex;
  padding: var(--space-6, 16px) var(--space-8, 24px);
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  cursor: pointer;

  &:hover {
    background: var(--requestly-color-surface-0);
  }

  &__icon {
    display: flex;
    width: 62px;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50%;
    border: 1px solid var(--stroke-glass, rgba(255, 255, 255, 0.4));
    background: rgba(255, 255, 255, 0.04);

    img {
      width: 29px;
      height: 29px;
      flex-shrink: 0;
    }
  }

  &__content {
    &-title {
      color: var(--requestly-color-text-default);
      font-size: var(--requestly-font-size-md);
      font-weight: var(--requestly-font-weight-medium);
    }

    &-description {
      color: var(--requestly-color-text-subtle);
      font-size: var(--requestly-font-size-sm);
      margin-top: 4px;
    }
  }
}
