.secrets-autocomplete-footer {
  .secrets-no-provider-message {
    padding: var(--space-2, 4px) var(--space-5, 12px) 10px;
    border-bottom: 1px solid var(--requestly-color-white-t-10, rgba(255, 255, 255, 0.06));
    color: var(--requestly-color-text-subtle, #bbb);
    font-family: var(--font-family-default, Inter);
    font-size: var(--font-size-xs, 11px);
    font-style: normal;
    font-weight: 400;
    line-height: 17px;

    .learn-more {
      color: var(--requestly-color-text-default, #fff);
      text-align: center;
      font-family: var(--font-family-default, Inter);
      font-size: var(--font-size-xs, 11px);
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      cursor: pointer;
    }
  }
  .secrets-upgrade-button,
  .secrets-add-provider-button {
    display: flex;
    padding: var(--space-2, 4px) var(--space-5, 12px);
    align-items: center;
    gap: var(--space-2, 4px);
    justify-content: flex-start;
    color: var(--requestly-color-text-default, #fff);
    text-align: center;
    cursor: pointer;
    font-family: var(--font-family-default, Inter);
    font-size: var(--font-size-xs, 11px);
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
  }
}
