.draft-session-viewer-wrapper {
  display: flex;
  justify-content: center;
  background: var(--requestly-color-background);
  width: 100%;
  height: 100%;
}

.draft-session-viewer-container {
  width: 100%;
  height: 100%;
  background: var(--requestly-color-background);
  overflow: auto;
  max-width: 1600px;

  .draft-session-viewer-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .draft-session-viewer-actions {
      display: flex;
      gap: 8px;
    }
  }

  .draft-session-viewer-body-wrapper {
    display: flex;
    padding: 0 1rem;
  }

  .draft-session-header-breadcrumb {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm);

    &__parent {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    &__current {
      color: var(--requestly-color-text-default);
      font-weight: 500;
    }
  }
}
