.draft-session-viewer-container {
  width: 100%;
  height: 100%;
  background: var(--requestly-color-background);
  overflow: hidden;

  .draft-session-viewer-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .draft-session-viewer-actions {
      display: flex;
      gap: 8px;
    }
  }
}
