.rule-editor-header-action-btns .ant-btn {
  font-size: var(--requestly-font-size-sm, 13px);
}

.rule-editor-header-action-btns {
  display: flex;
  align-items: center;
  gap: 8px;
  width: min-content;
}

.rule-header-share-btn-icon {
  width: 16px;
  height: 18px;
}
