.workspace-selector-dropdown {
  height: 36px;
  padding: 4px 9px 4px 5px;
  border-radius: var(--border-radius-sm);
}

.workspace-selector-dropdown:hover {
  background-color: var(--hover-color);
}

.workspace-selector-dropdown .workspace-avatar.ant-avatar {
  margin-right: 8px;
}

.active-workspace-name {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active-workspace-name-down-icon.anticon {
  font-size: 9px;
  margin-top: 1px;
  margin-left: 4px;
}

.workspace-divider.ant-divider {
  margin: 8px 0;
}

.workspace-avatar.ant-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.ant-dropdown .ant-dropdown-placement-bottomLeft {
  border-radius: var(--border-radius-md);
}

.workspaces-menu.ant-dropdown-menu {
  width: 16.25rem;
  background-color: var(--component-dark-background);
}

.workspaces-menu.ant-dropdown-menu .ant-dropdown-menu-item-group-list {
  margin: 0 4px;
  max-height: 12.5rem;
  overflow: auto;
}

.workspaces-menu.ant-dropdown-menu .ant-dropdown-menu-item-group-title {
  font-size: 13px;
}

.workspaces-menu.ant-dropdown-menu .workspace-menu-item {
  padding: 5px;
  margin-bottom: 2px;
}

.workspace-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.workspace-item-wrapper span.ant-tag.ant-tag-gold {
  flex-shrink: 0;
  font-size: 12px;
}

.workspace-name-container {
  font-size: 13px;
  line-height: 14.06px;
}

.archived-workspace-item {
  max-width: 112px;
}

.workspace-name-container .workspace-name {
  font-weight: 500;
  margin-bottom: 1px;
}

.workspace-name-container .workspace-name,
.workspace-name-container .workspace-details {
  max-width: 137px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active-workspace-dropdownItem {
  border-radius: var(--border-radius-sm);
  background-color: var(--gray-dark);
}

.join-workspace-menu-dropdown-trigger {
  padding: 6px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.join-workspace-menu-dropdown-trigger div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.join-workspace-menu-dropdown-container.ant-dropdown {
  left: 268px !important;
}

.join-workspace-invite-count-badge.ant-badge .ant-badge-count {
  box-shadow: none;
  border-radius: 4px;
}

.join-workspace-dropdown:hover {
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  background-color: var(--hover-color);
}

.join-workspace-menu.ant-dropdown-menu {
  top: -49px;
  left: 96%;
  width: 16.25rem;
}

.ant-dropdown .join-workspace-menu.ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 8px;
}

.workspace-selector-tooltip.ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
  color: var(--text-gray);
  background-color: var(--border-dark);
  border-radius: var(--border-radius-sm);
  font-size: 12px;
}

.workspace-selector-tooltip.ant-tooltip-placement-bottomRight {
  padding-top: 7px;
}

.ant-dropdown-menu-item .ant-dropdown-menu-title-content span.join-existing-workspace-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
