.workspace-selector-dropdown {
  padding: var(--requestly-space-2, 4px);
  border-radius: var(--border-radius-sm);
}

.workspace-selector-dropdown__content {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--requestly-font-size-sm);
}

.workspace-selector-dropdown__content .cursor-pointer.items-center .active-workspace-name .active-workspace-text {
  color: var(--requestly-color-text-default);
  font-family: var(--requestly-font-family-default);
  font-size: var(--requestly-font-size-sm);
  font-style: normal;
  font-weight: 500;
  line-height: var(--requestly-font-line-height-sm);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.workspace-selector-dropdown__content .local-workspace-avatar {
  border-radius: 39px;
  border: 1px solid var(--requestly-color-white-t-20);
  background: var(--requestly-color-surface-2);
  box-shadow: -2px 0 4px 1px rgba(0, 0, 0, 0.16);
  display: flex;
  padding: 3.2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.local-sync-refresh-btn.ant-btn {
  margin: 0 16px 0 4px;
}

.local-sync-refresh-btn.ant-btn:hover,
.local-sync-refresh-btn.ant-btn:focus {
  color: var(--requestly-color-text-default);
}

.workspace-selector-dropdown:hover {
  background-color: var(--requestly-color-surface-2);
}

.active-workspace-name {
  font-size: var(--requestly-font-size-sm);
  font-weight: var(--requestly-font-weight-medium);
  color: var(--requestly-color-text-default);
  max-width: 25ch;
  overflow: hidden;
  margin-left: 2px;
}

.active-workspace-name .ant-badge .ant-badge-dot {
  width: 10px;
  height: 10px;
  top: 5px;
  background: var(--requestly-color-primary);
  animation: blink 2.5s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active-workspace-name-down-icon.anticon {
  font-size: var(--requestly-font-size-2xs, 9px);
  margin-bottom: 3px;
  margin-left: 10px;
}
.active-workspace-name-down-icon.anticon svg {
  width: 8px;
  height: 8px;
  margin-top: 3px;
  stroke: white;
  stroke-width: 80px;
}

.workspace-divider.ant-divider {
  margin: 8px 0;
}

.workspace-avatar.ant-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 4px;
}

.ant-dropdown .ant-dropdown-placement-bottomLeft {
  border-radius: var(--border-radius-md);
}

.workspaces-menu.ant-dropdown-menu {
  width: 290px;
  background-color: var(--requestly-color-surface-0);
}

.workspaces-menu.ant-dropdown-menu .ant-dropdown-menu-item-group-list {
  margin: 0 4px;
  max-height: 12.5rem;
  overflow: auto;
}

.workspaces-menu.ant-dropdown-menu .ant-dropdown-menu-item-group-title {
  font-size: var(--requestly-font-size-sm, 13px);
}

.workspaces-menu.ant-dropdown-menu .workspace-menu-item {
  padding: 5px;
  margin-bottom: 2px;
}

.workspace-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.workspace-item-wrapper .tag-current {
  margin-left: 20px;
}
.workspace-item-wrapper .workspace-checkbox-wrapper.single-workspace-hover .ant-checkbox-wrapper .ant-checkbox {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.workspace-item-wrapper .workspace-checkbox-wrapper.single-workspace-hover:hover .ant-checkbox-wrapper .ant-checkbox {
  opacity: 1;
}
.workspace-item-wrapper .workspace-checkbox-wrapper.multi-workspace-no-hover .ant-checkbox-wrapper .ant-checkbox {
  opacity: 1;
}
.workspace-item-wrapper span.ant-tag.ant-tag-gold {
  flex-shrink: 0;
  font-size: var(--requestly-font-size-sm, 12px);
}

.workspace-name-container {
  font-size: var(--requestly-font-size-sm, 13px);
  line-height: 14.06px;
}

.archived-workspace-item {
  max-width: 112px;
}

.workspace-name-container .workspace-name {
  font-weight: 500;
  margin-bottom: 1px;
}

.workspace-name-container .workspace-name,
.workspace-name-container .workspace-details {
  max-width: 137px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active-workspace-dropdownItem {
  border-radius: var(--border-radius-sm);
  background-color: var(--gray-dark);
}

.join-workspace-menu-dropdown-trigger {
  padding: 6px;
  font-size: var(--requestly-font-size-sm, 13px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.join-workspace-menu-dropdown-trigger div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.join-workspace-menu-dropdown-container.ant-dropdown {
  left: 268px !important;
}

.join-workspace-invite-count-badge.ant-badge .ant-badge-count {
  box-shadow: none;
  border-radius: 4px;
}

.join-workspace-dropdown:hover {
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  background-color: var(--requestly-color-surface-2);
}

.join-workspace-menu.ant-dropdown-menu {
  top: -49px;
  left: 96%;
  width: 16.25rem;
}

.ant-dropdown .join-workspace-menu.ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 8px;
}

.workspace-selector-tooltip.ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
  color: var(--text-gray);
  background-color: var(--border-dark);
  border-radius: var(--border-radius-sm);
  font-size: var(--requestly-font-size-sm, 12px);
}

.workspace-selector-tooltip.ant-tooltip-placement-bottomRight {
  padding-top: 7px;
}

.ant-dropdown-menu-item .ant-dropdown-menu-title-content span.join-existing-workspace-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.local-workspace-avatar {
  background: var(--requestly-color-white-t-20);
}
