.tabs-container {
  flex: auto;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .ant-tabs.tabs-content,
  .tabs-content > .ant-tabs-content-holder {
    height: 100%;

    .ant-tabs-content,
    .ant-tabs-tabpane {
      height: 100%;
    }
  }

  .ant-tabs.tabs-content {
    & > .ant-tabs-nav {
      margin-bottom: 0;

      .ant-tabs-nav-wrap {
        height: 32px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0px 12px;

        .ant-tabs-nav-list {
          display: flex;
          align-items: center;
          gap: 12px;

          .ant-tabs-nav-add {
            width: 24px;
            height: 24px;
            min-width: 24px;
            border-radius: 4px;
            padding: 0;
            border: none;
            background-color: transparent;
            margin-left: -6px;
            color: var(--requestly-color-text-default);

            &:hover {
              background: var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
            }

            svg {
              width: 10px;
              height: 14px;
            }
          }
        }

        .ant-tabs-tab {
          padding: 0 4px;
          width: 144px;
          max-width: 144px;
          border-radius: 0;
          border: none;
          background: none;
          border-bottom: 2px solid transparent;

          .ant-tabs-tab-btn {
            width: 100%;
            overflow: hidden;
          }

          .tab-close-button {
            flex-shrink: 0;
            display: none;
          }

          &:hover {
            .tab-close-button {
              display: flex;
            }

            .unsaved-changes-indicator {
              display: none;
            }
          }
        }

        .ant-tabs-tab + .ant-tabs-tab {
          margin: 0;
        }

        .ant-tabs-tab-active {
          border-bottom: 2px solid var(--requestly-color-primary, #004eeb);

          .tab-title {
            .icon,
            .title {
              color: var(--requestly-color-text-default);
            }
          }
        }
      }

      .ant-tabs-nav-operations {
        .ant-tabs-nav-more {
          cursor: pointer;
          padding: 1px 8px;
        }

        .ant-tabs-nav-add {
          width: 32px;
          min-width: 24px;
          border-radius: 0;
          padding: 0;
          border: none;
          background-color: transparent;
          margin-left: -6px;
          color: var(--requestly-color-text-default);

          &:hover {
            background: var(--requestly-color-white-t-20, rgba(255, 255, 255, 0.12));
          }

          svg {
            width: 10px;
            height: 14px;
          }
        }
      }
    }
  }

  .tab-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    .tab-title {
      user-select: none;
      display: flex;
      align-items: center;
      gap: 6px;
      flex-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .icon {
        display: flex;
        width: 12px;
        height: 14px;
        justify-content: center;
        flex-shrink: 0;
        color: var(--requestly-color-text-subtle, #bbb);
      }

      .title {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 8px 0;
        color: var(--requestly-color-text-subtle, #bbb);
        font-size: var(--requestly-font-size-xs, 11px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--requestly-font-line-height-xs, 15px);
      }
    }

    .tab-actions {
      flex-shrink: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: var(--requestly-color-background);
    }

    .unsaved-changes-indicator {
      flex-shrink: 0;
      width: 18px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--requestly-color-primary-soft);
      }
    }
  }
}

.tabs-content-more-dropdown {
  .ant-tabs-dropdown-menu {
    max-width: 250px;

    .ant-tabs-dropdown-menu-item {
      .tab-title-container {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: nowrap;
        font-size: var(--requestly-font-size-xs, 11px);
        max-width: 250px;

        .tab-title {
          display: flex;
          align-items: center;
          gap: 4px;
          flex-wrap: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          .icon {
            display: flex;
            align-items: center;
            font-size: 13px;
          }

          .title {
            font-size: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 170px;
          }
        }
      }

      .tab-actions {
        margin-left: auto;
      }
    }
  }
}
