.invite-skip-button {
  position: absolute !important;
  top: 12px;
  right: 12px;
}

.invite-content {
  text-align: center;
  border: 1px solid var(--border-dark);
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  background-color: var(--requestly-color-surface-1);
  padding: 40px 40px 0 40px;
  box-shadow: 5px 0px 20px var(--background);
}

.invite-accept-avatar-image {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
}

.invite-subheader {
  margin-top: 1.5em;
  margin-bottom: 20px;
}

.invite-container {
  height: 80vh;
  align-items: center;
}

.invite-footer {
  text-align: center;
  padding: 9px 1.25rem;
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
  border: 1px solid var(--border-dark);
  background-color: var(--requestly-color-surface-0);
  box-shadow: 5px 10px 20px var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.invite-footer button.ant-btn {
  font-size: var(--requestly-font-size-sm, 13px);
}

.invite-accept-lottie-animation {
  margin: auto;
  display: flex;
  width: 80%;
}
