.getting-started-screen-wrapper {
  padding: 24px 0;
}

.getting-started-screen-banner {
  padding: 28px 0;
  padding-left: 40px;
  background: var(--requestly-color-primary);
  border-radius: var(--border-radius-md);
  background-image: url("/assets/media/onboarding/banner-art.svg");

  & .get-started-title {
    font-size: 10px;
    font-weight: 500;
    color: var(--requestly-color-text-default);
    letter-spacing: 1.5px;
  }

  & .welcome-title.ant-typography {
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 0;
    color: var(--requestly-color-text-default);
  }

  & .getting-started-banner-by-line.ant-typography {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.getting-started-body {
  margin-top: 24px;
  gap: 24px;
  display: flex;
  justify-content: center;
}

.getting-started-recommendations-wrapper {
  width: 100%;
  max-width: 800px !important;
}
