.auth-in-progess-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .auth-in-progess-card-header {
    color: var(--requestly-color-text-default);

    span {
      font-size: var(--requestly-font-size-lg);
      font-weight: 500;
      line-height: 22px; /* 137.5% */
    }
  }

  .auth-in-progess-card-description {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-xs);
    line-height: 17px; /* 154.545% */
  }

  .auth-in-progess-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
  }

  .auth-in-progess-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
