.coming-soon-view-full {
  display: flex;
  justify-content: center;
  width: 100%;
  height: inherit;
  padding: var(--space-12, 56px) 0px;

  .coming-soon-title {
    color: var(--requestly-color-text-default);
    font-size: var(--requestly-font-size-md, 14px);
    font-weight: var(--requestly-font-weight-medium);
  }

  .coming-soon-description {
    color: var(--requestly-color-text-subtle);
    font-size: var(--requestly-font-size-sm, 12px);
    margin-top: var(--space-5, 12px);
  }
}
