.action-loading-modal {
  .loading-modal-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .loading-modal-spinner {
    color: var(--requestly-color-text-default);
    font-size: 1.5rem;
  }

  .loading-modal-title {
    color: var(--requestly-color-text-default);
    font-weight: 500;
    font-size: 1.125rem;
  }

  .loading-modal-message {
    font-size: var(--requestly-font-size-sm);
    color: var(--requestly-color-text-subtle);
    margin-top: 1rem;
  }
}
